## 加载SQL

In [1]:
%load_ext sql

In [2]:
%sql mysql+pymysql://root:yxfabc123@localhost/

## 查询

In [3]:
%sql show databases

 * mysql+pymysql://root:***@localhost/
9 rows affected.

[('ds',),
 ('First',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('Stocks',),
 ('sys',),
 ('TeachYourSql；',),
 ('Test',)]

In [4]:
%sql use Test

 * mysql+pymysql://root:***@localhost/
0 rows affected.

[]

In [5]:
%sql show tables

 * mysql+pymysql://root:***@localhost/
2 rows affected.

[('user',), ('user_ext',)]

In [14]:
%%sql
SELECT * FROM user 
WHERE score >=80

 * mysql+pymysql://root:***@localhost/
5 rows affected.

[(1, '小明', 100, '男'),
 (2, '小红', 98, '女'),
 (3, '小聪', 80, '男'),
 (5, '小筱', 98, '女'),
 (6, '小灵', 92, '女')]

## 导出到 Pandas

In [6]:
d1=%sql select * from user;
d2=%sql select * from user_ext;

 * mysql+pymysql://root:***@localhost/
6 rows affected.
 * mysql+pymysql://root:***@localhost/
6 rows affected.

In [10]:
d1.DataFrame()

   id students  score gender
0   1       小明    100      男
1   2       小红     98      女
2   3       小聪     80      男
3   4       小亮     60      男
4   5       小筱     98      女
5   6       小灵     92      女

In [9]:
d2.DataFrame()

   id students  age  height  weight
0   1       小明   11     135      40
1   2       小红    9     145      30
2   3       小聪   10     134      38
3   4       小亮   11     142      45
4   5       小筱   12     139      32
5   6       小灵   11     140      33