In [1]:
User = pd.read_clipboard()

In [2]:
User

   id students  score gender
0   1       小明    100      男
1   2       小红     98      女
2   3       小聪     80      男
3   4       小亮     60      男
4   5       小筱     98      女
5   6       小灵     92      女

In [5]:
user_ext = pd.read_clipboard()

In [6]:
user_ext

   id students  age  height  weight
0   1       小明   11     135      40
1   2       小红    9     145      30
2   3       小聪   10     134      38
3   4       小亮   11     142      45
4   5       小筱   12     139      32
5   6       小灵   11     140      33

In [9]:
import pymysql

In [2]:
from sqlalchemy import create_engine

db_flag = "mysql"
host_ip = "localhost"
host_port = 3306
db_name = "Test"
table_name = "user_ext"
user = "root"
pawd = "yxfabc123"
charset = "utf-8"

engine_config = '%s%s%s%s%s%s%s%s%s%s%s' % ('mysql+pymysql://', user, ':', pawd, '@', host_ip, ':',host_port, '/', db_name,'?charset=UTF8MB4')
# print(engine_config)
engine = create_engine(engine_config)
conn = engine.connect()

In [1]:
user_ext.to_sql( table_name, conn, if_exists='append',index=False)

NameError: name 'user_ext' is not defined

In [17]:
pd.read_sql('user',conn)

   id students  score gender
0   1       小明    100      男
1   2       小红     98      女
2   3       小聪     80      男
3   4       小亮     60      男
4   5       小筱     98      女
5   6       小灵     92      女