# 时间序列

In [101]:
import pandas as pd
import numpy as np

## 返回当前时刻的日期和时

In [3]:
from datetime import datetime

In [4]:
datetime.now()

datetime.datetime(2020, 2, 23, 17, 34, 11, 580744)

In [9]:
datetime.now().month, datetime.now().day

(2, 23)

In [8]:
datetime.now().year

2020

## 返回当前时刻的周数

In [14]:
datetime.now().weekday() + 1  #当前时刻是一周中的周几

7

In [16]:
datetime.now().isocalendar()  #当前时刻所在的周在全年的周里面是第几周

(2020, 8, 7)

## 指定时间格式

In [19]:
datetime.now().date()

datetime.date(2020, 2, 23)

In [24]:
datetime.now().time()

datetime.time(17, 59, 28, 459304)

In [25]:
datetime.now().time().hour

17

In [26]:
datetime.now().time().minute

59

In [27]:
datetime.now().time().second

58

In [33]:
a = datetime.now()
a

datetime.datetime(2020, 2, 23, 18, 3, 45, 33914)

In [34]:
a.strftime("%Y-%M-%D")

'2020-03-02/23/20'

In [36]:
a.strftime("%Y-%M-%D %H: %M: %S")

'2020-03-02/23/20 18: 03: 45'

### 时间转为字符串

In [37]:
str(a)

'2020-02-23 18:03:45.033914'

### 字符串转为时间

In [38]:
from dateutil.parser import parse

In [39]:
str_time = '2020-2-23'

In [41]:
b = parse(str_time)
b

datetime.datetime(2020, 2, 23, 0, 0)

In [42]:
type(b)

datetime.datetime

## 时间索引

时间索引就是根据时间来对时间格式的字段进行数据选取的一种索引方式。

In [52]:
Index = pd.DatetimeIndex([
    '2020-2-23', '2020-2-24', '2020-2-25', '2020-2-26', '2020-2-27',
    '2020-2-28', '2020-3-1'
])

In [53]:
df = pd.DataFrame(np.random.randint(1, 9, 7), index=Index)
df

            0
2020-02-23  8
2020-02-24  1
2020-02-25  4
2020-02-26  2
2020-02-27  4
2020-02-28  3
2020-03-01  5

In [56]:
df['2020-3']

            0
2020-03-01  5

In [64]:
df['2020-02-24':'2020-3-1']

            0
2020-02-24  1
2020-02-25  4
2020-02-26  2
2020-02-27  4
2020-02-28  3
2020-03-01  5

In [65]:
df = pd.read_clipboard()

In [66]:
df

  客户姓名  唯一识别码  年龄        成交时间
0   张通    101  31  2018-08-08
1   李谷    102  45  2018-08-09
2   孙凤    103  23  2018-08-10
3   赵恒    104  36  2018-08-11
4   王娜    105  21  2018-08-11

In [71]:
df.dtypes

客户姓名     object
唯一识别码     int64
年龄        int64
成交时间     object
dtype: object

In [ ]:
df.成交时间 = df.成交时间.apply(pd.to_datetime)

In [81]:
df.dtypes

客户姓名             object
唯一识别码             int64
年龄                int64
成交时间     datetime64[ns]
dtype: object

In [84]:
df[df.成交时间 == datetime(2018, 8, 8)]

  客户姓名  唯一识别码  年龄       成交时间
0   张通    101  31 2018-08-08

In [85]:
df[df.成交时间 > datetime(2018, 8, 8)]

  客户姓名  唯一识别码  年龄       成交时间
1   李谷    102  45 2018-08-09
2   孙凤    103  23 2018-08-10
3   赵恒    104  36 2018-08-11
4   王娜    105  21 2018-08-11

In [86]:
df[(df.成交时间 >= datetime(2018, 8, 8)) & (df.成交时间 <= datetime(2018, 8, 10))]

  客户姓名  唯一识别码  年龄       成交时间
0   张通    101  31 2018-08-08
1   李谷    102  45 2018-08-09
2   孙凤    103  23 2018-08-10

## 时间运算

In [88]:
delt_time = datetime(2020, 2, 23, 18, 45, 34) - datetime(2020, 1, 23, 20, 5, 3)
delt_time

datetime.timedelta(days=30, seconds=81631)

In [89]:
delt_time.days

30

In [90]:
delt_time.seconds

81631

In [93]:
print('相差%u小时' % (delt_time.seconds / 3600))

相差22小时

In [92]:
delt_time.seconds / 3600

22.67527777777778

### timedelta 方法

In [98]:
from datetime import timedelta
datetime(2020, 2, 23, 18, 45, 34) + timedelta(days=1)

datetime.datetime(2020, 2, 24, 18, 45, 34)

In [99]:
datetime(2020, 2, 23, 18, 45, 34) + timedelta(hours=1)

datetime.datetime(2020, 2, 23, 19, 45, 34)

### offset 方法

In [103]:
from pandas.tseries.offsets import Day, Hour, Minute

In [104]:
datetime(2020, 2, 23, 18, 45, 34) + Day(2)

Timestamp('2020-02-25 18:45:34')

In [106]:
datetime(2020, 2, 23, 18, 45, 34) + Minute(3)

Timestamp('2020-02-23 18:48:34')