In [1]:
import pandas as pd

In [6]:
df=pd.read_excel("./BCOM Index彭博商品指数.xlsx",index_col="date",parse_dates=True)
df.head(100)

              price
date
1991-02-06  94.5185
1991-02-07  94.1007
1991-02-08  95.0833
1991-02-11  95.3890
1991-02-12  95.7509
...             ...
1991-06-24  91.8721
1991-06-25  92.1998
1991-06-26  92.4053
1991-06-27  92.2597
1991-06-28  91.8192

[100 rows x 1 columns]

In [17]:
df=df.resample("M").mean()
df

                price
date
1991-02-28  94.677750
1991-03-31  96.980585
1991-04-30  97.304050
1991-05-31  95.356882
1991-06-30  93.377865
...               ...
2020-12-31  75.757650
2021-01-31  80.124837
2021-02-28  84.294168
2021-03-31  84.745874
2021-04-30  85.413637

[363 rows x 1 columns]

In [18]:
df.to_excel("./Month_data/BCOM Index彭博商品指数.xlsx")

In [10]:
ls

BCOM Index彭博商品指数.xlsx
BCOM Index彭博商品指数一个月远期.xlsx
DJ US REAL ESTATE INDEX Index道琼斯美国房地产指数.xlsx
DOW JONES INDUS. AVG Index道琼斯平均工业指数.xlsx
LBUSTRUU Index彭博巴克莱美国综合债券指数.xlsx
LUGCTRUU Index彭博巴克莱美国政府债信用债指数.xlsx
Month_data/
S&P 500 INDEX Index标准普尔500指数.xlsx
未命名.ipynb

In [19]:
df1=pd.read_excel("./BCOM Index彭博商品指数一个月远期.xlsx",index_col="date",parse_dates=True)
df1=df1.resample("M").mean()
df1.to_excel("./Month_data/BCOM Index彭博商品指数一个月远期.xlsx")

In [20]:
df2=pd.read_excel("./DJ US REAL ESTATE INDEX Index道琼斯美国房地产指数.xlsx",index_col="date",parse_dates=True)
df2=df2.resample("M").mean()
df2.to_excel("./Month_data/DJ US REAL ESTATE INDEX Index道琼斯美国房地产指数.xlsx")

In [21]:
df3=pd.read_excel("./DOW JONES INDUS. AVG Index道琼斯平均工业指数.xlsx",index_col="date",parse_dates=True)
df3=df3.resample("M").mean()
df3.to_excel("./Month_data/DOW JONES INDUS. AVG Index道琼斯平均工业指数.xlsx")

In [22]:
df4=pd.read_excel("./LBUSTRUU Index彭博巴克莱美国综合债券指数.xlsx",index_col="date",parse_dates=True)
df4=df4.resample("M").mean()
df4.to_excel("./Month_data/LBUSTRUU Index彭博巴克莱美国综合债券指数.xlsx")

In [23]:
df5=pd.read_excel("./LUGCTRUU Index彭博巴克莱美国政府债信用债指数.xlsx",index_col="date",parse_dates=True)
df5=df5.resample("M").mean()
df5.to_excel("./Month_data/LUGCTRUU Index彭博巴克莱美国政府债信用债指数.xlsx")

In [24]:
df6=pd.read_excel("./S&P 500 INDEX Index标准普尔500指数.xlsx",index_col="date",parse_dates=True)
df6=df6.resample("M").mean()
df6.to_excel("./Month_data/S&P 500 INDEX Index标准普尔500指数.xlsx")