In [39]:
import pandas as pd
data =pd.ExcelFile('C:\\Users\\倪鑫\\Desktop\\111.xlsx')

In [40]:
df=pd.read_excel(data)
print(df)
print(df.loc[1])

         证券代码        会计期间          营业收入         营业成本'         营业利润'  \
0           2  2000-12-31  3.783669e+09  2.839928e+09  3.688866e+08
1           2  2001-12-31  4.455065e+09  3.434440e+09  4.948748e+08
2           2  2002-12-31  4.574360e+09  3.472886e+09  5.227655e+08
3           2  2003-12-31  6.380060e+09  4.639878e+09  8.165257e+08
4           2  2004-12-31  7.667226e+09  5.297370e+09  1.259303e+09
5           2  2005-12-31  1.055885e+10  6.884921e+09  1.958371e+09
6           2  2006-12-31  1.784821e+10  1.120187e+10  3.388930e+09
7           2  2007-12-31  3.552661e+10  2.060734e+10  7.652897e+09
8           2  2008-12-31  4.099178e+10  2.500527e+10  6.364790e+09
9           2  2009-12-31  4.888101e+10  3.451472e+10  8.685083e+09
10          2  2010-12-31  5.071385e+10  3.007350e+10  1.189489e+10
11          2  2011-12-31  7.178275e+10  4.322816e+10  1.576322e+10
12          2  2012-12-31  1.031162e+11  6.542161e+10  2.101304e+10
13          2  2013-12-31  1.354188e+11  9.279765e+10  2.426134e+10
14          2  2014-12-31  1.463880e+11  1.025571e+11  2.497936e+10
15          2  2015-12-31  1.955491e+11  1.381506e+11  3.312278e+10
16          2  2016-12-31  2.404772e+11  1.697424e+11  3.902378e+10
17          2  2017-12-31  2.428971e+11  1.600799e+11  5.081292e+10
18          2  2018-12-31  2.976793e+11  1.861042e+11  6.749861e+10
19          4  2000-12-31  1.310066e+08  8.286335e+07  2.633153e+07
20          4  2001-12-31  6.198446e+07  2.726361e+07  3.069791e+06
21          4  2002-12-31  1.212256e+08  6.434228e+07  6.052798e+06
22          4  2003-12-31  1.195350e+08  6.821154e+07  4.712437e+06
23          4  2004-12-31  1.067478e+08  6.916958e+07 -7.519875e+06
24          4  2005-12-31  6.137672e+07  3.704227e+07 -2.188818e+07
25          4  2006-12-31  4.563900e+07  2.390982e+07  5.426256e+06
26          4  2007-12-31  4.044954e+07  2.473051e+07 -9.619521e+06
27          4  2008-12-31  4.331482e+07  2.307595e+07 -1.034787e+07
28          4  2009-12-31  6.008060e+07  2.991424e+07  8.463830e+06
29          4  2010-12-31  1.313315e+08  7.800781e+07  2.471872e+07
...       ...         ...           ...           ...           ...
31110  603989  2015-12-31  1.308500e+09  8.546500e+08  2.620128e+08
31111  603989  2016-12-31  1.553647e+09  1.011767e+09  3.078439e+08
31112  603989  2017-12-31  1.792503e+09  1.185155e+09  3.369384e+08
31113  603989  2018-12-31  2.165574e+09  1.508612e+09  3.384206e+08
31114  603990  2016-12-31  2.406430e+08  7.500582e+07  2.411151e+07
31115  603990  2017-12-31  2.686801e+08  7.061504e+07  5.288578e+07
31116  603990  2018-12-31  2.842769e+08  7.259047e+07  6.047364e+07
31117  603991  2017-12-31  4.274459e+08  3.304699e+08  4.187601e+07
31118  603991  2018-12-31  5.697776e+08  4.383207e+08  4.362311e+07
31119  603993  2012-12-31  5.710894e+09  4.009217e+09  1.046979e+09
31120  603993  2013-12-31  5.536469e+09  3.733468e+09  1.009961e+09
31121  603993  2014-12-31  6.662382e+09  3.871430e+09  2.138190e+09
31122  603993  2015-12-31  4.196840e+09  2.622448e+09  7.272668e+08
31123  603993  2016-12-31  6.949571e+09  4.623818e+09  7.511686e+08
31124  603993  2017-12-31  2.414756e+10  1.521194e+10  5.377079e+09
31125  603993  2018-12-31  2.596286e+10  1.618025e+10  7.057984e+09
31126  603997  2014-12-31  1.017917e+09  6.269797e+08  2.330406e+08
31127  603997  2015-12-31  1.048068e+09  6.689598e+08  1.926526e+08
31128  603997  2016-12-31  1.465508e+09  9.436951e+08  2.950491e+08
31129  603997  2017-12-31  1.902072e+09  1.274426e+09  3.582847e+08
31130  603997  2018-12-31  2.151347e+09  1.438051e+09  3.814268e+08
31131  603998  2014-12-31  4.156132e+08  2.175513e+08  9.500133e+07
31132  603998  2015-12-31  4.685586e+08  2.060776e+08  1.088865e+08
31133  603998  2016-12-31  5.342568e+08  2.710867e+08  8.398862e+07
31134  603998  2017-12-31  7.207693e+08  2.884993e+08  8.020663e+07
31135  603998  2018-12-31  1.051077e+09  2.729194e+08  9.208308e+07
31136  603999  2015-12-31  8.252161e+08  6.359018e+08  7.437992e+07
31137  603999  2016-12-31  7.508776e+08  5.734561e+08  5.832741e+07
31138  603999  2017-12-31  7.897934e+08  6.130852e+08  5.963062e+07
31139  603999  2018-12-31  7.607087e+08  6.034264e+08  3.788142e+07

              利润总额'          净利润'       流动资产合计'         资产总计'       流动负债合计'  \
0      3.861418e+08  3.111773e+08  5.032578e+09  5.622247e+09  2.532706e+09
1      5.018522e+08  3.819693e+08  6.063931e+09  6.482912e+09  3.045488e+09
2      5.200111e+08  3.980483e+08  7.739099e+09  8.215822e+09  3.055543e+09
3      8.303667e+08  5.658906e+08  1.021102e+10  1.056104e+10  4.776800e+09
4      1.260329e+09  9.126537e+08  1.516632e+10  1.553442e+10  6.283756e+09
5      1.976182e+09  1.433426e+09  1.988493e+10  2.199239e+10  1.085976e+10
6      3.396518e+09  2.308440e+09  4.467779e+10  4.850792e+10  2.188497e+10
7      7.641606e+09  5.317501e+09  9.543252e+10  1.000945e+11  4.877398e+10
8      6.322286e+09  4.639869e+09  1.134564e+11  1.192366e+11  6.455372e+10
9      8.617428e+09  6.430008e+09  1.303233e+11  1.376086e+11  6.805828e+10
10     1.194075e+10  8.839611e+09  2.055207e+11  2.156376e+11  1.296508e+11
11     1.580588e+10  1.159961e+10  2.826467e+11  2.962084e+11  2.007242e+11
12     2.107019e+10  1.566259e+10  3.627737e+11  3.788016e+11  2.598336e+11
13     2.429101e+10  1.829755e+10  4.420466e+11  4.792053e+11  3.289218e+11
14     2.525236e+10  1.928752e+10  4.648057e+11  5.084088e+11  3.456540e+11
15     3.380262e+10  2.594944e+10  5.470244e+11  6.112956e+11  4.200618e+11
16     3.925361e+10  2.835026e+10  7.212954e+11  8.306742e+11  5.799985e+11
17     5.114195e+10  3.720839e+10  1.017553e+12  1.165347e+12  8.473554e+11
18     6.746020e+10  4.927229e+10  1.295072e+12  1.528579e+12  1.121914e+12
19     2.356538e+07  2.248743e+07  3.173201e+08  5.082067e+08  3.873043e+08
20     1.296595e+07  1.284772e+07  1.448561e+08  2.220088e+08  9.428447e+07
21     8.592439e+06  8.212732e+06  1.908168e+08  2.636146e+08  1.269947e+08
22     8.773927e+06  7.641382e+06  1.705153e+08  2.378752e+08  9.945576e+07
23    -4.015379e+06 -3.282932e+06  1.527262e+08  2.142702e+08  8.114253e+07
24    -2.039574e+07 -1.857741e+07  1.192909e+08  1.558688e+08  5.513254e+07
25     6.396100e+06  3.055159e+06  1.498017e+08  2.043046e+08  9.122187e+07
26    -8.979085e+06 -1.000197e+07  1.212791e+08  1.698226e+08  6.143596e+07
27    -1.036195e+07 -1.148419e+07  9.468238e+07  1.678106e+08  7.192814e+07
28     7.184461e+06  4.532534e+06  1.616156e+08  2.305121e+08  1.300971e+08
29     2.463577e+07  2.020127e+07  9.949818e+07  1.842194e+08  5.420318e+07
...             ...           ...           ...           ...           ...
31110  2.686024e+08  2.274721e+08  1.498385e+09  2.044945e+09  2.614869e+08
31111  3.123789e+08  2.636895e+08  1.652140e+09  2.284503e+09  4.493552e+08
31112  3.420342e+08  2.925194e+08  1.517531e+09  2.331111e+09  4.434442e+08
31113  3.513258e+08  2.993509e+08  2.308526e+09  3.313785e+09  6.648949e+08
31114  4.923045e+07  4.520572e+07  4.605065e+08  6.903431e+08  2.153224e+08
31115  5.551712e+07  5.111090e+07  3.913071e+08  6.265027e+08  1.891913e+08
31116  6.043721e+07  5.506237e+07  4.542802e+08  7.172126e+08  2.407609e+08
31117  4.485605e+07  3.795733e+07  3.807987e+08  6.277970e+08  1.600818e+08
31118  4.340613e+07  3.800502e+07  5.443696e+08  8.174149e+08  3.171007e+08
31119  1.096957e+09  1.016376e+09  7.613406e+09  1.574932e+10  1.305634e+09
31120  1.236182e+09  1.084911e+09  7.507135e+09  2.189914e+10  2.044019e+09
31121  2.148060e+09  1.800202e+09  1.507259e+10  2.805488e+10  2.999874e+09
31122  6.828184e+08  7.031084e+08  1.600682e+10  3.088053e+10  8.768935e+09
31123  1.190141e+09  1.019238e+09  2.407257e+10  8.814684e+10  1.598167e+10
31124  5.381817e+09  3.595615e+09  3.904880e+10  9.783725e+10  1.350311e+10
31125  6.989857e+09  5.150042e+09  3.916438e+10  1.012161e+11  1.597874e+10
31126  2.416775e+08  2.039799e+08  5.748563e+08  1.069045e+09  2.801062e+08
31127  2.090551e+08  1.772137e+08  1.016309e+09  1.557526e+09  2.201906e+08
31128  3.030492e+08  2.508677e+08  1.356963e+09  1.933530e+09  3.889097e+08
31129  3.572516e+08  2.986655e+08  1.556401e+09  2.191817e+09  4.285148e+08
31130  3.803132e+08  3.157508e+08  1.812598e+09  2.533670e+09  6.149830e+08
31131  1.008551e+08  8.587419e+07  6.212277e+08  9.284256e+08  5.417651e+07
31132  1.147104e+08  9.691116e+07  6.979877e+08  1.066675e+09  9.440958e+07
31133  8.862304e+07  7.343483e+07  5.519608e+08  1.271003e+09  2.359849e+08
31134  8.036266e+07  6.462339e+07  5.130975e+08  1.372943e+09  2.822411e+08
31135  9.218672e+07  7.980690e+07  6.994061e+08  1.642659e+09  4.698113e+08
31136  9.736013e+07  9.752803e+07  1.512317e+09  1.917994e+09  1.330111e+08
31137  8.215841e+07  8.025138e+07  1.348654e+09  1.937285e+09  1.616204e+08
31138  7.149097e+07  7.141492e+07  1.187304e+09  1.983632e+09  1.655321e+08
31139  4.144005e+07  4.043026e+07  1.147699e+09  2.002016e+09  1.744550e+08

       ...   t-5Gpoa    t-5Roa    t-5Roe   t-5Cfoa   t-5Gmar  营运资本/总资本  \
0      ...       NaN       NaN       NaN       NaN       NaN  0.444639
1      ...       NaN       NaN       NaN       NaN       NaN  0.465600
2      ...       NaN       NaN       NaN       NaN       NaN  0.570065
3      ...       NaN       NaN       NaN       NaN       NaN  0.514554
4      ...  0.155487  0.106982  0.202815 -0.320177  0.231042  0.571798
5      ...  0.227418  0.162189  0.336350  0.198692  0.330933  0.410377
6      ...  0.350118  0.232526  0.557541 -1.239857  0.628833  0.469878
7      ...  0.644940  0.449919  0.998141 -1.736866  1.067582  0.466145
8      ...  0.325854  0.239933  0.591204  0.339572  0.660207  0.410131
9      ...  0.301979  0.227196  0.582269 -0.386488  0.628974  0.452479
10     ...  0.176141  0.134641  0.384051  0.142021  0.478717  0.351840
11     ...  0.081566  0.062762  0.185206  0.241955  0.229807  0.276570
12     ...  0.123686  0.092444  0.283955 -0.063095  0.359777  0.271752
13     ...  0.113900  0.086241  0.261351  0.099774  0.320648  0.236067
14     ...  0.061731  0.048451  0.191402  0.078958  0.262485  0.234362
15     ...  0.060757  0.048445  0.211548  0.038436  0.250711  0.207694
16     ...  0.048003  0.033494  0.154467  0.049953  0.176339  0.170099
17     ...  0.056032  0.039463  0.179353  0.005972  0.198281  0.146049
18     ...  0.083019  0.058978  0.258727  0.069334  0.288329  0.113280
19     ...       NaN       NaN       NaN       NaN       NaN -0.137708
20     ...       NaN       NaN       NaN       NaN       NaN  0.227791
21     ...       NaN       NaN       NaN       NaN       NaN  0.242104
22     ...       NaN       NaN       NaN       NaN       NaN  0.298726
23     ... -0.054271 -0.050708 -0.213150  0.001444 -0.210530  0.334081
24     ... -0.150272 -0.141549 -0.262479  0.463372 -0.538227  0.411618
25     ... -0.008332 -0.019565 -0.041587  0.056472 -0.018118  0.286728
26     ... -0.074632 -0.074171 -0.137389 -0.049015 -0.148517  0.352386
27     ... -0.029619 -0.038275 -0.066879  0.128056 -0.059454  0.135595
28     ...  0.176945  0.148265  0.231247  0.064467  0.449359  0.136732
29     ...  0.089277  0.083924  0.152705 -0.107157  0.399651  0.245875
...    ...       ...       ...       ...       ...       ...       ...
31110  ...  0.269617  0.229034  0.290524 -0.017530  0.786742  0.604857
31111  ...  0.340183  0.286885  0.371179  0.209120  1.216163  0.526497
31112  ...  0.334474  0.285620  0.388887  0.296319  0.987820  0.460762
31113  ...  0.308881  0.261655  0.373740 -0.353342  0.691764  0.495998
31114  ... -0.107275 -0.089130 -0.103201  0.000000 -0.167652  0.355163
31115  ... -0.112437 -0.093052 -0.116942 -0.064984 -0.165328  0.322610
31116  ... -0.120799 -0.101864 -0.126959 -0.103408 -0.157097  0.297707
31117  ... -0.092483 -0.078881 -0.124643  0.091522 -0.141519  0.351574
31118  ... -0.008437 -0.010431 -0.018231  0.016916 -0.024203  0.278034
31119  ...  1.662307  1.540719  2.225211 -0.107899  3.876134  0.400511
31120  ...  1.639326  1.435904  2.176545  2.558143  4.135915  0.249467
31121  ...  3.350134  2.807029  3.820012 -7.066064  4.920398  0.430325
31122  ...  0.782237  0.813667  1.352192  7.018414  1.122214  0.234383
31123  ...  0.005917  0.000182  0.000231  0.052914  0.016317  0.091789
31124  ...  0.189306  0.114649  0.194739 -0.511937  0.748787  0.261104
31125  ...  0.172583  0.119403  0.221191  0.483836  0.726737  0.229071
31126  ... -0.014285 -0.016163 -0.028015 -0.186157 -0.105113  0.275713
31127  ... -0.011130 -0.009553 -0.024522 -0.013839 -0.141172  0.511143
31128  ... -0.051910 -0.034187 -0.072856  0.095837 -0.210322  0.500666
31129  ... -0.065529 -0.047931 -0.097814 -0.089186 -0.255465  0.514590
31130  ...  0.129682  0.104552  0.142446  0.129173  0.136196  0.472680
31131  ... -0.069469 -0.058644 -0.068344  0.248133 -0.103238  0.610766
31132  ... -0.097407 -0.079625 -0.099673 -0.019924 -0.128514  0.565850
31133  ... -0.122560 -0.102760 -0.127956  0.047849 -0.141229  0.248604
31134  ... -0.118386 -0.099116 -0.131397 -0.033159 -0.139425  0.168147
31135  ... -0.009337 -0.006535 -0.007206  0.052723 -0.020857  0.139770
31136  ... -0.016266  0.000578  0.000662 -0.004607 -0.037029  0.719140
31137  ... -0.005086  0.005363  0.006958  0.034202 -0.012100  0.612731
31138  ... -0.006462  0.004947  0.006546  0.119089 -0.012309  0.515102
31139  ... -0.030893 -0.023971 -0.035384  0.017051 -0.048281  0.486132

             杠杆率     盈利增长指数    o-score   Z-Score
0       2.116330        NaN  -5.052892  0.089475
1       1.931260   0.227497  -4.544734  0.105448
2       1.715431   0.042095  -3.217556  0.203117
3       1.820687   0.421663  -3.425753  0.166115
4       1.683041   0.612774  -2.230157  0.231373
5       1.639856   0.570613  -2.740318  0.206275
6       1.539840   0.610436  -0.996825  0.317482
7       1.512573   1.303504   0.274383  0.358760
8       1.482710  -0.127434  -2.940203  0.238088
9       1.492500   0.385817  -1.657496  0.287567
10      1.338937   0.374743  -0.840128  0.347759
11      1.297021   0.312230  -1.255090  0.330856
12      1.276873   0.350269  -1.146736  0.334359
13      1.282100   0.168233  -1.448132  0.328591
14      1.295259   0.054104  -1.793704  0.313134
15      1.286976   0.345400  -1.243095  0.332684
16      1.241670   0.092519  -0.916088  0.371585
17      1.190742   0.312453   0.461431  0.450186
18      1.182234   0.324225   0.694010  0.467110
19      1.312164        NaN  -2.187293  0.324575
20      2.170504  -0.428671  -4.759113  0.155082
21      1.888429  -0.360764  -3.792808  0.211088
22      2.173254  -0.069569  -3.373829  0.219322
23      2.338109  -1.429625  -4.935501  0.204153
24      2.786728   4.658787  14.417773  1.126349
25      2.220175  -1.164456  -5.170774  0.175679
26      2.357470  -4.273797  -9.873243  0.060856
27      2.033374   0.148193   2.275095  0.603228
28      1.638357  -1.394676  -5.242139  0.188606
29      3.349250   3.456949   2.088265  0.362537
...          ...        ...        ...       ...
31110   7.334365   3.716494   2.410917  0.411799
31111   4.895169   0.159217  -5.317707  0.089547
31112   5.059119   0.109333  -5.830245  0.057519
31113   2.723686   0.023354  -5.704161  0.071620
31114   2.337198  -0.848988  -6.903601  0.036460
31115   3.250895   0.130629  -3.607972  0.199682
31116   2.938732   0.077312  -2.630696  0.270002
31117   3.771053  -0.310648  -4.020248  0.205327
31118   2.510918   0.001256  -3.993595  0.176770
31119   4.662428  25.743196  59.773275  2.898111
31120   2.431485   0.067431  -5.855105  0.086224
31121   2.173054   0.659309  -5.014199  0.114929
31122   2.363818  -0.609428  -5.881561  0.080305
31123   1.638115   0.449618  -1.842226  0.303003
31124   1.884090   2.527747   1.778417  0.430753
31125   1.960862   0.432312  -3.350160  0.213574
31126   3.759069  -0.960393  -7.093070  0.032389
31127   7.045622  -0.131220  -4.213072  0.208031
31128   4.971669   0.415623  -1.524118  0.322671
31129   5.078426   0.190530  -0.806310  0.387187
31130   4.070407   0.057205  -1.842856  0.313956
31131  10.735122  -0.728032  -0.038678  0.678769
31132   7.904666   0.128525   1.536146  0.640268
31133   4.363084  -0.242246  -1.813384  0.351441
31134   4.093624  -0.119990  -2.117661  0.319149
31135   3.100440   0.234954  -9.522188 -0.219591
31136   7.073216   0.222050  -3.703527  0.348420
31137   8.025120  -0.177145  -6.478561  0.126597
31138   8.204793  -0.110110  -6.919785  0.073475
31139   7.347954  -0.433868  -7.395526  0.052667

[31140 rows x 36 columns]
证券代码                      2
会计期间             2001-12-31
营业收入            4.45506e+09
营业成本'           3.43444e+09
营业利润'           4.94875e+08
利润总额'           5.01852e+08
净利润'            3.81969e+08
流动资产合计'         6.06393e+09
资产总计'           6.48291e+09
流动负债合计'         3.04549e+09
长期负债合计'            2.61e+08
非流动负债合计'        3.11341e+08
负债合计'           3.35683e+09
所有者权益合计'        3.12608e+09
公司自由现金流（原有）'   -7.49406e+08
企业自由现金流'        6.40439e+06
营运资金'           3.01844e+09
营运资本变动额         5.18571e+08
资产毛利率             0.0774115
ROA               0.0589194
ROE                0.122188
单位资产现金流         0.000987888
毛利率                0.229093
资产周转率              0.687201
长期负债股东权益比         0.0834911
流动比率'               1.99112
t-5Gpoa                 NaN
t-5Roa                  NaN
t-5Roe                  NaN
t-5Cfoa                 NaN
t-5Gmar                 NaN
营运资本/总资本             0.4656
杠杆率                 1.93126
盈利增长指数             0.227497
o-score            -4.54473
Z-Score            0.105448
Name: 1, dtype: object

证券代码            3.026485e+05
营业收入            8.372547e+09
营业成本'           6.782909e+09
营业利润'           5.430452e+08
利润总额'           5.756328e+08
净利润'            4.490988e+08
流动资产合计'         5.933882e+09
资产总计'           1.204813e+10
流动负债合计'         5.109424e+09
长期负债合计'         1.935662e+09
非流动负债合计'        2.085162e+09
负债合计'           7.181926e+09
所有者权益合计'        4.865158e+09
公司自由现金流（原有）'    6.070921e+08
企业自由现金流'        9.074713e+07
营运资金'           8.246449e+08
营运资本变动额         6.315753e+07
资产毛利率           7.560629e-01
ROA             7.447046e-01
ROE             9.745622e-02
单位资产现金流        -2.217971e-01
毛利率             2.607311e-01
资产周转率           6.673789e-01
长期负债股东权益比       1.947214e-01
流动比率'           2.107319e+00
t-5Gpoa        -5.598098e-01
t-5Roa         -6.038562e-01
t-5Roe          2.272612e-01
t-5Cfoa        -2.099484e-02
t-5Gmar         9.339527e+00
营运资本/总资本        1.003249e-01
杠杆率             3.120374e+00
盈利增长指数          6.229135e-01
o-score        -2.929372e+01
Z-Score        -1.588918e+00
dtype: float64

In [11]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
import datetime
sns.set()
mpl.rcParams['font.sans-serif'] = 'WenQuanYi Micro Hei'

In [8]:
print(df)

        证券代码'       会计期间'         营业收入'         营业成本'         营业利润'  \
0           2  2000-12-31  3.783669e+09  2.839928e+09  3.688866e+08
1           2  2001-12-31  4.455065e+09  3.434440e+09  4.948748e+08
2           2  2002-12-31  4.574360e+09  3.472886e+09  5.227655e+08
3           2  2003-12-31  6.380060e+09  4.639878e+09  8.165257e+08
4           2  2004-12-31  7.667226e+09  5.297370e+09  1.259303e+09
5           2  2005-12-31  1.055885e+10  6.884921e+09  1.958371e+09
6           2  2006-12-31  1.784821e+10  1.120187e+10  3.388930e+09
7           2  2007-12-31  3.552661e+10  2.060734e+10  7.652897e+09
8           2  2008-12-31  4.099178e+10  2.500527e+10  6.364790e+09
9           2  2009-12-31  4.888101e+10  3.451472e+10  8.685083e+09
10          2  2010-12-31  5.071385e+10  3.007350e+10  1.189489e+10
11          2  2011-12-31  7.178275e+10  4.322816e+10  1.576322e+10
12          2  2012-12-31  1.031162e+11  6.542161e+10  2.101304e+10
13          2  2013-12-31  1.354188e+11  9.279765e+10  2.426134e+10
14          2  2014-12-31  1.463880e+11  1.025571e+11  2.497936e+10
15          2  2015-12-31  1.955491e+11  1.381506e+11  3.312278e+10
16          2  2016-12-31  2.404772e+11  1.697424e+11  3.902378e+10
17          2  2017-12-31  2.428971e+11  1.600799e+11  5.081292e+10
18          2  2018-12-31  2.976793e+11  1.861042e+11  6.749861e+10
19          4  2000-12-31  1.310066e+08  8.286335e+07  2.633153e+07
20          4  2001-12-31  6.198446e+07  2.726361e+07  3.069791e+06
21          4  2002-12-31  1.212256e+08  6.434228e+07  6.052798e+06
22          4  2003-12-31  1.195350e+08  6.821154e+07  4.712437e+06
23          4  2004-12-31  1.067478e+08  6.916958e+07 -7.519875e+06
24          4  2005-12-31  6.137672e+07  3.704227e+07 -2.188818e+07
25          4  2006-12-31  4.563900e+07  2.390982e+07  5.426256e+06
26          4  2007-12-31  4.044954e+07  2.473051e+07 -9.619521e+06
27          4  2008-12-31  4.331482e+07  2.307595e+07 -1.034787e+07
28          4  2009-12-31  6.008060e+07  2.991424e+07  8.463830e+06
29          4  2010-12-31  1.313315e+08  7.800781e+07  2.471872e+07
...       ...         ...           ...           ...           ...
31110  603989  2015-12-31  1.308500e+09  8.546500e+08  2.620128e+08
31111  603989  2016-12-31  1.553647e+09  1.011767e+09  3.078439e+08
31112  603989  2017-12-31  1.792503e+09  1.185155e+09  3.369384e+08
31113  603989  2018-12-31  2.165574e+09  1.508612e+09  3.384206e+08
31114  603990  2016-12-31  2.406430e+08  7.500582e+07  2.411151e+07
31115  603990  2017-12-31  2.686801e+08  7.061504e+07  5.288578e+07
31116  603990  2018-12-31  2.842769e+08  7.259047e+07  6.047364e+07
31117  603991  2017-12-31  4.274459e+08  3.304699e+08  4.187601e+07
31118  603991  2018-12-31  5.697776e+08  4.383207e+08  4.362311e+07
31119  603993  2012-12-31  5.710894e+09  4.009217e+09  1.046979e+09
31120  603993  2013-12-31  5.536469e+09  3.733468e+09  1.009961e+09
31121  603993  2014-12-31  6.662382e+09  3.871430e+09  2.138190e+09
31122  603993  2015-12-31  4.196840e+09  2.622448e+09  7.272668e+08
31123  603993  2016-12-31  6.949571e+09  4.623818e+09  7.511686e+08
31124  603993  2017-12-31  2.414756e+10  1.521194e+10  5.377079e+09
31125  603993  2018-12-31  2.596286e+10  1.618025e+10  7.057984e+09
31126  603997  2014-12-31  1.017917e+09  6.269797e+08  2.330406e+08
31127  603997  2015-12-31  1.048068e+09  6.689598e+08  1.926526e+08
31128  603997  2016-12-31  1.465508e+09  9.436951e+08  2.950491e+08
31129  603997  2017-12-31  1.902072e+09  1.274426e+09  3.582847e+08
31130  603997  2018-12-31  2.151347e+09  1.438051e+09  3.814268e+08
31131  603998  2014-12-31  4.156132e+08  2.175513e+08  9.500133e+07
31132  603998  2015-12-31  4.685586e+08  2.060776e+08  1.088865e+08
31133  603998  2016-12-31  5.342568e+08  2.710867e+08  8.398862e+07
31134  603998  2017-12-31  7.207693e+08  2.884993e+08  8.020663e+07
31135  603998  2018-12-31  1.051077e+09  2.729194e+08  9.208308e+07
31136  603999  2015-12-31  8.252161e+08  6.359018e+08  7.437992e+07
31137  603999  2016-12-31  7.508776e+08  5.734561e+08  5.832741e+07
31138  603999  2017-12-31  7.897934e+08  6.130852e+08  5.963062e+07
31139  603999  2018-12-31  7.607087e+08  6.034264e+08  3.788142e+07

              利润总额'          净利润'       流动资产合计'         资产总计'       流动负债合计'  \
0      3.861418e+08  3.111773e+08  5.032578e+09  5.622247e+09  2.532706e+09
1      5.018522e+08  3.819693e+08  6.063931e+09  6.482912e+09  3.045488e+09
2      5.200111e+08  3.980483e+08  7.739099e+09  8.215822e+09  3.055543e+09
3      8.303667e+08  5.658906e+08  1.021102e+10  1.056104e+10  4.776800e+09
4      1.260329e+09  9.126537e+08  1.516632e+10  1.553442e+10  6.283756e+09
5      1.976182e+09  1.433426e+09  1.988493e+10  2.199239e+10  1.085976e+10
6      3.396518e+09  2.308440e+09  4.467779e+10  4.850792e+10  2.188497e+10
7      7.641606e+09  5.317501e+09  9.543252e+10  1.000945e+11  4.877398e+10
8      6.322286e+09  4.639869e+09  1.134564e+11  1.192366e+11  6.455372e+10
9      8.617428e+09  6.430008e+09  1.303233e+11  1.376086e+11  6.805828e+10
10     1.194075e+10  8.839611e+09  2.055207e+11  2.156376e+11  1.296508e+11
11     1.580588e+10  1.159961e+10  2.826467e+11  2.962084e+11  2.007242e+11
12     2.107019e+10  1.566259e+10  3.627737e+11  3.788016e+11  2.598336e+11
13     2.429101e+10  1.829755e+10  4.420466e+11  4.792053e+11  3.289218e+11
14     2.525236e+10  1.928752e+10  4.648057e+11  5.084088e+11  3.456540e+11
15     3.380262e+10  2.594944e+10  5.470244e+11  6.112956e+11  4.200618e+11
16     3.925361e+10  2.835026e+10  7.212954e+11  8.306742e+11  5.799985e+11
17     5.114195e+10  3.720839e+10  1.017553e+12  1.165347e+12  8.473554e+11
18     6.746020e+10  4.927229e+10  1.295072e+12  1.528579e+12  1.121914e+12
19     2.356538e+07  2.248743e+07  3.173201e+08  5.082067e+08  3.873043e+08
20     1.296595e+07  1.284772e+07  1.448561e+08  2.220088e+08  9.428447e+07
21     8.592439e+06  8.212732e+06  1.908168e+08  2.636146e+08  1.269947e+08
22     8.773927e+06  7.641382e+06  1.705153e+08  2.378752e+08  9.945576e+07
23    -4.015379e+06 -3.282932e+06  1.527262e+08  2.142702e+08  8.114253e+07
24    -2.039574e+07 -1.857741e+07  1.192909e+08  1.558688e+08  5.513254e+07
25     6.396100e+06  3.055159e+06  1.498017e+08  2.043046e+08  9.122187e+07
26    -8.979085e+06 -1.000197e+07  1.212791e+08  1.698226e+08  6.143596e+07
27    -1.036195e+07 -1.148419e+07  9.468238e+07  1.678106e+08  7.192814e+07
28     7.184461e+06  4.532534e+06  1.616156e+08  2.305121e+08  1.300971e+08
29     2.463577e+07  2.020127e+07  9.949818e+07  1.842194e+08  5.420318e+07
...             ...           ...           ...           ...           ...
31110  2.686024e+08  2.274721e+08  1.498385e+09  2.044945e+09  2.614869e+08
31111  3.123789e+08  2.636895e+08  1.652140e+09  2.284503e+09  4.493552e+08
31112  3.420342e+08  2.925194e+08  1.517531e+09  2.331111e+09  4.434442e+08
31113  3.513258e+08  2.993509e+08  2.308526e+09  3.313785e+09  6.648949e+08
31114  4.923045e+07  4.520572e+07  4.605065e+08  6.903431e+08  2.153224e+08
31115  5.551712e+07  5.111090e+07  3.913071e+08  6.265027e+08  1.891913e+08
31116  6.043721e+07  5.506237e+07  4.542802e+08  7.172126e+08  2.407609e+08
31117  4.485605e+07  3.795733e+07  3.807987e+08  6.277970e+08  1.600818e+08
31118  4.340613e+07  3.800502e+07  5.443696e+08  8.174149e+08  3.171007e+08
31119  1.096957e+09  1.016376e+09  7.613406e+09  1.574932e+10  1.305634e+09
31120  1.236182e+09  1.084911e+09  7.507135e+09  2.189914e+10  2.044019e+09
31121  2.148060e+09  1.800202e+09  1.507259e+10  2.805488e+10  2.999874e+09
31122  6.828184e+08  7.031084e+08  1.600682e+10  3.088053e+10  8.768935e+09
31123  1.190141e+09  1.019238e+09  2.407257e+10  8.814684e+10  1.598167e+10
31124  5.381817e+09  3.595615e+09  3.904880e+10  9.783725e+10  1.350311e+10
31125  6.989857e+09  5.150042e+09  3.916438e+10  1.012161e+11  1.597874e+10
31126  2.416775e+08  2.039799e+08  5.748563e+08  1.069045e+09  2.801062e+08
31127  2.090551e+08  1.772137e+08  1.016309e+09  1.557526e+09  2.201906e+08
31128  3.030492e+08  2.508677e+08  1.356963e+09  1.933530e+09  3.889097e+08
31129  3.572516e+08  2.986655e+08  1.556401e+09  2.191817e+09  4.285148e+08
31130  3.803132e+08  3.157508e+08  1.812598e+09  2.533670e+09  6.149830e+08
31131  1.008551e+08  8.587419e+07  6.212277e+08  9.284256e+08  5.417651e+07
31132  1.147104e+08  9.691116e+07  6.979877e+08  1.066675e+09  9.440958e+07
31133  8.862304e+07  7.343483e+07  5.519608e+08  1.271003e+09  2.359849e+08
31134  8.036266e+07  6.462339e+07  5.130975e+08  1.372943e+09  2.822411e+08
31135  9.218672e+07  7.980690e+07  6.994061e+08  1.642659e+09  4.698113e+08
31136  9.736013e+07  9.752803e+07  1.512317e+09  1.917994e+09  1.330111e+08
31137  8.215841e+07  8.025138e+07  1.348654e+09  1.937285e+09  1.616204e+08
31138  7.149097e+07  7.141492e+07  1.187304e+09  1.983632e+09  1.655321e+08
31139  4.144005e+07  4.043026e+07  1.147699e+09  2.002016e+09  1.744550e+08

       ...   t-5Gpoa    t-5Roa    t-5Roe   t-5Cfoa   t-5Gmar  营运资本/总资本  \
0      ...       NaN       NaN       NaN       NaN       NaN  0.444639
1      ...       NaN       NaN       NaN       NaN       NaN  0.465600
2      ...       NaN       NaN       NaN       NaN       NaN  0.570065
3      ...       NaN       NaN       NaN       NaN       NaN  0.514554
4      ...  0.155487  0.106982  0.202815 -0.320177  0.231042  0.571798
5      ...  0.227418  0.162189  0.336350  0.198692  0.330933  0.410377
6      ...  0.350118  0.232526  0.557541 -1.239857  0.628833  0.469878
7      ...  0.644940  0.449919  0.998141 -1.736866  1.067582  0.466145
8      ...  0.325854  0.239933  0.591204  0.339572  0.660207  0.410131
9      ...  0.301979  0.227196  0.582269 -0.386488  0.628974  0.452479
10     ...  0.176141  0.134641  0.384051  0.142021  0.478717  0.351840
11     ...  0.081566  0.062762  0.185206  0.241955  0.229807  0.276570
12     ...  0.123686  0.092444  0.283955 -0.063095  0.359777  0.271752
13     ...  0.113900  0.086241  0.261351  0.099774  0.320648  0.236067
14     ...  0.061731  0.048451  0.191402  0.078958  0.262485  0.234362
15     ...  0.060757  0.048445  0.211548  0.038436  0.250711  0.207694
16     ...  0.048003  0.033494  0.154467  0.049953  0.176339  0.170099
17     ...  0.056032  0.039463  0.179353  0.005972  0.198281  0.146049
18     ...  0.083019  0.058978  0.258727  0.069334  0.288329  0.113280
19     ...       NaN       NaN       NaN       NaN       NaN -0.137708
20     ...       NaN       NaN       NaN       NaN       NaN  0.227791
21     ...       NaN       NaN       NaN       NaN       NaN  0.242104
22     ...       NaN       NaN       NaN       NaN       NaN  0.298726
23     ... -0.054271 -0.050708 -0.213150  0.001444 -0.210530  0.334081
24     ... -0.150272 -0.141549 -0.262479  0.463372 -0.538227  0.411618
25     ... -0.008332 -0.019565 -0.041587  0.056472 -0.018118  0.286728
26     ... -0.074632 -0.074171 -0.137389 -0.049015 -0.148517  0.352386
27     ... -0.029619 -0.038275 -0.066879  0.128056 -0.059454  0.135595
28     ...  0.176945  0.148265  0.231247  0.064467  0.449359  0.136732
29     ...  0.089277  0.083924  0.152705 -0.107157  0.399651  0.245875
...    ...       ...       ...       ...       ...       ...       ...
31110  ...  0.269617  0.229034  0.290524 -0.017530  0.786742  0.604857
31111  ...  0.340183  0.286885  0.371179  0.209120  1.216163  0.526497
31112  ...  0.334474  0.285620  0.388887  0.296319  0.987820  0.460762
31113  ...  0.308881  0.261655  0.373740 -0.353342  0.691764  0.495998
31114  ... -0.107275 -0.089130 -0.103201  0.000000 -0.167652  0.355163
31115  ... -0.112437 -0.093052 -0.116942 -0.064984 -0.165328  0.322610
31116  ... -0.120799 -0.101864 -0.126959 -0.103408 -0.157097  0.297707
31117  ... -0.092483 -0.078881 -0.124643  0.091522 -0.141519  0.351574
31118  ... -0.008437 -0.010431 -0.018231  0.016916 -0.024203  0.278034
31119  ...  1.662307  1.540719  2.225211 -0.107899  3.876134  0.400511
31120  ...  1.639326  1.435904  2.176545  2.558143  4.135915  0.249467
31121  ...  3.350134  2.807029  3.820012 -7.066064  4.920398  0.430325
31122  ...  0.782237  0.813667  1.352192  7.018414  1.122214  0.234383
31123  ...  0.005917  0.000182  0.000231  0.052914  0.016317  0.091789
31124  ...  0.189306  0.114649  0.194739 -0.511937  0.748787  0.261104
31125  ...  0.172583  0.119403  0.221191  0.483836  0.726737  0.229071
31126  ... -0.014285 -0.016163 -0.028015 -0.186157 -0.105113  0.275713
31127  ... -0.011130 -0.009553 -0.024522 -0.013839 -0.141172  0.511143
31128  ... -0.051910 -0.034187 -0.072856  0.095837 -0.210322  0.500666
31129  ... -0.065529 -0.047931 -0.097814 -0.089186 -0.255465  0.514590
31130  ...  0.129682  0.104552  0.142446  0.129173  0.136196  0.472680
31131  ... -0.069469 -0.058644 -0.068344  0.248133 -0.103238  0.610766
31132  ... -0.097407 -0.079625 -0.099673 -0.019924 -0.128514  0.565850
31133  ... -0.122560 -0.102760 -0.127956  0.047849 -0.141229  0.248604
31134  ... -0.118386 -0.099116 -0.131397 -0.033159 -0.139425  0.168147
31135  ... -0.009337 -0.006535 -0.007206  0.052723 -0.020857  0.139770
31136  ... -0.016266  0.000578  0.000662 -0.004607 -0.037029  0.719140
31137  ... -0.005086  0.005363  0.006958  0.034202 -0.012100  0.612731
31138  ... -0.006462  0.004947  0.006546  0.119089 -0.012309  0.515102
31139  ... -0.030893 -0.023971 -0.035384  0.017051 -0.048281  0.486132

             杠杆率     盈利增长指数    o-score   Z-Score
0       2.116330        NaN  -5.052892  0.089475
1       1.931260   0.227497  -4.544734  0.105448
2       1.715431   0.042095  -3.217556  0.203117
3       1.820687   0.421663  -3.425753  0.166115
4       1.683041   0.612774  -2.230157  0.231373
5       1.639856   0.570613  -2.740318  0.206275
6       1.539840   0.610436  -0.996825  0.317482
7       1.512573   1.303504   0.274383  0.358760
8       1.482710  -0.127434  -2.940203  0.238088
9       1.492500   0.385817  -1.657496  0.287567
10      1.338937   0.374743  -0.840128  0.347759
11      1.297021   0.312230  -1.255090  0.330856
12      1.276873   0.350269  -1.146736  0.334359
13      1.282100   0.168233  -1.448132  0.328591
14      1.295259   0.054104  -1.793704  0.313134
15      1.286976   0.345400  -1.243095  0.332684
16      1.241670   0.092519  -0.916088  0.371585
17      1.190742   0.312453   0.461431  0.450186
18      1.182234   0.324225   0.694010  0.467110
19      1.312164        NaN  -2.187293  0.324575
20      2.170504  -0.428671  -4.759113  0.155082
21      1.888429  -0.360764  -3.792808  0.211088
22      2.173254  -0.069569  -3.373829  0.219322
23      2.338109  -1.429625  -4.935501  0.204153
24      2.786728   4.658787  14.417773  1.126349
25      2.220175  -1.164456  -5.170774  0.175679
26      2.357470  -4.273797  -9.873243  0.060856
27      2.033374   0.148193   2.275095  0.603228
28      1.638357  -1.394676  -5.242139  0.188606
29      3.349250   3.456949   2.088265  0.362537
...          ...        ...        ...       ...
31110   7.334365   3.716494   2.410917  0.411799
31111   4.895169   0.159217  -5.317707  0.089547
31112   5.059119   0.109333  -5.830245  0.057519
31113   2.723686   0.023354  -5.704161  0.071620
31114   2.337198  -0.848988  -6.903601  0.036460
31115   3.250895   0.130629  -3.607972  0.199682
31116   2.938732   0.077312  -2.630696  0.270002
31117   3.771053  -0.310648  -4.020248  0.205327
31118   2.510918   0.001256  -3.993595  0.176770
31119   4.662428  25.743196  59.773275  2.898111
31120   2.431485   0.067431  -5.855105  0.086224
31121   2.173054   0.659309  -5.014199  0.114929
31122   2.363818  -0.609428  -5.881561  0.080305
31123   1.638115   0.449618  -1.842226  0.303003
31124   1.884090   2.527747   1.778417  0.430753
31125   1.960862   0.432312  -3.350160  0.213574
31126   3.759069  -0.960393  -7.093070  0.032389
31127   7.045622  -0.131220  -4.213072  0.208031
31128   4.971669   0.415623  -1.524118  0.322671
31129   5.078426   0.190530  -0.806310  0.387187
31130   4.070407   0.057205  -1.842856  0.313956
31131  10.735122  -0.728032  -0.038678  0.678769
31132   7.904666   0.128525   1.536146  0.640268
31133   4.363084  -0.242246  -1.813384  0.351441
31134   4.093624  -0.119990  -2.117661  0.319149
31135   3.100440   0.234954  -9.522188 -0.219591
31136   7.073216   0.222050  -3.703527  0.348420
31137   8.025120  -0.177145  -6.478561  0.126597
31138   8.204793  -0.110110  -6.919785  0.073475
31139   7.347954  -0.433868  -7.395526  0.052667

[31140 rows x 36 columns]

In [93]:
print(df['证券代码'])
print(df.index

0             2
1             2
2             2
3             2
4             2
5             2
6             2
7             2
8             2
9             2
10            2
11            2
12            2
13            2
14            2
15            2
16            2
17            2
18            2
19            4
20            4
21            4
22            4
23            4
24            4
25            4
26            4
27            4
28            4
29            4
          ...
31110    603989
31111    603989
31112    603989
31113    603989
31114    603990
31115    603990
31116    603990
31117    603991
31118    603991
31119    603993
31120    603993
31121    603993
31122    603993
31123    603993
31124    603993
31125    603993
31126    603997
31127    603997
31128    603997
31129    603997
31130    603997
31131    603998
31132    603998
31133    603998
31134    603998
31135    603998
31136    603999
31137    603999
31138    603999
31139    603999
Name: 证券代码, Length: 31140, dtype: int64

TypeError: 'RangeIndex' object is not callable

# 【课程2.3】pandas.Series基础

## pd.Series是带有标签的一维数组，可以保存任何数据类型，标签称为索引

In [1]:
#Series是带有标签的一维数组，可以保存任何数据类型，标签称为索引
import pandas as pd
import numpy as np
ar=np.random.rand(6)#从0-1的均匀分布中qq生成数组
s=pd.Series(ar,index=list('abcdef'))#标签为abcdef，数组创建Series
print(ar)
print(s)

[0.24562321 0.40184147 0.67322083 0.09358807 0.06979126 0.81399922]
a    0.245623
b    0.401841
c    0.673221
d    0.093588
e    0.069791
f    0.813999
dtype: float64

In [6]:
print(s)
print(type(s))
print('--------------')
print(s.index)#索引的标签
print(s.values,type(s.values))#只看Series的值的时候就是ndarray

a    0.118946
b    0.139940
c    0.337905
d    0.900847
e    0.611076
f    0.259278
dtype: float64
<class 'pandas.core.series.Series'>
--------------
Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')
[0.11894637 0.13993952 0.337905   0.90084711 0.61107576 0.25927814] <class 'numpy.ndarray'>

## 由字典创建Series

In [7]:
#由字典创建Series
dic={'李宁':1,'特步':2,'安踏':3}
s=pd.Series(dic)
print(s)

李宁    1
特步    2
安踏    3
dtype: int64

In [4]:
import pandas as pd
import numpy as np
dic={'jack':90,'marry':92,'tom':89}
a=pd.Series(dic)
print(a)
print('--------------')

jack     90
marry    92
tom      89
dtype: int64
--------------

## np.array创建

In [9]:
arr=np.array([90,92,89])
b=pd.Series(arr,index=('jack','marry','tom'))
print(b)

jack     90
marry    92
tom      89
dtype: int32

## np.arange创建

In [24]:
xy=np.arange(0,100,10)#生成0-100，步长为10的整数
w=pd.Series(xy,index=list('abcdefghij'))
print(xy)
print('-----------')
print(w)
print('---------')
print(w[['b','c']])#索引查看bc对应的values

[ 0 10 20 30 40 50 60 70 80 90]
-----------
a     0
b    10
c    20
d    30
e    40
f    50
g    60
h    70
i    80
j    90
dtype: int32
---------
b    10
c    20
dtype: int32

In [33]:
for index,element in np.ndenumerate(w):#遍历Seies中的每一个值，查看大于50的值
    if element>50:
        print(element)
    else:
        print('')

60
70
80
90

In [34]:
# 作业1：创建一个Series，包含10个元素，且每个值为0-100的均匀分布随机值，index为a-j，请分别筛选出：
# ① 标签为b，c的值为多少
# ② Series中第4到6个值是哪些？
# ③ Series中大于50的值有哪些？

s = pd.Series(np.random.rand(10)*100, index = list('abcdefghij'))#rand本身创建0-1之间的随机浮点数
print('创建Series为：\n', s, '\n------')
print('标签为b，c的值为:\n', s['b'], s['c'],'\n------')
print('Series中第4到6个值为:\n', s[3:6],'\n------')
print('Series中大于50的值为:\n', s[s>50],'\n------')

创建Series为：
 a    66.745749
b    99.545712
c     5.026319
d    91.349477
e    56.745042
f    15.258957
g    69.386706
h     7.965449
i    92.523265
j     7.793371
dtype: float64
------
标签为b，c的值为:
 99.54571225287508 5.026318957265296
------
Series中第4到6个值为:
 d    91.349477
e    56.745042
f    15.258957
dtype: float64
------
Series中大于50的值为:
 a    66.745749
b    99.545712
d    91.349477
e    56.745042
g    69.386706
i    92.523265
dtype: float64
------

## 索引
### 普通索引

In [40]:
#索引
a=pd.Series(np.random.rand(10))
print(a)
print('-----')
print(a[4])#第五个值
print(type(a[4]))
print(a[[1,8]])#索引多个[[]]，如果换成字母里面1换成a加引号‘a’

0    0.161300
1    0.642325
2    0.452596
3    0.346143
4    0.311092
5    0.064601
6    0.773637
7    0.181154
8    0.826327
9    0.189510
dtype: float64
-----
0.3110921522073943
<class 'numpy.float64'>
1    0.642325
8    0.826327
dtype: float64

In [42]:
print(a[1:5],a[2])#无标签则左闭右开，有标签就按标签

1    0.642325
2    0.452596
3    0.346143
4    0.311092
dtype: float64 0.45259631840709547

### 布尔型索引

In [47]:
# 布尔型索引

s = pd.Series(np.random.rand(3)*100)
s[4] = np.nan  # 添加一个空值，也可以用None替换为np.nan
print(s)
bs1 = s > 50
bs2 = s.isnull()#是否为空值
bs3 = s.notnull()
print(bs1, type(bs1), bs1.dtype)
print(bs2, type(bs2), bs2.dtype)
print(bs3, type(bs3), bs3.dtype)
print('-----')
# 数组做判断之后，返回的是一个由布尔值组成的新的数组
# .isnull() / .notnull() 判断是否为空值 (None代表空值，NaN代表有问题的数值，两个都会识别为空值)

print(s[s > 50])
print(s[bs3])
# 布尔型索引方法：用[判断条件]表示，其中判断条件可以是 一个语句，
#或者是 一个布尔型数组！

0    86.979241
1    41.545211
2    37.902430
4          NaN
dtype: float64
0     True
1    False
2    False
4    False
dtype: bool <class 'pandas.core.series.Series'> bool
0    False
1    False
2    False
4     True
dtype: bool <class 'pandas.core.series.Series'> bool
0     True
1     True
2     True
4    False
dtype: bool <class 'pandas.core.series.Series'> bool
-----
0    86.979241
dtype: float64
0    86.979241
1    41.545211
2    37.902430
dtype: float64


# 【课程2.4】  Pandas数据结构Series：基本技巧

- 数据查看 / 重新索引 / 对齐 / 添加、修改、删除值

'''

## 数据查看 .head()tail()

In [49]:
# 数据查看

s = pd.Series(np.random.rand(50))
print(s.head(10))
print(s.tail())
# .head()查看头部数据
# .tail()查看尾部数据
# 默认查看5条

0    0.905719
1    0.777654
2    0.205129
3    0.864942
4    0.419442
5    0.867186
6    0.671115
7    0.435479
8    0.824567
9    0.691863
dtype: float64
45    0.336662
46    0.619114
47    0.765977
48    0.753454
49    0.514085
dtype: float64

## 重新索引reindex,不是改变名称的方法
- reindex将会根据索引重新排序，如果当前索引不存在，则引入缺失值

In [50]:
# 重新索引reindex,不是改变名称的方法
# .reindex将会根据索引重新排序，如果当前索引不存在，则引入缺失值

s = pd.Series(np.random.rand(3), index = ['a','b','c'])
print(s)
s1 = s.reindex(['c','b','a','d'])
print(s1)
# .reindex()中也是写列表
# 这里'd'索引不存在，所以值为NaN

s2 = s.reindex(['c','b','a','d'], fill_value = 0)
print(s2)
# fill_value参数：填充缺失值的值

a    0.640956
b    0.573520
c    0.959574
dtype: float64
c    0.959574
b    0.573520
a    0.640956
d         NaN
dtype: float64
c    0.959574
b    0.573520
a    0.640956
d    0.000000
dtype: float64

## Series对齐
- Series 和 ndarray 之间的主要区别是，Series 上的操作会根据标签自动对齐
- index顺序不会影响数值计算，以标签来计算
- 空值和任何值计算结果仍为空值

In [51]:
# Series对齐

s1 = pd.Series(np.random.rand(3), index = ['Jack','Marry','Tom'])
s2 = pd.Series(np.random.rand(3), index = ['Wang','Jack','Marry'])
print(s1)
print(s2)
print(s1+s2)
# Series 和 ndarray 之间的主要区别是，Series 上的操作会根据标签自动对齐
# index顺序不会影响数值计算，以标签来计算
# 空值和任何值计算结果仍为空值

Jack     0.347234
Marry    0.594795
Tom      0.925963
dtype: float64
Wang     0.511538
Jack     0.794620
Marry    0.879220
dtype: float64
Jack     1.141854
Marry    1.474015
Tom           NaN
Wang          NaN
dtype: float64

## 删除：.drop

In [55]:
# 删除：.drop

s = pd.Series(np.random.rand(5), index = list('ngjur'))
print(s)
s1 = s.drop('n',inplace=True)#改变原来的s
s2 = s.drop(['g','j'])
print(s1)
print(s2)
print(s)
# drop 删除元素之后返回副本(inplace=False)不改变原来的数组inplace=True,则会改变

n    0.759441
g    0.160100
j    0.376225
u    0.298200
r    0.684372
dtype: float64
None
u    0.298200
r    0.684372
dtype: float64
g    0.160100
j    0.376225
u    0.298200
r    0.684372
dtype: float64

## 添加
- 直接通过下标索引/标签index添加值

-通过.append方法，直接添加一个数组

In [56]:
# 添加

s1 = pd.Series(np.random.rand(5))
s2 = pd.Series(np.random.rand(5), index = list('ngjur'))
print(s1)
print(s2)
s1[5] = 100
s2['a'] = 100
print(s1)
print(s2)
print('-----')
# 直接通过下标索引/标签index添加值

s3 = s1.append(s2)
print(s3)
print(s1)
# 通过.append方法，直接添加一个数组
# .append方法生成一个新的数组，不改变之前的数组

0    0.116212
1    0.193259
2    0.413617
3    0.144261
4    0.759876
dtype: float64
n    0.182513
g    0.139377
j    0.147487
u    0.095046
r    0.067857
dtype: float64
0      0.116212
1      0.193259
2      0.413617
3      0.144261
4      0.759876
5    100.000000
dtype: float64
n      0.182513
g      0.139377
j      0.147487
u      0.095046
r      0.067857
a    100.000000
dtype: float64
-----
0      0.116212
1      0.193259
2      0.413617
3      0.144261
4      0.759876
5    100.000000
n      0.182513
g      0.139377
j      0.147487
u      0.095046
r      0.067857
a    100.000000
dtype: float64
0      0.116212
1      0.193259
2      0.413617
3      0.144261
4      0.759876
5    100.000000
dtype: float64

In [57]:
# 作业1：如图创建Series，并按照要求修改得到结果

s = pd.Series(np.arange(10), index = list('abcdefghij'))
print('创建s：\n',s,'\n------')
s[['a','e','f']] = 100#至今赋值新的就改变原来的
s.drop('b', inplace=True)
print('s修改后：\n',s,'\n------')

创建s：
 a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int32
------
s修改后：
 a    100
c      2
d      3
e    100
f    100
g      6
h      7
i      8
j      9
dtype: int32
------


# 【课程2.5】  Pandas数据结构Dataframe：基本概念及创建

- 二维数组"Dataframe：是一个表格型的数据结构，包含一组有序的列，其列的值类型可以是数值、字符串、布尔值等。

-Dataframe中的数据以一个或多个二维块存放，不是列表、字典或一维数组结构。

'''

## Dataframe 数据结构
- Dataframe是一个表格型的数据结构，“带有标签的二维数组”
-  Dataframe带有index（行标签）和columns（列标签）

In [1]:
# Dataframe 数据结构
# Dataframe是一个表格型的数据结构，“带有标签的二维数组”。
# Dataframe带有index（行标签）和columns（列标签）
import pandas as pd

data = {'name':['Jack','Tom','Mary'],
        'age':[18,19,20],
       'gender':['m','m','w']}
frame = pd.DataFrame(data)
print(frame)  
print(type(frame))
print(frame.index,'\n该数据类型为：',type(frame.index))
print(frame.columns,'\n该数据类型为：',type(frame.columns))
print(frame.values,'\n该数据类型为：',type(frame.values))
# 查看数据，数据类型为dataframe
# .index查看行标签
# .columns查看列标签
# .values查看值，数据类型为ndarray

   name  age gender
0  Jack   18      m
1   Tom   19      m
2  Mary   20      w
<class 'pandas.core.frame.DataFrame'>
RangeIndex(start=0, stop=3, step=1)
该数据类型为： <class 'pandas.core.indexes.range.RangeIndex'>
Index(['name', 'age', 'gender'], dtype='object')
该数据类型为： <class 'pandas.core.indexes.base.Index'>
[['Jack' 18 'm']
 ['Tom' 19 'm']
 ['Mary' 20 'w']]
该数据类型为： <class 'numpy.ndarray'>

In [9]:
data={'name':['jack','marry','tom'],'age':[18,19,20],'gender':['男','男','女']}
frame=pd.DataFrame(data,index=list('abc'))#改行标签为abc
print(frame)
print(frame.columns)#查看列标签

    name  age gender
a   jack   18      男
b  marry   19      男
c    tom   20      女
Index(['name', 'age', 'gender'], dtype='object')

## 索引，列切片，行一般不用切片

In [22]:
#索引，列切片，行一般不用切片
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.rand(12).reshape(3,4)*100,#生成3*4的二维数组
index=['1','2','3'] ,
columns=['a','b','c','d'])
print(df)
data1=df['a']#选择列标签
print(data1,type(data1))
data2=df[['a','b']]
print(data2)
data3=df.loc['1']#查看第1行
print(data3)
data4=df.loc[['2','1']]#查看多行，有顺序先2后1
print(data4,type(data4))
data5=df[:2]#选择到第二行，列所有。先列后行
print(data5)
data6=df.loc['2':'3']#索引第几行到第几行
print(data6)
print('-------------')
data7=df.iloc[1:2]#按整数位置索引,末端不包含
print(data7)
data8=df.iloc[-1]
print(data8)

           a          b          c          d
1   3.662987  87.378613  88.952826  47.918842
2  88.114205  73.941343  72.394288  60.798550
3  64.968576  20.299560  79.161894  54.569933
1     3.662987
2    88.114205
3    64.968576
Name: a, dtype: float64 <class 'pandas.core.series.Series'>
           a          b
1   3.662987  87.378613
2  88.114205  73.941343
3  64.968576  20.299560
a     3.662987
b    87.378613
c    88.952826
d    47.918842
Name: 1, dtype: float64
           a          b          c          d
2  88.114205  73.941343  72.394288  60.798550
1   3.662987  87.378613  88.952826  47.918842 <class 'pandas.core.frame.DataFrame'>
           a          b          c          d
1   3.662987  87.378613  88.952826  47.918842
2  88.114205  73.941343  72.394288  60.798550
           a          b          c          d
2  88.114205  73.941343  72.394288  60.798550
3  64.968576  20.299560  79.161894  54.569933
-------------
           a          b          c         d
2  88.114205  73.941343  72.394288  60.79855
a    64.968576
b    20.299560
c    79.161894
d    54.569933
Name: 3, dtype: float64

## df.iloc[] - 按照整数位置（从轴的0到length-1）选择行，无视行标签命名
- 类似list的索引，其顺序就是dataframe的整数位置，从0开始计算

In [19]:
# df.iloc[] - 按照整数位置（从轴的0到length-1）选择行，无视行标签命名
# 类似list的索引，其顺序就是dataframe的整数位置，从0开始计

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   index = ['one','two','three','four'],
                   columns = ['a','b','c','d'])
print(df)
print('------')

print(df.iloc[0])
print(df.iloc[-1])#索引最后一行
#print(df.iloc[4])
print('单位置索引\n-----')
# 单位置索引
# 和loc索引不同，不能索引超出数据行数的整数位置

print(df.iloc[[0,2]])
print(df.iloc[[3,2,1]])
print('多位置索引\n-----')
# 多位置索引
# 顺序可变

print(df.iloc[1:3])
print(df.iloc[::2])
print('切片索引')
# 切片索引
# 末端不包含

               a          b          c          d
one    89.426431  65.039313  41.068055  87.007500
two    23.258572  97.389295  91.647215  52.888891
three  17.543500  90.928083  68.113600  35.708613
four   76.675556  28.031588  29.835687  18.893165
------
a    89.426431
b    65.039313
c    41.068055
d    87.007500
Name: one, dtype: float64
a    76.675556
b    28.031588
c    29.835687
d    18.893165
Name: four, dtype: float64
单位置索引
-----
               a          b          c          d
one    89.426431  65.039313  41.068055  87.007500
three  17.543500  90.928083  68.113600  35.708613
               a          b          c          d
four   76.675556  28.031588  29.835687  18.893165
three  17.543500  90.928083  68.113600  35.708613
two    23.258572  97.389295  91.647215  52.888891
多位置索引
-----
               a          b          c          d
two    23.258572  97.389295  91.647215  52.888891
three  17.543500  90.928083  68.113600  35.708613
               a          b          c          d
one    89.426431  65.039313  41.068055  87.007500
three  17.543500  90.928083  68.113600  35.708613
切片索引

## 布尔型索引，多重布尔索引

In [3]:
#布尔型索引
df=pd.DataFrame(np.random.rand(16).reshape(4,4)*100,index=list('1234'),columns=['a','b','c','d'])
print(df)
d1=df<20
print(d1,type(d1))
print('-----------------')
print(df[d1])#对布尔值进行索引，只会保留真值，其他为缺失值
d2=df['a']>50#对单列判断大于50
print(d2)
print(df[d2])#只保留为True的行124
print('---------+')
d3=df[['a','d']]>50
print(d3)
print(df[d3])
d4=df.loc[['1','3']]>40#对多行进行判断
print(d4)
print(df[d4])
#多重索引，同时索引行和列
print('+++===')
d5=df['b'].loc[['1','4']]#索引第b列第1,4行
print(d5)
d6=df[['a','b','c']].iloc[::2]#步长为2做索引
print(d6)
d7=df[['a','c']].iloc[['0','1']]#a列的12行，c列的12行
print(d7)
print('---------------')
d8=df.loc[['1','3']]<50
print(df[d8])
d9=df[df<50].loc[['1','4']]#多重布尔值索引
print(d9)
print('-----------------')
d10=df[1:3]#直接索引整数值
print(d10)

           a          b          c          d
1  50.376389  25.500456  78.476220  12.353436
2   8.980426  24.917375  21.032471  11.671982
3   9.158159  91.632341  41.245527  61.764190
4  26.623008  12.695045  49.075210  67.351058
       a      b      c      d
1  False  False  False   True
2   True  False  False   True
3   True  False  False  False
4  False   True  False  False <class 'pandas.core.frame.DataFrame'>
-----------------
          a          b   c          d
1       NaN        NaN NaN  12.353436
2  8.980426        NaN NaN  11.671982
3  9.158159        NaN NaN        NaN
4       NaN  12.695045 NaN        NaN
1     True
2    False
3    False
4    False
Name: a, dtype: bool
           a          b         c          d
1  50.376389  25.500456  78.47622  12.353436
---------+
       a      d
1   True  False
2  False  False
3  False   True
4  False   True
           a   b   c          d
1  50.376389 NaN NaN        NaN
2        NaN NaN NaN        NaN
3        NaN NaN NaN  61.764190
4        NaN NaN NaN  67.351058
       a      b     c      d
1   True  False  True  False
3  False   True  True   True
           a          b          c         d
1  50.376389        NaN  78.476220       NaN
2        NaN        NaN        NaN       NaN
3        NaN  91.632341  41.245527  61.76419
4        NaN        NaN        NaN       NaN
+++===
1    25.500456
4    12.695045
Name: b, dtype: float64
           a          b          c
1  50.376389  25.500456  78.476220
3   9.158159  91.632341  41.245527
           a          c
1  50.376389  78.476220
2   8.980426  21.032471
---------------
          a          b          c          d
1       NaN  25.500456        NaN  12.353436
2       NaN        NaN        NaN        NaN
3  9.158159        NaN  41.245527        NaN
4       NaN        NaN        NaN        NaN
           a          b         c          d
1        NaN  25.500456       NaN  12.353436
4  26.623008  12.695045  49.07521        NaN
-----------------
          a          b          c          d
2  8.980426  24.917375  21.032471  11.671982
3  9.158159  91.632341  41.245527  61.764190

In [15]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.rand(12).reshape(3,4)*100,index=['1','2','3'],columns=['a','b','c','d'])
print(df.T)#转置
print(df.head(2))#查看前两行
print(df.T.head(2))#查看转置的前两行的数据


# 添加与修改

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   columns = ['a','b','c','d'])
print(df)

df['e'] = 10#增加e列全为10
df.loc[4] = 20
print(df)
# 新增列/行并赋值

df['e'] = 20
df[['a','c']] = 100
print(df)
print('----------')
# 索引后直接修改值
df.iloc[::2]=90
df['a'].loc[2]=30#修改某一列的某一行的一个值
print(df)

           1          2          3
a  69.648092  14.203311  72.149362
b  87.053304  48.132570  90.977811
c  55.033291  22.920586  91.009703
d  55.679703   0.170386  46.049539
           a          b          c          d
1  69.648092  87.053304  55.033291  55.679703
2  14.203311  48.132570  22.920586   0.170386
           1          2          3
a  69.648092  14.203311  72.149362
b  87.053304  48.132570  90.977811
           a          b          c          d
0  21.174545  17.208817  24.311433  25.964623
1  64.093862  43.919649  12.506406  17.240907
2  36.942945  43.064779  72.126377  40.982505
3  48.586781  48.577329  25.817346  69.606476
           a          b          c          d   e
0  21.174545  17.208817  24.311433  25.964623  10
1  64.093862  43.919649  12.506406  17.240907  10
2  36.942945  43.064779  72.126377  40.982505  10
3  48.586781  48.577329  25.817346  69.606476  10
4  20.000000  20.000000  20.000000  20.000000  20
     a          b    c          d   e
0  100  17.208817  100  25.964623  20
1  100  43.919649  100  17.240907  20
2  100  43.064779  100  40.982505  20
3  100  48.577329  100  69.606476  20
4  100  20.000000  100  20.000000  20
----------
     a          b    c          d   e
0   90  90.000000   90  90.000000  90
1  100  43.919649  100  17.240907  20
2   30  90.000000   90  90.000000  90
3  100  48.577329  100  69.606476  20
4   90  90.000000   90  90.000000  90

## 删除  del / drop()
### 填充缺失值处理见python统计分析7

In [18]:
# 删除  del / drop()

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   columns = ['a','b','c','d'])
print(df)

del df['a']#删除a列
print(df)
print('-----')
# del语句 - 删除列

print(df.drop(0))
print(df.drop([1,2]))
print(df)
print('-----')
# drop()删除行，inplace=False → 删除后生成新的数据，不改变原数据

print(df.drop(['d'], axis = 1,inplace=False))
print(df)
#AXIS表示shape（2,4）axis=0表示2行axis=4表示4列
# drop()删除列，需要加上axis = 1，inplace=False → 删除后生成新的数据，不改变原数据

           a          b          c          d
0  38.792065  74.638253   8.203671  66.381862
1  27.321982  69.799793  20.213671  91.276940
2  84.612513  34.751923  52.098440   9.597447
3  57.753794  14.647795  94.665164  57.747232
           b          c          d
0  74.638253   8.203671  66.381862
1  69.799793  20.213671  91.276940
2  34.751923  52.098440   9.597447
3  14.647795  94.665164  57.747232
-----
           b          c          d
1  69.799793  20.213671  91.276940
2  34.751923  52.098440   9.597447
3  14.647795  94.665164  57.747232
           b          c          d
0  74.638253   8.203671  66.381862
3  14.647795  94.665164  57.747232
           b          c          d
0  74.638253   8.203671  66.381862
1  69.799793  20.213671  91.276940
2  34.751923  52.098440   9.597447
3  14.647795  94.665164  57.747232
-----
           b          c
0  74.638253   8.203671
1  69.799793  20.213671
2  34.751923  52.098440
3  14.647795  94.665164
           b          c          d
0  74.638253   8.203671  66.381862
1  69.799793  20.213671  91.276940
2  34.751923  52.098440   9.597447
3  14.647795  94.665164  57.747232

## 对齐
- DataFrame对象之间的数据自动按照列和索引（行标签）对齐

In [20]:
# 对齐
import pandas as pd
import numpy as np

df1 = pd.DataFrame(np.random.randn(10, 4), columns=['A', 'B', 'C', 'D'])
df2 = pd.DataFrame(np.random.randn(7, 3), columns=['A', 'B', 'C'])
print(df1 + df2)
# DataFrame对象之间的数据自动按照列和索引（行标签）对齐
df3=df1+df2

          A         B         C   D
0  1.541605 -1.485387 -0.668571 NaN
1 -1.838535 -1.220674  0.742175 NaN
2  1.016248  1.054535  0.887768 NaN
3  1.715369 -1.313839 -2.952576 NaN
4 -1.487280  3.326820 -3.318283 NaN
5  0.732300 -2.053793 -0.971600 NaN
6 -1.680401  1.221259 -0.308169 NaN
7       NaN       NaN       NaN NaN
8       NaN       NaN       NaN NaN
9       NaN       NaN       NaN NaN
Empty DataFrame
Columns: [A, B, C, D]
Index: []

## sort_index(）/sort_values索引排序，默认升序

In [47]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.rand(16).reshape(4,4)*100,columns=['a','b','c','d'])
print(df)
print(df.sort_values(['a'],ascending=True))#升序
print(df.sort_values(['a'],ascending=False))#降序按a列值大小排序，其他列相应变化
print('------------------')

print(df.sort_index())#索引排序，默认升序

           a          b          c          d
0  92.783118  44.476472   3.210098  70.779885
1  47.048578  85.992004   9.980981  26.820085
2  96.473744  66.092698  96.883106  71.685904
3  83.447376  82.686500  95.539534  81.179816
           a          b          c          d
1  47.048578  85.992004   9.980981  26.820085
3  83.447376  82.686500  95.539534  81.179816
0  92.783118  44.476472   3.210098  70.779885
2  96.473744  66.092698  96.883106  71.685904
           a          b          c          d
2  96.473744  66.092698  96.883106  71.685904
0  92.783118  44.476472   3.210098  70.779885
3  83.447376  82.686500  95.539534  81.179816
1  47.048578  85.992004   9.980981  26.820085
------------------
           a          b          c          d
0  92.783118  44.476472   3.210098  70.779885
1  47.048578  85.992004   9.980981  26.820085
2  96.473744  66.092698  96.883106  71.685904
3  83.447376  82.686500  95.539534  81.179816

In [1]:
# 作业1：用四种不同的方法，创建以下Dataframe（保证columns和index一致，值不做要求）
import pandas as pd
import numpy as np
df1 = pd.DataFrame({'one':[1,2,3,4,5],
                   'two':[2,3,4,5,6],
                   'three':[3,4,5,6,7],
                   'four':[4,5,6,7,8]},
                  index = list('abcde'))
df2 = pd.DataFrame({'one':pd.Series([1,2,3,4,5],index = list('abcde')),
                   'two':pd.Series([2,3,4,5,6],index = list('abcde')),
                   'three':pd.Series([3,4,5,6,7],index = list('abcde')),
                   'four':pd.Series([4,5,6,7,8],index = list('abcde'))})
df3 = pd.DataFrame(np.arange(20).reshape(5,4), 
                   index = list('abcde'),
                  columns = ['one','two','three','four'])
df4 = pd.DataFrame([{'one':1,'two':2,'three':3,'four':4},
                   {'one':2,'two':3,'three':4,'four':5},
                   {'one':3,'two':4,'three':5,'four':6},
                   {'one':4,'two':5,'three':6,'four':7},
                   {'one':5,'two':6,'three':7,'four':8}],
                  index = list('abcde'))
print('结果Dataframe为：\n',df4)
print(df3)
print(df2)

结果Dataframe为：
    four  one  three  two
a     4    1      3    2
b     5    2      4    3
c     6    3      5    4
d     7    4      6    5
e     8    5      7    6
   one  two  three  four
a    0    1      2     3
b    4    5      6     7
c    8    9     10    11
d   12   13     14    15
e   16   17     18    19
   one  two  three  four
a    1    2      3     4
b    2    3      4     5
c    3    4      5     6
d    4    5      6     7
e    5    6      7     8


# 【课程2.8】  时间模块：datetime
`
-datetime模块，主要掌握：datetime.date(), datetime.datetime(), datetime.timedelta()

日期解析方法：parser.parse

'''

## 时间库datetime

In [6]:
#时间库
import datetime
today=datetime.date.today()
print(today,type(today))
print(str(today))
date=datetime.date(1997,12,17)
print(date)
now=datetime.datetime.now()
print(now,type(now))
t1=datetime.datetime(2019,11,22,9,19,35)
t2=datetime.datetime(2019,11,23,8,30,25)
print(t2-t1)#时间的加减法，
t3=datetime.date(2019,10,1)
t4=datetime.timedelta(366)#时间差+366天
print(t3+t4)

2019-11-22 <class 'datetime.date'>
2019-11-22
1997-12-17
2019-11-22 09:29:16.964064 <class 'datetime.datetime'>
23:10:50
2020-10-01

## 时间数据字符串转换方法
- import datetime
- from dateutil.parser import parse

In [13]:
#字符串转换方法
from dateutil.parser import parse
d1='20191001093524'
d2='29/06/1998'
print(parse(d1),type(parse(d1)))
print(parse(d2),type(parse(d2)))
print(parse('5/1/2014',dayfirst=True))

2019-10-01 09:35:24 <class 'datetime.datetime'>
1998-06-29 00:00:00 <class 'datetime.datetime'>
2014-01-05 00:00:00


# 【课程2.9】  Pandas时刻数据：Timestamp

- 时刻数据代表时间点，是pandas的数据类型，是将值与时间点相关联的最基本类型的时间序列数据

pandas.Timestamp()

'''

In [56]:
import pandas as pd
import numpy as np
import datetime
d1='20191001'
d2=datetime.datetime(2019,11,22,9)
t1=pd.Timestamp(d1)
t2=pd.Timestamp(d2)
print(d1,d2,type(d2))#数据类型为字符串
print(t1,t2,type(t1))

20191001 2019-11-22 09:00:00 <class 'datetime.datetime'>
2019-10-01 00:00:00 2019-11-22 09:00:00 <class 'pandas._libs.tslibs.timestamps.Timestamp'>

## pd.to_timedate
- pd.to_datetime → 多个时间数据转换时间戳索引

In [41]:
#pd.to_timedate
d1='20191001'
d2=datetime.datetime(2019,11,22,9)
t3=pd.to_datetime(d1)
t4=pd.to_datetime(d2)
print(t3,'\n',t4,'\n',type(t3))
print('-------------------')
lst_date=['2017-12-17','2018-12-01','2019-11-22']
t5=pd.to_datetime(lst_date)
print(t5,type(t5))# 多个时间数据，将会转换为pandas的DatetimeIndex
# pd.to_datetime → 多个时间数据转换时间戳索引

2019-10-01 00:00:00
 2019-11-22 09:00:00
 <class 'pandas._libs.tslibs.timestamps.Timestamp'>
-------------------
DatetimeIndex(['2017-12-17', '2018-12-01', '2019-11-22'], dtype='datetime64[ns]', freq=None) <class 'pandas.core.indexes.datetimes.DatetimeIndex'>

## 多个时间数据转换为 DatetimeIndex

In [21]:
import pandas as pd
from datetime import datetime
date1 = [datetime(2015,6,1),datetime(2015,7,1),datetime(2015,8,1),datetime(2015,9,1),datetime(2015,10,1)]
date2 = ['2017-2-1','2017-2-2','2017-2-3','2017-2-4','2017-2-5','2017-2-6']
print(date1)
print(date2)
t1 = pd.to_datetime(date1)
t2 = pd.to_datetime(date2)
print(t1)
print(t2)
# 多个时间数据转换为 DatetimeIndex

date3 = ['2017-2-1','2017-2-2','2017-2-3','hello world!','2017-2-5','2017-2-6']
t3 = pd.to_datetime(date3,errors='ignore')#errors='ignore'忽略掉‘hello world’
print(t3,type(t3))
# 当一组时间序列中夹杂其他格式数据，可用errors参数返回
# errors = 'ignore':不可解析时返回原始输入，这里就是直接生成一般数组

t4 = pd.to_datetime(date3, errors = 'coerce')
print(t4,type(t4))
# errors = 'coerce':不可扩展，缺失值返回NaT（Not a Time），结果认为DatetimeIndex

[datetime.datetime(2015, 6, 1, 0, 0), datetime.datetime(2015, 7, 1, 0, 0), datetime.datetime(2015, 8, 1, 0, 0), datetime.datetime(2015, 9, 1, 0, 0), datetime.datetime(2015, 10, 1, 0, 0)]
['2017-2-1', '2017-2-2', '2017-2-3', '2017-2-4', '2017-2-5', '2017-2-6']
DatetimeIndex(['2015-06-01', '2015-07-01', '2015-08-01', '2015-09-01',
               '2015-10-01'],
              dtype='datetime64[ns]', freq=None)
DatetimeIndex(['2017-02-01', '2017-02-02', '2017-02-03', '2017-02-04',
               '2017-02-05', '2017-02-06'],
              dtype='datetime64[ns]', freq=None)
Index(['2017-2-1', '2017-2-2', '2017-2-3', 'hello world!', '2017-2-5',
       '2017-2-6'],
      dtype='object') <class 'pandas.core.indexes.base.Index'>
DatetimeIndex(['2017-02-01', '2017-02-02', '2017-02-03', 'NaT', '2017-02-05',
               '2017-02-06'],
              dtype='datetime64[ns]', freq=None) <class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [60]:
# 作业1：请通过迭代创建一个时间列表（如图，时间区间为任意一个月，这里可以用for语句），然后转化成DatetimeIndex，并print月中是多少号

datelst = []
for i in range(1,32):
    datelst.append('2017-12-%i' %i)
print('创建时间列表为：\n',datelst,'\n------')
t = pd.to_datetime(datelst)
print('转化成DatetimeIndex为：\n',t,'\n------')
n = (len(t) + 1)/2 - 1
print('月中日期为：\n',t[int(n)],'\n------')

创建时间列表为：
 ['2017-12-1', '2017-12-2', '2017-12-3', '2017-12-4', '2017-12-5', '2017-12-6', '2017-12-7', '2017-12-8', '2017-12-9', '2017-12-10', '2017-12-11', '2017-12-12', '2017-12-13', '2017-12-14', '2017-12-15', '2017-12-16', '2017-12-17', '2017-12-18', '2017-12-19', '2017-12-20', '2017-12-21', '2017-12-22', '2017-12-23', '2017-12-24', '2017-12-25', '2017-12-26', '2017-12-27', '2017-12-28', '2017-12-29', '2017-12-30', '2017-12-31']
------
转化成DatetimeIndex为：
 DatetimeIndex(['2017-12-01', '2017-12-02', '2017-12-03', '2017-12-04',
               '2017-12-05', '2017-12-06', '2017-12-07', '2017-12-08',
               '2017-12-09', '2017-12-10', '2017-12-11', '2017-12-12',
               '2017-12-13', '2017-12-14', '2017-12-15', '2017-12-16',
               '2017-12-17', '2017-12-18', '2017-12-19', '2017-12-20',
               '2017-12-21', '2017-12-22', '2017-12-23', '2017-12-24',
               '2017-12-25', '2017-12-26', '2017-12-27', '2017-12-28',
               '2017-12-29', '2017-12-30', '2017-12-31'],
              dtype='datetime64[ns]', freq=None)
------
月中日期为：
 2017-12-16 00:00:00
------

In [72]:
# 作业1：请通过迭代创建一个时间列表（如图，时间区间为任意一个月，这里可以用for语句）
#，然后转化成DatetimeIndex，并print月中是多少号

datelst=[]#创建一个空列表
for i in range(1,31):
    datelst.append('2019-11-%i' %i)
print('创建日历表为：\n',datelst,'\n----------------')
d=pd.to_datetime(datelst)
print('转化为DatetimeIndex为：\n',d,'\n--------------')
n=(len(d))/2-1
print('中间日期为：\n',d[int(n)],'\n--------++==')

创建日历表为：
 ['2019-11-1', '2019-11-2', '2019-11-3', '2019-11-4', '2019-11-5', '2019-11-6', '2019-11-7', '2019-11-8', '2019-11-9', '2019-11-10', '2019-11-11', '2019-11-12', '2019-11-13', '2019-11-14', '2019-11-15', '2019-11-16', '2019-11-17', '2019-11-18', '2019-11-19', '2019-11-20', '2019-11-21', '2019-11-22', '2019-11-23', '2019-11-24', '2019-11-25', '2019-11-26', '2019-11-27', '2019-11-28', '2019-11-29', '2019-11-30']
----------------
转化为DatetimeIndex为：
 DatetimeIndex(['2019-11-01', '2019-11-02', '2019-11-03', '2019-11-04',
               '2019-11-05', '2019-11-06', '2019-11-07', '2019-11-08',
               '2019-11-09', '2019-11-10', '2019-11-11', '2019-11-12',
               '2019-11-13', '2019-11-14', '2019-11-15', '2019-11-16',
               '2019-11-17', '2019-11-18', '2019-11-19', '2019-11-20',
               '2019-11-21', '2019-11-22', '2019-11-23', '2019-11-24',
               '2019-11-25', '2019-11-26', '2019-11-27', '2019-11-28',
               '2019-11-29', '2019-11-30'],
              dtype='datetime64[ns]', freq=None)
--------------
中间日期为：
 2019-11-15 00:00:00
--------++==

In [74]:
# 作业2：请如图创建一个包含时间日期的txt文件，通过open语句读取后转化成DatetimeIndex
t=open('D:\\360安全浏览器下载\\日期数据.txt')
s=t.readline()
datelst=s.split(',')
print('读取txt文件为：\n',datelst,'\n------')
a = pd.to_datetime(datelst)
print('转化成DatetimeIndex为：\n',a,'\n------',type(a))

读取txt文件为：
 ['20191101', '19980629', '19971217', '19961017', '19731122', '19730529', '20110829']
------
转化成DatetimeIndex为：
 DatetimeIndex(['2019-11-01', '1998-06-29', '1997-12-17', '1996-10-17',
               '1973-11-22', '1973-05-29', '2011-08-29'],
              dtype='datetime64[ns]', freq=None)
------ <class 'pandas.core.indexes.datetimes.DatetimeIndex'>


# 【课程2.10】  Pandas时间戳索引：DatetimeIndex

- 核心：pd.date_range()

'''

## 时间序列 DatatimeIndex TimeSeries

In [7]:
#时间序列
#DatatimeIndex TimeSeries
import pandas as pd
import numpy as np
rng=pd.DatetimeIndex(['12/1/2019','12/2/2019','12/3/2019','12/4/2019','12/5/2019','12/6/2019'])
print(rng,type(rng))
print(rng[0],type(rng[0]))
print('---------------')
t=pd.Series(np.random.rand(6),index=rng)
print(t,type(t))# 以DatetimeIndex为index的Series，为TimeSries，时间序列
print(t.index)

DatetimeIndex(['2019-12-01', '2019-12-02', '2019-12-03', '2019-12-04',
               '2019-12-05', '2019-12-06'],
              dtype='datetime64[ns]', freq=None) <class 'pandas.core.indexes.datetimes.DatetimeIndex'>
2019-12-01 00:00:00 <class 'pandas._libs.tslibs.timestamps.Timestamp'>
---------------
2019-12-01    0.009084
2019-12-02    0.659261
2019-12-03    0.451213
2019-12-04    0.426909
2019-12-05    0.463755
2019-12-06    0.101702
dtype: float64 <class 'pandas.core.series.Series'>
DatetimeIndex(['2019-12-01', '2019-12-02', '2019-12-03', '2019-12-04',
               '2019-12-05', '2019-12-06'],
              dtype='datetime64[ns]', freq=None)

## pd.date_range()-日期范围：生成日期范围默认天
- 2种生成方式：①start + end； ②start/end + periods

In [13]:
# pd.date_range()-日期范围：生成日期范围
# 2种生成方式：①start + end； ②start/end + periods
# 默认频率：day
import pandas as pd
import numpy as np
d1=pd.date_range('1/1/2017','1/10/2017',normalize=True)#normalize将时间归一到当天的0:00
d2=pd.date_range(start='1/1/2017',periods=10)
d3=pd.date_range(end='1/30/2017 9:00:00',periods=10)#增加时分秒
print(d2,type(d2))
print(d3)
print('--------------')
print(d1)
# 直接生成DatetimeIndex
# pd.date_range(start=None, end=None, periods=None, freq='D', tz=None, normalize=False, name=None, closed=None, **kwargs)
# start：开始时间
# end：结束时间
# periods：偏移量
# freq：频率，默认天，pd.date_range()默认频率为日历日，pd.bdate_range()默认频率为工作日
# tz：时区
print('---------------------------')
rng4 = pd.date_range(start = '1/1/2019 15:30', periods = 10, name = 'hello world!', normalize = True)
print(rng4)
print('-------')
# normalize：时间参数值正则化到午夜时间戳（这里最后就直接变成0:00:00，并不是15:30:00）
# name：索引对象名称

print(pd.date_range('20170101','20170104'))  # 20170101也可读取，默认闭区间
print(pd.date_range('20170101','20170104',closed = 'right'))#右闭左开
print(pd.date_range('20170101','20170104',closed = 'left'))#左闭右开
print('-------')
# closed：默认为None的情况下，左闭右闭，left则左闭右开，right则左开右闭

print(pd.bdate_range('20190101','20190107'))
# pd.bdate_range()默认频率为工作日，周一到周五

print(list(pd.date_range(start = '1/1/2017', periods = 10)))
# 直接转化为list，元素为Timestamp

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06', '2017-01-07', '2017-01-08',
               '2017-01-09', '2017-01-10'],
              dtype='datetime64[ns]', freq='D') <class 'pandas.core.indexes.datetimes.DatetimeIndex'>
DatetimeIndex(['2017-01-21 09:00:00', '2017-01-22 09:00:00',
               '2017-01-23 09:00:00', '2017-01-24 09:00:00',
               '2017-01-25 09:00:00', '2017-01-26 09:00:00',
               '2017-01-27 09:00:00', '2017-01-28 09:00:00',
               '2017-01-29 09:00:00', '2017-01-30 09:00:00'],
              dtype='datetime64[ns]', freq='D')
--------------
DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06', '2017-01-07', '2017-01-08',
               '2017-01-09', '2017-01-10'],
              dtype='datetime64[ns]', freq='D')
---------------------------
DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10'],
              dtype='datetime64[ns]', name='hello world!', freq='D')
-------
DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04'], dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2017-01-02', '2017-01-03', '2017-01-04'], dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03'], dtype='datetime64[ns]', freq='D')
-------
DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-07'],
              dtype='datetime64[ns]', freq='B')
[Timestamp('2017-01-01 00:00:00', freq='D'), Timestamp('2017-01-02 00:00:00', freq='D'), Timestamp('2017-01-03 00:00:00', freq='D'), Timestamp('2017-01-04 00:00:00', freq='D'), Timestamp('2017-01-05 00:00:00', freq='D'), Timestamp('2017-01-06 00:00:00', freq='D'), Timestamp('2017-01-07 00:00:00', freq='D'), Timestamp('2017-01-08 00:00:00', freq='D'), Timestamp('2017-01-09 00:00:00', freq='D'), Timestamp('2017-01-10 00:00:00', freq='D')]

## pd.date_range()-日期范围：其他频率1

In [17]:
# pd.date_range()-日期范围：频率(1)

print(pd.date_range('2017/1/1','2017/1/4'))  # 默认freq = 'D'：每日历日默认是天
print(pd.date_range('2017/1/1','2017/1/4', freq = 'B'))  # B：每工作日
print('---------------')
print(pd.date_range('2017/1/1','2017/1/2', freq = 'H'))  # H：每小时
print(pd.date_range('2017/1/1 12:00','2017/1/1 12:10', freq = 'T'))  # T/MIN：每分
print(pd.date_range('2017/1/1 12:00:00','2017/1/1 12:00:10', freq = 'S'))  # S：每秒
print(pd.date_range('2017/1/1 12:00:00','2017/1/1 12:00:10', freq = 'L'))  # L：每毫秒（千分之一秒）
print(pd.date_range('2017/1/1 12:00:00','2017/1/1 12:00:10', freq = 'U'))  # U：每微秒（百万分之一秒）
print('===================')
print(pd.date_range('2019/1/1','2019/2/1', freq = 'W-TUE'))  
# W-MON：从指定星期几开始算起，每周
# 星期几缩写：MON/TUE/WED/THU/FRI/SAT/SUN

print(pd.date_range('2019/1/1','2019/5/1', freq = 'WOM-2MON'))  
# WOM-2MON：每月的第几个星期几开始算，这里是每月第二个星期一

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04'], dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2017-01-02', '2017-01-03', '2017-01-04'], dtype='datetime64[ns]', freq='B')
---------------
DatetimeIndex(['2017-01-01 00:00:00', '2017-01-01 01:00:00',
               '2017-01-01 02:00:00', '2017-01-01 03:00:00',
               '2017-01-01 04:00:00', '2017-01-01 05:00:00',
               '2017-01-01 06:00:00', '2017-01-01 07:00:00',
               '2017-01-01 08:00:00', '2017-01-01 09:00:00',
               '2017-01-01 10:00:00', '2017-01-01 11:00:00',
               '2017-01-01 12:00:00', '2017-01-01 13:00:00',
               '2017-01-01 14:00:00', '2017-01-01 15:00:00',
               '2017-01-01 16:00:00', '2017-01-01 17:00:00',
               '2017-01-01 18:00:00', '2017-01-01 19:00:00',
               '2017-01-01 20:00:00', '2017-01-01 21:00:00',
               '2017-01-01 22:00:00', '2017-01-01 23:00:00',
               '2017-01-02 00:00:00'],
              dtype='datetime64[ns]', freq='H')
DatetimeIndex(['2017-01-01 12:00:00', '2017-01-01 12:01:00',
               '2017-01-01 12:02:00', '2017-01-01 12:03:00',
               '2017-01-01 12:04:00', '2017-01-01 12:05:00',
               '2017-01-01 12:06:00', '2017-01-01 12:07:00',
               '2017-01-01 12:08:00', '2017-01-01 12:09:00',
               '2017-01-01 12:10:00'],
              dtype='datetime64[ns]', freq='T')
DatetimeIndex(['2017-01-01 12:00:00', '2017-01-01 12:00:01',
               '2017-01-01 12:00:02', '2017-01-01 12:00:03',
               '2017-01-01 12:00:04', '2017-01-01 12:00:05',
               '2017-01-01 12:00:06', '2017-01-01 12:00:07',
               '2017-01-01 12:00:08', '2017-01-01 12:00:09',
               '2017-01-01 12:00:10'],
              dtype='datetime64[ns]', freq='S')
DatetimeIndex([       '2017-01-01 12:00:00', '2017-01-01 12:00:00.001000',
               '2017-01-01 12:00:00.002000', '2017-01-01 12:00:00.003000',
               '2017-01-01 12:00:00.004000', '2017-01-01 12:00:00.005000',
               '2017-01-01 12:00:00.006000', '2017-01-01 12:00:00.007000',
               '2017-01-01 12:00:00.008000', '2017-01-01 12:00:00.009000',
               ...
               '2017-01-01 12:00:09.991000', '2017-01-01 12:00:09.992000',
               '2017-01-01 12:00:09.993000', '2017-01-01 12:00:09.994000',
               '2017-01-01 12:00:09.995000', '2017-01-01 12:00:09.996000',
               '2017-01-01 12:00:09.997000', '2017-01-01 12:00:09.998000',
               '2017-01-01 12:00:09.999000',        '2017-01-01 12:00:10'],
              dtype='datetime64[ns]', length=10001, freq='L')
DatetimeIndex([       '2017-01-01 12:00:00', '2017-01-01 12:00:00.000001',
               '2017-01-01 12:00:00.000002', '2017-01-01 12:00:00.000003',
               '2017-01-01 12:00:00.000004', '2017-01-01 12:00:00.000005',
               '2017-01-01 12:00:00.000006', '2017-01-01 12:00:00.000007',
               '2017-01-01 12:00:00.000008', '2017-01-01 12:00:00.000009',
               ...
               '2017-01-01 12:00:09.999991', '2017-01-01 12:00:09.999992',
               '2017-01-01 12:00:09.999993', '2017-01-01 12:00:09.999994',
               '2017-01-01 12:00:09.999995', '2017-01-01 12:00:09.999996',
               '2017-01-01 12:00:09.999997', '2017-01-01 12:00:09.999998',
               '2017-01-01 12:00:09.999999',        '2017-01-01 12:00:10'],
              dtype='datetime64[ns]', length=10000001, freq='U')
===================
DatetimeIndex(['2019-01-01', '2019-01-08', '2019-01-15', '2019-01-22',
               '2019-01-29'],
              dtype='datetime64[ns]', freq='W-TUE')
DatetimeIndex(['2019-01-14', '2019-02-11', '2019-03-11', '2019-04-08'], dtype='datetime64[ns]', freq='WOM-2MON')

## pd.date_range()-日期范围：频率(2)

In [19]:
# pd.date_range()-日期范围：频率(2)

print(pd.date_range('2017','2018', freq = 'M'))  
print(pd.date_range('2017','2020', freq = 'Q-DEC'))  
print(pd.date_range('2017','2020', freq = 'A-DEC')) 
print('------')
# M：每月最后一个日历日
# Q-月：指定月为季度末，每个季度末最后一月的最后一个日历日
# A-月：每年指定月份的最后一个日历日
# 月缩写：JAN/FEB/MAR/APR/MAY/JUN/JUL/AUG/SEP/OCT/NOV/DEC
# 所以Q-月只有三种情况：1-4-7-10,2-5-8-11,3-6-9-12

print(pd.date_range('2017','2018', freq = 'BM'))  
print(pd.date_range('2017','2020', freq = 'BQ-DEC'))  
print(pd.date_range('2017','2020', freq = 'BA-DEC')) 
print('------')
# BM：每月最后一个工作日
# BQ-月：指定月为季度末，每个季度末最后一月的最后一个工作日
# BA-月：每年指定月份的最后一个工作日

print(pd.date_range('2017','2018', freq = 'MS'))  
print(pd.date_range('2017','2020', freq = 'QS-DEC'))  
print(pd.date_range('2017','2020', freq = 'AS-DEC')) 
print('------')
# M：每月第一个日历日
# Q-月：指定月为季度末，每个季度末最后一月的第一个日历日
# A-月：每年指定月份的第一个日历日

print(pd.date_range('2017','2018', freq = 'BMS'))  
print(pd.date_range('2017','2020', freq = 'BQS-DEC'))  
print(pd.date_range('2017','2020', freq = 'BAS-DEC')) 
print('------')
# BM：每月第一个工作日
# BQ-月：指定月为季度末，每个季度末最后一月的第一个工作日
# BA-月：每年指定月份的第一个工作日
# pd.date_range()-日期范围：复合频率

print(pd.date_range('2017/1/1','2017/2/1', freq = '7D'))  # 7天
print(pd.date_range('2017/1/1','2017/1/2', freq = '2h30min'))  # 2小时30分钟
print(pd.date_range('2017','2018', freq = '2M'))  # 2月，每月最后一个日历日

DatetimeIndex(['2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30',
               '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31',
               '2017-09-30', '2017-10-31', '2017-11-30', '2017-12-31'],
              dtype='datetime64[ns]', freq='M')
DatetimeIndex(['2017-03-31', '2017-06-30', '2017-09-30', '2017-12-31',
               '2018-03-31', '2018-06-30', '2018-09-30', '2018-12-31',
               '2019-03-31', '2019-06-30', '2019-09-30', '2019-12-31'],
              dtype='datetime64[ns]', freq='Q-DEC')
DatetimeIndex(['2017-12-31', '2018-12-31', '2019-12-31'], dtype='datetime64[ns]', freq='A-DEC')
------
DatetimeIndex(['2017-01-31', '2017-02-28', '2017-03-31', '2017-04-28',
               '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31',
               '2017-09-29', '2017-10-31', '2017-11-30', '2017-12-29'],
              dtype='datetime64[ns]', freq='BM')
DatetimeIndex(['2017-03-31', '2017-06-30', '2017-09-29', '2017-12-29',
               '2018-03-30', '2018-06-29', '2018-09-28', '2018-12-31',
               '2019-03-29', '2019-06-28', '2019-09-30', '2019-12-31'],
              dtype='datetime64[ns]', freq='BQ-DEC')
DatetimeIndex(['2017-12-29', '2018-12-31', '2019-12-31'], dtype='datetime64[ns]', freq='BA-DEC')
------
DatetimeIndex(['2017-01-01', '2017-02-01', '2017-03-01', '2017-04-01',
               '2017-05-01', '2017-06-01', '2017-07-01', '2017-08-01',
               '2017-09-01', '2017-10-01', '2017-11-01', '2017-12-01',
               '2018-01-01'],
              dtype='datetime64[ns]', freq='MS')
DatetimeIndex(['2017-03-01', '2017-06-01', '2017-09-01', '2017-12-01',
               '2018-03-01', '2018-06-01', '2018-09-01', '2018-12-01',
               '2019-03-01', '2019-06-01', '2019-09-01', '2019-12-01'],
              dtype='datetime64[ns]', freq='QS-DEC')
DatetimeIndex(['2017-12-01', '2018-12-01', '2019-12-01'], dtype='datetime64[ns]', freq='AS-DEC')
------
DatetimeIndex(['2017-01-02', '2017-02-01', '2017-03-01', '2017-04-03',
               '2017-05-01', '2017-06-01', '2017-07-03', '2017-08-01',
               '2017-09-01', '2017-10-02', '2017-11-01', '2017-12-01',
               '2018-01-01'],
              dtype='datetime64[ns]', freq='BMS')
DatetimeIndex(['2017-03-01', '2017-06-01', '2017-09-01', '2017-12-01',
               '2018-03-01', '2018-06-01', '2018-09-03', '2018-12-03',
               '2019-03-01', '2019-06-03', '2019-09-02', '2019-12-02'],
              dtype='datetime64[ns]', freq='BQS-DEC')
DatetimeIndex(['2017-12-01', '2018-12-03', '2019-12-02'], dtype='datetime64[ns]', freq='BAS-DEC')
------
DatetimeIndex(['2017-01-01', '2017-01-08', '2017-01-15', '2017-01-22',
               '2017-01-29'],
              dtype='datetime64[ns]', freq='7D')
DatetimeIndex(['2017-01-01 00:00:00', '2017-01-01 02:30:00',
               '2017-01-01 05:00:00', '2017-01-01 07:30:00',
               '2017-01-01 10:00:00', '2017-01-01 12:30:00',
               '2017-01-01 15:00:00', '2017-01-01 17:30:00',
               '2017-01-01 20:00:00', '2017-01-01 22:30:00'],
              dtype='datetime64[ns]', freq='150T')
DatetimeIndex(['2017-01-31', '2017-03-31', '2017-05-31', '2017-07-31',
               '2017-09-30', '2017-11-30'],
              dtype='datetime64[ns]', freq='2M')

In [30]:
import pandas as pd
import numpy as np
t=pd.Series(np.random.rand(4),index=pd.date_range('2019/3/1','2019/3/4'))
print(t,type(t))
print(t.asfreq('4H',method='bfill'))#改变频率 shift+tab工具显示
# 改变频率，这里是D改为4H
# method：插值模式，None不插值，ffill用之前值填充，bfill用之后值填充
print('===========')
# pd.date_range()-日期范围：超前/滞后数据

ts = pd.Series(np.random.rand(4),
              index = pd.date_range('20170101','20170104'))
print(ts)

print(ts.shift(2))
print(ts.shift(-2))
print('------')
# 正数：数值后移（滞后）；负数：数值前移（超前）

per = ts/ts.shift(1) - 1
print(per)
print('------')
# 计算变化百分比，这里计算：该时间戳与上一个时间戳相比，变化百分比

print(ts.shift(2, freq = 'D'))
print(ts.shift(2, freq = 'T'))#后移时间两分钟
# 加上freq参数：对时间戳进行位移，而不是对数值进行位移

2019-03-01    0.618450
2019-03-02    0.836915
2019-03-03    0.102310
2019-03-04    0.161529
Freq: D, dtype: float64 <class 'pandas.core.series.Series'>
2019-03-01 00:00:00    0.618450
2019-03-01 04:00:00    0.836915
2019-03-01 08:00:00    0.836915
2019-03-01 12:00:00    0.836915
2019-03-01 16:00:00    0.836915
2019-03-01 20:00:00    0.836915
2019-03-02 00:00:00    0.836915
2019-03-02 04:00:00    0.102310
2019-03-02 08:00:00    0.102310
2019-03-02 12:00:00    0.102310
2019-03-02 16:00:00    0.102310
2019-03-02 20:00:00    0.102310
2019-03-03 00:00:00    0.102310
2019-03-03 04:00:00    0.161529
2019-03-03 08:00:00    0.161529
2019-03-03 12:00:00    0.161529
2019-03-03 16:00:00    0.161529
2019-03-03 20:00:00    0.161529
2019-03-04 00:00:00    0.161529
Freq: 4H, dtype: float64
===========
2017-01-01    0.488643
2017-01-02    0.030189
2017-01-03    0.649453
2017-01-04    0.001620
Freq: D, dtype: float64
2017-01-01         NaN
2017-01-02         NaN
2017-01-03    0.488643
2017-01-04    0.030189
Freq: D, dtype: float64
2017-01-01    0.649453
2017-01-02    0.001620
2017-01-03         NaN
2017-01-04         NaN
Freq: D, dtype: float64
------
2017-01-01          NaN
2017-01-02    -0.938219
2017-01-03    20.512914
2017-01-04    -0.997505
Freq: D, dtype: float64
------
2017-01-03    0.488643
2017-01-04    0.030189
2017-01-05    0.649453
2017-01-06    0.001620
Freq: D, dtype: float64
2017-01-01 00:02:00    0.488643
2017-01-02 00:02:00    0.030189
2017-01-03 00:02:00    0.649453
2017-01-04 00:02:00    0.001620
Freq: D, dtype: float64

In [62]:
# 作业1：请输出以下时间序列

ts1 = pd.Series(np.random.rand(5),
                index = pd.date_range('20170101',periods = 5))
ts2 = pd.Series(np.random.rand(4),
                index = pd.date_range('2017','2018',freq = '3M'))
ts3 = pd.DataFrame(np.random.rand(4,4),
                   index = pd.date_range('20171201',periods = 4, freq = '10T'),
                  columns = ['value1','value2','value3','value4'])
print('时间序列1：\n',ts1,'\n------')
print('时间序列2：\n',ts2,'\n------')
print('时间序列3：\n',ts3,'\n------')
# 作业2：按要求创建时间序列ts1，并转换成ts2

ts1 = pd.Series(np.random.rand(5),
               index = pd.date_range('20170501 12:0:0',periods = 5, freq = '10T'))
ts2 = ts1.asfreq('5T','ffill')
print('创建时间序列ts1：\n',ts1,'\n------')
print('转换成ts2：\n',ts2,'\n------')

时间序列1：
 2017-01-01    0.466118
2017-01-02    0.188166
2017-01-03    0.861983
2017-01-04    0.658400
2017-01-05    0.355966
Freq: D, dtype: float64
------
时间序列2：
 2017-01-31    0.734632
2017-04-30    0.049299
2017-07-31    0.847962
2017-10-31    0.558518
Freq: 3M, dtype: float64
------
时间序列3：
                        value1    value2    value3    value4
2017-12-01 00:00:00  0.338956  0.332491  0.094393  0.977211
2017-12-01 00:10:00  0.334444  0.504915  0.484229  0.985543
2017-12-01 00:20:00  0.257403  0.547239  0.637855  0.320333
2017-12-01 00:30:00  0.990145  0.010860  0.503490  0.048188
------
创建时间序列ts1：
 2017-05-01 12:00:00    0.922790
2017-05-01 12:10:00    0.888417
2017-05-01 12:20:00    0.605262
2017-05-01 12:30:00    0.120423
2017-05-01 12:40:00    0.025368
Freq: 10T, dtype: float64
------
转换成ts2：
 2017-05-01 12:00:00    0.922790
2017-05-01 12:05:00    0.922790
2017-05-01 12:10:00    0.888417
2017-05-01 12:15:00    0.888417
2017-05-01 12:20:00    0.605262
2017-05-01 12:25:00    0.605262
2017-05-01 12:30:00    0.120423
2017-05-01 12:35:00    0.120423
2017-05-01 12:40:00    0.025368
Freq: 5T, dtype: float64
------


# 【课程2.11】  Pandas时期：Period

- 核心：pd.Period()

'''

##  pd.Period()创建时期

In [67]:
# pd.Period()创建时期

p = pd.Period('2017', freq = 'M')
print(p, type(p))
# 生成一个以2017-01开始，月为频率的时间构造器
# pd.Period()参数：一个时间戳 + freq 参数 → freq 用于指明该 period 的长度，时间戳则说明该 period 在时间轴上的位置

print(p + 1)
print(p - 2)
print(pd.Period('2012', freq = 'A-DEC') - 1)
# 通过加减整数，将周期整体移动
# 这里是按照 月、年 移动
d=pd.DatetimeIndex(['2019-01-01'])
print(d)

2017-01 <class 'pandas._libs.tslibs.period.Period'>
2017-02
2016-11
2011
DatetimeIndex(['2019-01-01'], dtype='datetime64[ns]', freq=None)

##  pd.period_range()创建时期范围

In [70]:
# pd.period_range()创建时期范围

prng = pd.period_range('1/1/2011', '1/1/2012', freq='M')
print(prng,type(prng))
print(prng[0],type(prng[0]))
# 数据格式为PeriodIndex，单个数值为Period

ts = pd.Series(np.random.rand(len(prng)), index = prng)
print(ts,type(ts))
print(ts.index)
print('========')
print(ts[0],type(ts[0]))
# 时间序列

# Period('2011', freq = 'A-DEC')可以看成多个时间期的时间段中的游标
# Timestamp表示一个时间戳，是一个时间截面；Period是一个时期，是一个时间段！！但两者作为index时区别不大

PeriodIndex(['2011-01', '2011-02', '2011-03', '2011-04', '2011-05', '2011-06',
             '2011-07', '2011-08', '2011-09', '2011-10', '2011-11', '2011-12',
             '2012-01'],
            dtype='period[M]', freq='M') <class 'pandas.core.indexes.period.PeriodIndex'>
2011-01 <class 'pandas._libs.tslibs.period.Period'>
2011-01    0.831771
2011-02    0.954666
2011-03    0.101196
2011-04    0.300900
2011-05    0.359511
2011-06    0.078909
2011-07    0.355294
2011-08    0.016471
2011-09    0.750812
2011-10    0.265742
2011-11    0.275079
2011-12    0.656647
2012-01    0.094368
Freq: M, dtype: float64 <class 'pandas.core.series.Series'>
PeriodIndex(['2011-01', '2011-02', '2011-03', '2011-04', '2011-05', '2011-06',
             '2011-07', '2011-08', '2011-09', '2011-10', '2011-11', '2011-12',
             '2012-01'],
            dtype='period[M]', freq='M')
========
0.8317706870583506 <class 'numpy.float64'>

## asfreq：频率转换

In [72]:
# asfreq：频率转换

p = pd.Period('2017','A-DEC')
print(p)
print(p.asfreq('M', how = 'start'))  # 也可写 how = 's'
print(p.asfreq('D', how = 'end'))  # 也可写 how = 'e'
# 通过.asfreq(freq, method=None, how=None)方法转换成别的频率
print('==========')

prng = pd.period_range('2018','2019',freq = 'M')
ts1 = pd.Series(np.random.rand(len(prng)), index = prng)
ts2 = pd.Series(np.random.rand(len(prng)), index = prng.asfreq('D', how = 'start'))
print(ts1.head(),len(ts1))#查看前五行
print(ts2.head(),len(ts2))
# asfreq也可以转换TIMESeries的index

2017
2017-01
2017-12-31
==========
2018-01    0.568668
2018-02    0.312675
2018-03    0.992207
2018-04    0.707482
2018-05    0.573338
Freq: M, dtype: float64 13
2018-01-01    0.082119
2018-02-01    0.115646
2018-03-01    0.964083
2018-04-01    0.201076
2018-05-01    0.269331
Freq: D, dtype: float64 13

## 时间戳与时期之间的转换：pd.to_period()、pd.to_timestamp()

In [76]:
# 时间戳与时期之间的转换：pd.to_period()、pd.to_timestamp()

rng = pd.date_range('2017/1/1', periods = 10, freq = 'M')
prng = pd.period_range('2017','2018', freq = 'M')

ts1 = pd.Series(np.random.rand(len(rng)), index = rng)
print(ts1)
print(ts1.to_period().head())
# 每月最后一日，转化为每月

ts2 = pd.Series(np.random.rand(len(prng)), index = prng)
print(ts2.head())
print(ts2.to_timestamp().head())
# 每月，转化为每月第一天

2017-01-31    0.806126
2017-02-28    0.053131
2017-03-31    0.991262
2017-04-30    0.064362
2017-05-31    0.457867
2017-06-30    0.222192
2017-07-31    0.539210
2017-08-31    0.345193
2017-09-30    0.266909
2017-10-31    0.297312
Freq: M, dtype: float64
2017-01    0.806126
2017-02    0.053131
2017-03    0.991262
2017-04    0.064362
2017-05    0.457867
Freq: M, dtype: float64
2017-01    0.883124
2017-02    0.092637
2017-03    0.398841
2017-04    0.627272
2017-05    0.928998
Freq: M, dtype: float64
2017-01-01    0.883124
2017-02-01    0.092637
2017-03-01    0.398841
2017-04-01    0.627272
2017-05-01    0.928998
Freq: MS, dtype: float64

In [95]:
# 作业1：请输出以下时间序列，使用pd.period_range()

ts1 = pd.Series(np.random.rand(5),
                index = pd.period_range('20170101','20170501',freq = 'M'))
ts2 = pd.Series(np.random.rand(5),
                index = pd.period_range('20170101',periods = 5,freq = '2H'))
print('时间序列1：\n',ts1,'\n------')
print('时间序列2：\n',ts2,'\n------')

时间序列1：
 2017-01    0.850050
2017-02    0.495611
2017-03    0.485607
2017-04    0.342732
2017-05    0.130430
Freq: M, dtype: float64
------
时间序列2：
 2017-01-01 00:00    0.808165
2017-01-01 02:00    0.845662
2017-01-01 04:00    0.829449
2017-01-01 06:00    0.273480
2017-01-01 08:00    0.505719
Freq: 2H, dtype: float64
------


# 【课程2.12】  时间序列 - 索引及切片TimeSeries

- TimeSeries是Series的一个子类，所以Series索引及数据选取方面的方法基本一样

同时TimeSeries通过时间序列有更便捷的方法做索引和切片
 
'''

## 索引

In [113]:
# 索引

from datetime import datetime
from dateutil.parser import parse

rng = pd.date_range('2017/1','2017/10')
ts = pd.Series(np.random.rand(len(rng)), index = rng)
print(ts.head())

print(ts[0])
print('=========')
print(ts[:4])
print('-----')
# 基本下标位置索引

print(ts['2017/1/2'])
print(ts['20170103'])
print(ts['1/10/2017'])
print('========')
print(ts[datetime(2017,1,20)])

print('-----')
print(ts['20170103':'20170120'])
print(ts['2017/2'])
# 时间序列标签索引，支持各种时间字符串，以及datetime.datetime

# 时间序列由于按照时间先后排序，故不用考虑顺序问题
# 索引方法同样适用于Dataframe

2017-01-01    0.937332
2017-01-02    0.617803
2017-01-03    0.180998
2017-01-04    0.648368
2017-01-05    0.229676
Freq: D, dtype: float64
0.9373323270691524
=========
2017-01-01    0.937332
2017-01-02    0.617803
2017-01-03    0.180998
2017-01-04    0.648368
Freq: D, dtype: float64
-----
0.6178030531132144
0.1809977214125963
0.10572773296226534
========
0.39885103596900673
-----
2017-01-03    0.180998
2017-01-04    0.648368
2017-01-05    0.229676
2017-01-06    0.939647
2017-01-07    0.138746
2017-01-08    0.607523
2017-01-09    0.299985
2017-01-10    0.105728
2017-01-11    0.000370
2017-01-12    0.691818
2017-01-13    0.090747
2017-01-14    0.466816
2017-01-15    0.009836
2017-01-16    0.679089
2017-01-17    0.486407
2017-01-18    0.743142
2017-01-19    0.682715
2017-01-20    0.398851
Freq: D, dtype: float64
2017-02-01    0.342231
2017-02-02    0.698469
2017-02-03    0.030968
2017-02-04    0.558059
2017-02-05    0.475980
2017-02-06    0.031685
2017-02-07    0.107721
2017-02-08    0.538500
2017-02-09    0.766227
2017-02-10    0.935309
2017-02-11    0.114200
2017-02-12    0.533943
2017-02-13    0.317499
2017-02-14    0.056160
2017-02-15    0.541748
2017-02-16    0.583038
2017-02-17    0.453093
2017-02-18    0.330744
2017-02-19    0.583421
2017-02-20    0.234511
2017-02-21    0.463550
2017-02-22    0.070945
2017-02-23    0.034484
2017-02-24    0.231502
2017-02-25    0.207535
2017-02-26    0.834683
2017-02-27    0.556946
2017-02-28    0.999107
Freq: D, dtype: float64

## 切片

In [115]:
# 切片

rng = pd.date_range('2017/1','2017/3',freq = '12H')
ts = pd.Series(np.random.rand(len(rng)), index = rng)

print(ts['2017/1/5':'2017/1/10'])
print('-----')
# 和Series按照index索引原理一样，也是末端包含
print(ts.is_unique,ts.index.is_unique)#判断值或者索引是否唯一

print(ts['2017/2'].head())
# 传入月，直接得到一个切片

2017-01-05 00:00:00    0.707675
2017-01-05 12:00:00    0.549780
2017-01-06 00:00:00    0.615676
2017-01-06 12:00:00    0.296828
2017-01-07 00:00:00    0.663705
2017-01-07 12:00:00    0.518658
2017-01-08 00:00:00    0.384805
2017-01-08 12:00:00    0.612228
2017-01-09 00:00:00    0.691399
2017-01-09 12:00:00    0.151780
2017-01-10 00:00:00    0.256096
2017-01-10 12:00:00    0.349109
Freq: 12H, dtype: float64
-----
True True
2017-02-01 00:00:00    0.515098
2017-02-01 12:00:00    0.695631
2017-02-02 00:00:00    0.328656
2017-02-02 12:00:00    0.237640
2017-02-03 00:00:00    0.821936
Freq: 12H, dtype: float64

##  重复索引的时间序列

In [116]:
# 重复索引的时间序列

dates = pd.DatetimeIndex(['1/1/2015','1/2/2015','1/3/2015','1/4/2015','1/1/2015','1/2/2015'])
ts = pd.Series(np.random.rand(6), index = dates)
print(ts)
print(ts.is_unique,ts.index.is_unique)
print('-----')
# index有重复，is_unique检查 → values唯一，index不唯一

print(ts['20150101'],type(ts['20150101']))
print(ts['20150104'],type(ts['20150104']))
print('-----')
# index有重复的将返回多个值

print(ts.groupby(level = 0).mean())
# 通过groupby做分组，重复的值这里用平均值处理

2015-01-01    0.150073
2015-01-02    0.839943
2015-01-03    0.920580
2015-01-04    0.210062
2015-01-01    0.781258
2015-01-02    0.532021
dtype: float64
True False
-----
2015-01-01    0.150073
2015-01-01    0.781258
dtype: float64 <class 'pandas.core.series.Series'>
2015-01-04    0.210062
dtype: float64 <class 'pandas.core.series.Series'>
-----
2015-01-01    0.465666
2015-01-02    0.685982
2015-01-03    0.920580
2015-01-04    0.210062
dtype: float64

In [1]:
import pandas as pd
import numpy as np
d=pd.DataFrame(np.random.rand(40).reshape(10,4)*100,index=[pd.date_range('20171201 ',periods=10,freq='12H')],
              columns=['value1','value2','value3','value4'])
print(d)

                        value1     value2     value3     value4
2017-12-01 00:00:00  28.124170  27.582830  72.785594  36.426926
2017-12-01 12:00:00  59.065422  69.060673  54.587815  60.692861
2017-12-02 00:00:00  32.815108  23.587033  46.253174  11.701078
2017-12-02 12:00:00  70.138377  98.997885  39.335721   8.214701
2017-12-03 00:00:00  32.211367  74.275726  45.997443  99.566452
2017-12-03 12:00:00  66.657775  63.573176  65.572552  71.205354
2017-12-04 00:00:00  33.392953  44.157710  85.336504  70.230416
2017-12-04 12:00:00  45.083079  48.785948  36.541593  27.977534
2017-12-05 00:00:00  60.836725  11.148098  47.486196  40.731207
2017-12-05 12:00:00  36.814548  45.129830  82.521458  73.054534

In [4]:
print(d[0:4])
print('========')

                        value1     value2     value3     value4
2017-12-01 00:00:00  28.124170  27.582830  72.785594  36.426926
2017-12-01 12:00:00  59.065422  69.060673  54.587815  60.692861
2017-12-02 00:00:00  32.815108  23.587033  46.253174  11.701078
2017-12-02 12:00:00  70.138377  98.997885  39.335721   8.214701
========

In [136]:
# 作业1：如图创建时间序列(10*3，值为0-100的随机数)，通过索引得到以下值
# ① 索引得到前4行的所有值
# ② 索引得到2017-12-4 12:00:00的数据
# ③ 索引得到2017-12-4 - 2017-12-5的数据

import datetime
ts = pd.DataFrame(np.random.rand(10,3)*100,
                   index = pd.date_range('20171201',periods = 10, freq = '12H'),
                  columns = ['value1','value2','value3'])
print('创建时间序列为：\n',ts,'\n------')
print('前4行的所有值为:\n', ts[:3],'\n------')
print('2017-12-4 12:00:00的数据为:\n', ts.loc['2017-12-04 12:00:00'],'\n------')
print('2017-12-4 - 2017-12-5的数据为:\n', ts['20171204':'20171205'],'\n------')
print(d['20171204'])

创建时间序列为：
                         value1     value2     value3
2017-12-01 00:00:00  11.428618  82.040297  36.819206
2017-12-01 12:00:00  58.473660  12.174199  26.101380
2017-12-02 00:00:00   6.286567  51.134817  68.046288
2017-12-02 12:00:00  45.514617   9.808348  53.535139
2017-12-03 00:00:00  94.709704  12.002594  69.319320
2017-12-03 12:00:00  11.442044  72.172010  89.296238
2017-12-04 00:00:00  74.725174  17.746387  41.633068
2017-12-04 12:00:00  55.813344  27.630218  86.987478
2017-12-05 00:00:00  78.465594  50.328139  14.336114
2017-12-05 12:00:00  81.473291   6.310027  74.597630
------
前4行的所有值为:
                         value1     value2     value3
2017-12-01 00:00:00  11.428618  82.040297  36.819206
2017-12-01 12:00:00  58.473660  12.174199  26.101380
2017-12-02 00:00:00   6.286567  51.134817  68.046288
------
2017-12-4 12:00:00的数据为:
 value1    55.813344
value2    27.630218
value3    86.987478
Name: 2017-12-04 12:00:00, dtype: float64
------
2017-12-4 - 2017-12-5的数据为:
                         value1     value2     value3
2017-12-04 00:00:00  74.725174  17.746387  41.633068
2017-12-04 12:00:00  55.813344  27.630218  86.987478
2017-12-05 00:00:00  78.465594  50.328139  14.336114
2017-12-05 12:00:00  81.473291   6.310027  74.597630
------


# 【课程2.13】  时间序列 - 重采样

- 将时间序列从一个频率转换为另一个频率的过程，且会有数据的结合

- 降采样：高频数据 → 低频数据，eg.以天为频率的数据转为以月为频率的数据
- 升采样：低频数据 → 高频数据，eg.以年为频率的数据转为以月为频率的数据
 
'''

## 重采样 resample()

In [7]:
#重采样 resample()
#创建一个以天为频率的TimeSeries,重采样为按5天为频率计算

import pandas as pd
import numpy as np
r=pd.date_range('20190101',periods=12)
ts=pd.Series(np.arange(12),index=r)
print(ts)
ts_re=ts.resample('5D')
ts_re2=ts.resample('5D').sum()
print(ts_re,type(ts_re))#结果不是值，是个构建器
print(ts_re2,type(ts_re2))
print('----========')
# freq：重采样频率 → ts.resample('5D')
# .sum()：聚合方法

print(ts.resample('5D').mean(),'→ 求平均值\n')
print(ts.resample('5D').max(),'→ 求最大值\n')
print(ts.resample('5D').min(),'→ 求最小值\n')
print(ts.resample('5D').median(),'→ 求中值\n')
print(ts.resample('5D').first(),'→ 返回第一个值\n')
print(ts.resample('5D').last(),'→ 返回最后一个值\n')
print(ts.resample('5D').ohlc(),'→ OHLC重采样\n')
# OHLC:金融领域的时间序列聚合方式 → open开盘、high最大值、low最小值、close收盘

2019-01-01     0
2019-01-02     1
2019-01-03     2
2019-01-04     3
2019-01-05     4
2019-01-06     5
2019-01-07     6
2019-01-08     7
2019-01-09     8
2019-01-10     9
2019-01-11    10
2019-01-12    11
Freq: D, dtype: int32
DatetimeIndexResampler [freq=<5 * Days>, axis=0, closed=left, label=left, convention=start, base=0] <class 'pandas.core.resample.DatetimeIndexResampler'>
2019-01-01    10
2019-01-06    35
2019-01-11    21
Freq: 5D, dtype: int32 <class 'pandas.core.series.Series'>
----========
2019-01-01     2.0
2019-01-06     7.0
2019-01-11    10.5
Freq: 5D, dtype: float64 → 求平均值

2019-01-01     4
2019-01-06     9
2019-01-11    11
Freq: 5D, dtype: int32 → 求最大值

2019-01-01     0
2019-01-06     5
2019-01-11    10
Freq: 5D, dtype: int32 → 求最小值

2019-01-01     2.0
2019-01-06     7.0
2019-01-11    10.5
Freq: 5D, dtype: float64 → 求中值

2019-01-01     0
2019-01-06     5
2019-01-11    10
Freq: 5D, dtype: int32 → 返回第一个值

2019-01-01     4
2019-01-06     9
2019-01-11    11
Freq: 5D, dtype: int32 → 返回最后一个值

            open  high  low  close
2019-01-01     0     4    0      4
2019-01-06     5     9    5      9
2019-01-11    10    11   10     11 → OHLC重采样

## 降采样

In [22]:
# 降采样

rng = pd.date_range('20170101', periods = 12)
ts = pd.Series(np.arange(1,13), index = rng)
print(ts)

print(ts.resample('5D').sum(),'→ 默认\n')
print(ts.resample('5D', closed = 'left').sum(),'→ left\n')
print(ts.resample('5D', closed = 'right').sum(),'→ right\n')
print('-----')
# closed：各时间段哪一端是闭合（即包含）的，默认 左闭右闭
# 详解：这里values为0-11，按照5D重采样 → [1,2,3,4,5],[6,7,8,9,10],[11,12]
# left指定间隔左边为结束 → [1,2,3,4,5],[6,7,8,9,10],[11,12]
# right指定间隔右边为结束 → [1],[2,3,4,5,6],[7,8,9,10,11],[12]

print(ts.resample('5D', label = 'left').sum(),'→ leftlabel\n')
print(ts.resample('5D', label = 'right').sum(),'→ rightlabel\n')
# label：聚合值的index，默认为取左
# 值采样认为默认（这里closed默认）

2017-01-01     1
2017-01-02     2
2017-01-03     3
2017-01-04     4
2017-01-05     5
2017-01-06     6
2017-01-07     7
2017-01-08     8
2017-01-09     9
2017-01-10    10
2017-01-11    11
2017-01-12    12
Freq: D, dtype: int32
2017-01-01    15
2017-01-06    40
2017-01-11    23
Freq: 5D, dtype: int32 → 默认

2017-01-01    15
2017-01-06    40
2017-01-11    23
Freq: 5D, dtype: int32 → left

2016-12-27     1
2017-01-01    20
2017-01-06    45
2017-01-11    12
Freq: 5D, dtype: int32 → right

-----
2017-01-01    15
2017-01-06    40
2017-01-11    23
Freq: 5D, dtype: int32 → leftlabel

2017-01-06    15
2017-01-11    40
2017-01-16    23
Freq: 5D, dtype: int32 → rightlabel

## 升采样及插值，低频转高频，主要是如何插值

In [23]:
# 升采样及插值

rng = pd.date_range('2017/1/1 0:0:0', periods = 5, freq = 'H')
ts = pd.DataFrame(np.arange(15).reshape(5,3),
                  index = rng,
                  columns = ['a','b','c'])
print(ts)

print(ts.resample('15T').asfreq())
print(ts.resample('15T').ffill())
print(ts.resample('15T').bfill())
# 低频转高频，主要是如何插值
# .asfreq()：不做填充，返回Nan
# .ffill()：向上填充
# .bfill()：向下填充

                      a   b   c
2017-01-01 00:00:00   0   1   2
2017-01-01 01:00:00   3   4   5
2017-01-01 02:00:00   6   7   8
2017-01-01 03:00:00   9  10  11
2017-01-01 04:00:00  12  13  14
                        a     b     c
2017-01-01 00:00:00   0.0   1.0   2.0
2017-01-01 00:15:00   NaN   NaN   NaN
2017-01-01 00:30:00   NaN   NaN   NaN
2017-01-01 00:45:00   NaN   NaN   NaN
2017-01-01 01:00:00   3.0   4.0   5.0
2017-01-01 01:15:00   NaN   NaN   NaN
2017-01-01 01:30:00   NaN   NaN   NaN
2017-01-01 01:45:00   NaN   NaN   NaN
2017-01-01 02:00:00   6.0   7.0   8.0
2017-01-01 02:15:00   NaN   NaN   NaN
2017-01-01 02:30:00   NaN   NaN   NaN
2017-01-01 02:45:00   NaN   NaN   NaN
2017-01-01 03:00:00   9.0  10.0  11.0
2017-01-01 03:15:00   NaN   NaN   NaN
2017-01-01 03:30:00   NaN   NaN   NaN
2017-01-01 03:45:00   NaN   NaN   NaN
2017-01-01 04:00:00  12.0  13.0  14.0
                      a   b   c
2017-01-01 00:00:00   0   1   2
2017-01-01 00:15:00   0   1   2
2017-01-01 00:30:00   0   1   2
2017-01-01 00:45:00   0   1   2
2017-01-01 01:00:00   3   4   5
2017-01-01 01:15:00   3   4   5
2017-01-01 01:30:00   3   4   5
2017-01-01 01:45:00   3   4   5
2017-01-01 02:00:00   6   7   8
2017-01-01 02:15:00   6   7   8
2017-01-01 02:30:00   6   7   8
2017-01-01 02:45:00   6   7   8
2017-01-01 03:00:00   9  10  11
2017-01-01 03:15:00   9  10  11
2017-01-01 03:30:00   9  10  11
2017-01-01 03:45:00   9  10  11
2017-01-01 04:00:00  12  13  14
                      a   b   c
2017-01-01 00:00:00   0   1   2
2017-01-01 00:15:00   3   4   5
2017-01-01 00:30:00   3   4   5
2017-01-01 00:45:00   3   4   5
2017-01-01 01:00:00   3   4   5
2017-01-01 01:15:00   6   7   8
2017-01-01 01:30:00   6   7   8
2017-01-01 01:45:00   6   7   8
2017-01-01 02:00:00   6   7   8
2017-01-01 02:15:00   9  10  11
2017-01-01 02:30:00   9  10  11
2017-01-01 02:45:00   9  10  11
2017-01-01 03:00:00   9  10  11
2017-01-01 03:15:00  12  13  14
2017-01-01 03:30:00  12  13  14
2017-01-01 03:45:00  12  13  14
2017-01-01 04:00:00  12  13  14

In [25]:
import pandas as pd
import numpy as np
a=pd.date_range('20190101',periods=10)
b=pd.Series(np.random.rand(10),index=a)
print(b,type(b))

2019-01-01    0.015649
2019-01-02    0.001869
2019-01-03    0.113082
2019-01-04    0.024342
2019-01-05    0.717488
2019-01-06    0.895753
2019-01-07    0.771733
2019-01-08    0.076347
2019-01-09    0.965893
2019-01-10    0.985709
Freq: D, dtype: float64 <class 'pandas.core.series.Series'>

In [33]:
# 作业1：按要求创建时间序列ts1，通过降采样和升采样，转换成ts2，ts3

ts1 = pd.Series(np.random.rand(10),
              index = pd.date_range('20170101',periods = 10, freq = 'D'))
ts2 = ts1.resample('3D').mean()
ts3 = ts1.resample('12H').ffill()
print('创建时间序列ts1：\n',ts1,'\n------')
print('转换成ts2：\n',ts2,'\n------')
print('转换成ts3：\n',ts3,'\n------')

创建时间序列ts1：
 2017-01-01    0.298878
2017-01-02    0.323670
2017-01-03    0.330015
2017-01-04    0.476434
2017-01-05    0.918625
2017-01-06    0.518229
2017-01-07    0.421008
2017-01-08    0.470174
2017-01-09    0.203158
2017-01-10    0.221607
Freq: D, dtype: float64
------
转换成ts2：
 2017-01-01    0.317521
2017-01-04    0.637762
2017-01-07    0.364780
2017-01-10    0.221607
Freq: 3D, dtype: float64
------
转换成ts3：
 2017-01-01 00:00:00    0.298878
2017-01-01 12:00:00    0.298878
2017-01-02 00:00:00    0.323670
2017-01-02 12:00:00    0.323670
2017-01-03 00:00:00    0.330015
2017-01-03 12:00:00    0.330015
2017-01-04 00:00:00    0.476434
2017-01-04 12:00:00    0.476434
2017-01-05 00:00:00    0.918625
2017-01-05 12:00:00    0.918625
2017-01-06 00:00:00    0.518229
2017-01-06 12:00:00    0.518229
2017-01-07 00:00:00    0.421008
2017-01-07 12:00:00    0.421008
2017-01-08 00:00:00    0.470174
2017-01-08 12:00:00    0.470174
2017-01-09 00:00:00    0.203158
2017-01-09 12:00:00    0.203158
2017-01-10 00:00:00    0.221607
Freq: 12H, dtype: float64
------


# 【课程2.14】  数值计算和统计基础

常用数学、统计方法
 
'''

In [27]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':[4,5,3,np.nan,2],
                 'key2':[1,2,np.nan,4,5],
                 'key3':[1,2,3,'j','k']},
                 index = ['a','b','c','d','e'])
print(df)
print(df['key1'].dtype,df['key2'].dtype,df['key3'].dtype)
print('-----')
print(df.mean(),type(df.mean()))
m2 = df.mean(axis=1)#按行计算
# axis参数：默认为0，以列来计算，axis=1，以行来计算，这里就按照行来汇总了

print(m2)
print('=============')
m3 = df.mean(axis=1,skipna=False)
print(m3)
print('-----')
# skipna参数：是否忽略NaN，默认True，如False，有NaN的列统计结果仍未NaN

   key1  key2 key3
a   4.0   1.0    1
b   5.0   2.0    2
c   3.0   NaN    3
d   NaN   4.0    j
e   2.0   5.0    k
float64 float64 object
-----
key1    3.5
key2    3.0
dtype: float64 <class 'pandas.core.series.Series'>
a    2.5
b    3.5
c    3.0
d    4.0
e    3.5
dtype: float64
=============
a    2.5
b    3.5
c    NaN
d    NaN
e    3.5
dtype: float64
-----

## 主要数学计算方法，可用于Series和DataFrame（1）

In [48]:
# 主要数学计算方法，可用于Series和DataFrame（1）

df = pd.DataFrame({'key1':np.arange(10),
                  'key2':np.random.rand(10)*10})
print(df)
print('-----')

print(df.count(),'→ count统计非Na值的数量\n')
print(df.min(),'→ min统计最小值\n',df['key2'].max(),'→ max统计最大值\n')
print(df.quantile(q=0.75),'→ quantile统计分位数，参数q确定位置\n')
print(df.sum(),'→ sum求和\n')
print(df.mean(),'→ mean求平均值\n')
print(df.median(),'→ median求算数中位数，50%分位数\n')
print(df.std(),'\n',df.var(),'→ std,var分别求标准差，方差\n')
print(df.skew(),'→ skew样本的偏度\n')
print(df.kurt(),'→ kurt样本的峰度\n')
print('--------------------')
print(df['key1'].mean())
print(df.iloc[0:4].std())
print('=========')
# 主要数学计算方法，可用于Series和DataFrame（2）

df['key1_s'] = df['key1'].cumsum()
df['key2_s'] = df['key2'].cumsum()
print(df,'→ cumsum样本的累计和\n')
df['key1_p'] = df['key1'].cumprod()
df['key2_p'] = df['key2'].cumprod()
print(df,'→ cumprod样本的累计积\n')



print(df.cummax(),'\n',df.cummin(),'→ cummax,cummin分别求累计最大值，累计最小值\n')
# 会填充key1，和key2的值

   key1      key2
0     0  1.618990
1     1  2.191139
2     2  1.427148
3     3  6.037145
4     4  5.644987
5     5  0.756088
6     6  0.317903
7     7  1.933390
8     8  5.310535
9     9  5.077686
-----
key1    10
key2    10
dtype: int64 → count统计非Na值的数量

key1    0.000000
key2    0.317903
dtype: float64 → min统计最小值
 6.037144673854247 → max统计最大值

key1    6.750000
key2    5.252323
Name: 0.75, dtype: float64 → quantile统计分位数，参数q确定位置

key1    45.000000
key2    30.315011
dtype: float64 → sum求和

key1    4.500000
key2    3.031501
dtype: float64 → mean求平均值

key1    4.500000
key2    2.062264
dtype: float64 → median求算数中位数，50%分位数

key1    3.027650
key2    2.217791
dtype: float64
 key1    9.166667
key2    4.918599
dtype: float64 → std,var分别求标准差，方差

key1    0.000000
key2    0.315502
dtype: float64 → skew样本的偏度

key1   -1.200000
key2   -1.936315
dtype: float64 → kurt样本的峰度

--------------------
4.5
key1    1.290994
key2    2.170095
dtype: float64
=========
   key1      key2  key1_s     key2_s
0     0  1.618990       0   1.618990
1     1  2.191139       1   3.810129
2     2  1.427148       3   5.237277
3     3  6.037145       6  11.274422
4     4  5.644987      10  16.919409
5     5  0.756088      15  17.675497
6     6  0.317903      21  17.993399
7     7  1.933390      28  19.926789
8     8  5.310535      36  25.237324
9     9  5.077686      45  30.315011 → cumsum样本的累计和

   key1      key2  key1_s     key2_s  key1_p       key2_p
0     0  1.618990       0   1.618990       0     1.618990
1     1  2.191139       1   3.810129       0     3.547432
2     2  1.427148       3   5.237277       0     5.062710
3     3  6.037145       6  11.274422       0    30.564315
4     4  5.644987      10  16.919409       0   172.535163
5     5  0.756088      15  17.675497       0   130.451815
6     6  0.317903      21  17.993399       0    41.470965
7     7  1.933390      28  19.926789       0    80.179530
8     8  5.310535      36  25.237324       0   425.796228
9     9  5.077686      45  30.315011       0  2162.059695 → cumprod样本的累计积

   key1      key2  key1_s     key2_s  key1_p       key2_p
0   0.0  1.618990     0.0   1.618990     0.0     1.618990
1   1.0  2.191139     1.0   3.810129     0.0     3.547432
2   2.0  2.191139     3.0   5.237277     0.0     5.062710
3   3.0  6.037145     6.0  11.274422     0.0    30.564315
4   4.0  6.037145    10.0  16.919409     0.0   172.535163
5   5.0  6.037145    15.0  17.675497     0.0   172.535163
6   6.0  6.037145    21.0  17.993399     0.0   172.535163
7   7.0  6.037145    28.0  19.926789     0.0   172.535163
8   8.0  6.037145    36.0  25.237324     0.0   425.796228
9   9.0  6.037145    45.0  30.315011     0.0  2162.059695
    key1      key2  key1_s   key2_s  key1_p   key2_p
0   0.0  1.618990     0.0  1.61899     0.0  1.61899
1   0.0  1.618990     0.0  1.61899     0.0  1.61899
2   0.0  1.427148     0.0  1.61899     0.0  1.61899
3   0.0  1.427148     0.0  1.61899     0.0  1.61899
4   0.0  1.427148     0.0  1.61899     0.0  1.61899
5   0.0  0.756088     0.0  1.61899     0.0  1.61899
6   0.0  0.317903     0.0  1.61899     0.0  1.61899
7   0.0  0.317903     0.0  1.61899     0.0  1.61899
8   0.0  0.317903     0.0  1.61899     0.0  1.61899
9   0.0  0.317903     0.0  1.61899     0.0  1.61899 → cummax,cummin分别求累计最大值，累计最小值

## 唯一值：.unique()

In [51]:
# 唯一值：.unique()

s = pd.Series(list('asdvasdcfgg'))
sq = s.unique()
print(s)
print('=====')
print(sq,type(sq))
print(pd.Series(sq))
# 得到一个唯一值数组
# 通过pd.Series重新变成新的Series

sq.sort()
print(sq)
# 重新排序
print('-------------------')
# 值计数：.value_counts()

sc = s.value_counts(sort = False)  # 也可以这样写：pd.value_counts(sc, sort = False)
print(sc)
# 得到一个新的Series，计算出不同值出现的频率
# sort参数：排序，默认为True

0     a
1     s
2     d
3     v
4     a
5     s
6     d
7     c
8     f
9     g
10    g
dtype: object
=====
['a' 's' 'd' 'v' 'c' 'f' 'g'] <class 'numpy.ndarray'>
0    a
1    s
2    d
3    v
4    c
5    f
6    g
dtype: object
['a' 'c' 'd' 'f' 'g' 's' 'v']
-------------------
v    1
a    2
c    1
f    1
s    2
g    2
d    2
dtype: int64

## 成员资格：.isin()判断值是否在里面

In [52]:
# 成员资格：.isin()判断值是否在里面

s = pd.Series(np.arange(10,15))
df = pd.DataFrame({'key1':list('asdcbvasd'),
                  'key2':np.arange(4,13)})
print(s)
print(df)
print('-----')

print(s.isin([5,14]))#只有一个值也要加【】
print(df.isin(['a','bc','10',8]))
# 用[]表示
# 得到一个布尔值的Series或者Dataframe

0    10
1    11
2    12
3    13
4    14
dtype: int32
  key1  key2
0    a     4
1    s     5
2    d     6
3    c     7
4    b     8
5    v     9
6    a    10
7    s    11
8    d    12
-----
0    False
1    False
2    False
3    False
4     True
dtype: bool
    key1   key2
0   True  False
1  False  False
2  False  False
3  False  False
4  False   True
5  False  False
6   True  False
7  False  False
8  False  False

In [18]:
#作业1：如图创建一个Dataframe（5*2，值为0-100的随机值），并分别计算key1和key2的均值、中位数、累积和
import pandas as pd
import numpy as np
a=pd.DataFrame(np.random.rand(10).reshape(5,2)*100,columns=['key1','key2'])
print(a)
a.copy()#对A 进行备份，不改变原来的a
b=a.copy()
b['key1'].loc[0]=np.nan
print(b)

print('=============')
print('key1的均值为：\n',a['key1'].mean())
print('key1的中位数为：\n',a['key1'].median())#ctrl+?号快速注释
print('key2的标准差为：\n',a['key2'].std())
a['key1_s'] = a['key1'].cumsum()
a['key2_s'] = a['key2'].cumsum()
print(a,'→ cumsum样本的累计和\n')
a['key1_p'] = a['key1'].cumprod()
a['key2_p'] = a['key2'].cumprod()
print(a,'→ cumprod样本的累计积\n')

        key1       key2
0  20.329922  74.609371
1  25.150030  14.231667
2  96.054287  73.409004
3  35.301718   9.055041
4  20.898620   3.436066
        key1       key2
0        NaN  74.609371
1  25.150030  14.231667
2  96.054287  73.409004
3  35.301718   9.055041
4  20.898620   3.436066
=============
key1的均值为：
 39.54691565579607
key1的中位数为：
 25.15003022664295
key2的标准差为：
 35.86393386462574
        key1       key2      key1_s      key2_s
0  20.329922  74.609371   20.329922   74.609371
1  25.150030  14.231667   45.479953   88.841038
2  96.054287  73.409004  141.534240  162.250043
3  35.301718   9.055041  176.835958  171.305083
4  20.898620   3.436066  197.734578  174.741149 → cumsum样本的累计和

        key1       key2      key1_s      key2_s        key1_p        key2_p
0  20.329922  74.609371   20.329922   74.609371  2.032992e+01  7.460937e+01
1  25.150030  14.231667   45.479953   88.841038  5.112982e+02  1.061816e+03
2  96.054287  73.409004  141.534240  162.250043  4.911238e+04  7.794683e+04
3  35.301718   9.055041  176.835958  171.305083  1.733751e+06  7.058118e+05
4  20.898620   3.436066  197.734578  174.741149  3.623301e+07  2.425216e+06 → cumprod样本的累计积

In [3]:
# 作业2：写出一个输入元素直接生成数组的代码块，然后创建一个函数，该函数功能用于判断一个Series是否是唯一值数组，返回“是”和“不是”
import pandas as pd

def f(s):
    s2 = s.unique()
    if len(s) == len(s2):
        print('------\n该数组是唯一值数组')
    else:
        print('------\n该数组不是唯一值数组')

d = input('请随机输入一组元素，用逗号（英文符号）隔开：\n')
lst = d.split(',')
ds = pd.Series(lst)
f(ds)

请随机输入一组元素，用逗号（英文符号）隔开：
1,2,3,4,5,5,6
------
该数组不是唯一值数组

# 【课程2.15】  文本数据
- Pandas针对字符串配备的一套方法，使其易于对数组的每个元素进行操作
- 通过str访问，且自动排除丢失/ NA值
- 可以对Series、Dataframe使用

In [5]:
'''
【课程2.15】  文本数据

Pandas针对字符串配备的一套方法，使其易于对数组的每个元素进行操作
 
'''
# 通过str访问，且自动排除丢失/ NA值
import pandas as pd
import numpy as np

s = pd.Series(['A','b','C','bbhello','123',np.nan,'hj'])
df = pd.DataFrame({'key1':list('abcdef'),
                  'key2':['hee','fv','w','hija','123',np.nan]})
print(s)
print(df)
print('-----')

print(s.str.count('b'))
print(df['key2'].str.upper())#字母大写
print('-----')
# 直接通过.str调用字符串方法
# 可以对Series、Dataframe使用
# 自动过滤NaN值

df.columns = df.columns.str.upper()
print(df)
# df.columns是一个Index对象，也可使用.str
print(df.columns.str.upper())
print(s.str.count('a'))#NaN中不计算字母

0          A
1          b
2          C
3    bbhello
4        123
5        NaN
6         hj
dtype: object
  key1  key2
0    a   hee
1    b    fv
2    c     w
3    d  hija
4    e   123
5    f   NaN
-----
0    0.0
1    1.0
2    0.0
3    2.0
4    0.0
5    NaN
6    0.0
dtype: float64
0     HEE
1      FV
2       W
3    HIJA
4     123
5     NaN
Name: key2, dtype: object
-----
  KEY1  KEY2
0    a   hee
1    b    fv
2    c     w
3    d  hija
4    e   123
5    f   NaN
Index(['KEY1', 'KEY2'], dtype='object')
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    NaN
6    0.0
dtype: float64

## 字符串常用方法（1） - lower，upper，len，startswith，endswith

In [15]:
# 字符串常用方法（1） - lower，upper，len，startswith，endswith

s = pd.Series(['A','b','3bbhello','123',np.nan])

print(s.str.lower(),'→ lower小写\n')
print(s.str.upper(),'→ upper大写\n')
print(s.str.len(),'→ len字符长度\n')
print('=============')
print(s.str.startswith('b'),'→ 判断起始是否为b\n')
print(s.str.endswith('123'),'→ 判断结束是否为123\n')

0           a
1           b
2    3bbhello
3         123
4         NaN
dtype: object → lower小写

0           A
1           B
2    3BBHELLO
3         123
4         NaN
dtype: object → upper大写

0    1.0
1    1.0
2    8.0
3    3.0
4    NaN
dtype: float64 → len字符长度

=============
0    False
1     True
2    False
3    False
4      NaN
dtype: object → 判断起始是否为b

0    False
1    False
2    False
3     True
4      NaN
dtype: object → 判断结束是否为123

##  字符串常用方法（2） - strip

In [16]:
# 字符串常用方法（2） - strip

s = pd.Series([' jack', 'jill ', ' jesse ', 'frank'])
df = pd.DataFrame(np.random.randn(3, 2), columns=[' Column A ', ' Column B '],
                  index=range(3))
print(s)
print(df)
print('-----')

print(s.str.strip())  # 去除字符串中的空格
print(s.str.lstrip())  # 去除字符串中的左空格
print(s.str.rstrip())  # 去除字符串中的右空格

df.columns = df.columns.str.strip()
print(df)
# 这里去掉了columns的前后空格，但没有去掉中间空格

# 字符串常用方法（3） - replace

0       jack
1      jill
2     jesse
3      frank
dtype: object
    Column A    Column B
0   -1.156703    0.432329
1   -0.533248    0.107541
2    1.098596    0.446579
-----
0     jack
1     jill
2    jesse
3    frank
dtype: object
0      jack
1     jill
2    jesse
3     frank
dtype: object
0      jack
1      jill
2     jesse
3     frank
dtype: object
   Column A  Column B
0 -1.156703  0.432329
1 -0.533248  0.107541
2  1.098596  0.446579

## 字符串常用方法（3） - replace

In [17]:
# 字符串常用方法（3） - replace

df = pd.DataFrame(np.random.randn(3, 2), columns=[' Column A ', ' Column B '],
                  index=range(3))
df.columns = df.columns.str.replace(' ','-')#把空格换成‘-’
print(df)
# 替换

df.columns = df.columns.str.replace('-','hehe',n=1)#只替换第一个‘-’
print(df)
# n：替换个数

   -Column-A-  -Column-B-
0   -0.515496   -0.135415
1   -0.686939   -1.103562
2   -1.052503    0.689996
   heheColumn-A-  heheColumn-B-
0      -0.515496      -0.135415
1      -0.686939      -1.103562
2      -1.052503       0.689996

## 字符串常用方法（4） - split、rsplit

In [19]:
# 字符串常用方法（4） - split、rsplit

s = pd.Series(['a,b,c','1,2,3',['a,,,c'],np.nan])
print(s.str.split(','))
print('-----')
# 类似字符串的split

print(s.str.split(',')[0])
print('-----')
# 直接索引得到一个list

print(s.str.split(',').str[0])#第0行
print(s.str.split(',').str.get(1))
print('-----')
# 可以使用get或[]符号访问拆分列表中的元素

print(s.str.split(',', expand=True))
print(s.str.split(',', expand=True, n = 1))
print(s.str.rsplit(',', expand=True, n = 1))#分割一次
print('-----')
# 可以使用expand可以轻松扩展此操作以返回DataFrame
# n参数限制分割数
# rsplit类似于split，反向工作，即从字符串的末尾到字符串的开头

df = pd.DataFrame({'key1':['a,b,c','1,2,3',[':,., ']],
                  'key2':['a-b-c','1-2-3',[':-.- ']]})
print(df)
print(df['key2'].str.split('-'))
# Dataframe使用split

0    [a, b, c]
1    [1, 2, 3]
2          NaN
3          NaN
dtype: object
-----
['a', 'b', 'c']
-----
0      a
1      1
2    NaN
3    NaN
dtype: object
0      b
1      2
2    NaN
3    NaN
dtype: object
-----
     0    1    2
0    a    b    c
1    1    2    3
2  NaN  NaN  NaN
3  NaN  NaN  NaN
     0    1
0    a  b,c
1    1  2,3
2  NaN  NaN
3  NaN  NaN
     0    1
0  a,b    c
1  1,2    3
2  NaN  NaN
3  NaN  NaN
-----
      key1     key2
0    a,b,c    a-b-c
1    1,2,3    1-2-3
2  [:,., ]  [:-.- ]
0    [a, b, c]
1    [1, 2, 3]
2          NaN
Name: key2, dtype: object

## 字符串索引

In [20]:
# 字符串索引

s = pd.Series(['A','b','C','bbhello','123',np.nan,'hj'])
df = pd.DataFrame({'key1':list('abcdef'),
                  'key2':['hee','fv','w','hija','123',np.nan]})

print(s.str[0])  # 取第一个字符串
print(s.str[:2])  # 取前两个字符串
print(df['key2'].str[0]) 
# str之后和字符串本身索引方式相同

0      A
1      b
2      C
3      b
4      1
5    NaN
6      h
dtype: object
0      A
1      b
2      C
3     bb
4     12
5    NaN
6     hj
dtype: object
0      h
1      f
2      w
3      h
4      1
5    NaN
Name: key2, dtype: object

In [28]:
# 作业1：如图创建一个Dataframe，并分别通过字符串常用方法得到3个Series：
# ① name字段首字母全部大写
# ② gender字段去除所有空格
# ③ score字段按照-拆分，分别是math，english，art三个学分

df = pd.DataFrame({'name':['jack','tom','Marry','zack','heheda'],
                  'gender':['M ','M','   F','  M ','  F'],
                  'score':['90-92-89','89-78-88','90-92-95','78-88-76','60-60-67']})
print('创建Dataframe为：\n',df,'\n------')
df['name'] = df['name'].str.title()#首字母大写也可以用capitalize()
df['gender'] = df['gender'].str.strip()
df['math'] = df['score'].str.split('-', expand=True)[0]
df['english'] = df['score'].str.split('-', expand=True)[0]
df['art'] = df['score'].str.split('-', expand=True)[0]
del df['score']

print('修改后为：\n',df,'\n------')

创建Dataframe为：
      name gender     score
0    jack     M   90-92-89
1     tom      M  89-78-88
2   Marry      F  90-92-95
3    zack     M   78-88-76
4  heheda      F  60-60-67
------
修改后为：
      name gender math english art
0    Jack      M   90      90  90
1     Tom      M   89      89  89
2   Marry      F   90      90  90
3    Zack      M   78      78  78
4  Heheda      F   60      60  60
------


# 【课程2.16】  合并 merge、join

- Pandas具有全功能的，高性能内存中连接操作，与SQL等关系数据库非常相似

- pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None,
         left_index=False, right_index=False, sort=True,
         suffixes=('_x', '_y'), copy=True, indicator=False)
 
'''

## merge合并 → 类似excel的vlookup
- 参数how → 合并方式
- 参数 left_on, right_on, left_index, right_index → 当键不为一个列时，可以单独设置左键与右键
- 参数 排序sort

In [4]:
# merge合并 → 类似excel的vlookup
import pandas as pd
import numpy as np

df1 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
df2 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})#用字典生成dataframe
df3 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                    'key2': ['K0', 'K1', 'K0', 'K1'],
                    'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3']})
df4 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                    'key2': ['K0', 'K0', 'K0', 'K0'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']})
print(df1)
print(df2)
print(pd.merge(df1, df2, on='key'))#on='key'养成习惯，必须写
print('------')
# left：第一个df
# right：第二个df
# on：参考键

print(pd.merge(df3, df4, on=['key1','key2']))#数据取交集键必须一样
# 多个链接键

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3
  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3
  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3
------
  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

In [7]:
# 参数how → 合并方式
print(df3)
print(df4)
print('========')
print(pd.merge(df3, df4,on=['key1','key2'], how = 'inner'))  
print('------')
# inner：默认，取交集

print(pd.merge(df3, df4, on=['key1','key2'], how = 'outer'))  
print('------')
# outer：取并集，数据缺失范围NaN

print(pd.merge(df3, df4, on=['key1','key2'], how = 'left'))  
print('------')
# left：按照df3为参考合并，数据缺失范围NaN

print(pd.merge(df3, df4, on=['key1','key2'], how = 'right'))  
# right：按照df4为参考合并，数据缺失范围NaN

  key1 key2   A   B
0   K0   K0  A0  B0
1   K0   K1  A1  B1
2   K1   K0  A2  B2
3   K2   K1  A3  B3
  key1 key2   C   D
0   K0   K0  C0  D0
1   K1   K0  C1  D1
2   K1   K0  C2  D2
3   K2   K0  C3  D3
========
  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2
------
  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2   C1   D1
3   K1   K0   A2   B2   C2   D2
4   K2   K1   A3   B3  NaN  NaN
5   K2   K0  NaN  NaN   C3   D3
------
  key1 key2   A   B    C    D
0   K0   K0  A0  B0   C0   D0
1   K0   K1  A1  B1  NaN  NaN
2   K1   K0  A2  B2   C1   D1
3   K1   K0  A2  B2   C2   D2
4   K2   K1  A3  B3  NaN  NaN
------
  key1 key2    A    B   C   D
0   K0   K0   A0   B0  C0  D0
1   K1   K0   A2   B2  C1  D1
2   K1   K0   A2   B2  C2  D2
3   K2   K0  NaN  NaN  C3  D3

In [9]:
# 参数 left_on, right_on, left_index, right_index → 当键不为一个列时，可以单独设置左键与右键

df1 = pd.DataFrame({'lkey':list('bbacaab'),
                   'data1':range(7)})
df2 = pd.DataFrame({'rkey':list('abd'),
                   'date2':range(3)})
print(df1)
print(df2)
print(pd.merge(df1, df2, left_on='lkey', right_on='rkey'))
print('------')
# df1以‘lkey’为键，df2以‘rkey’为键

df1 = pd.DataFrame({'key':list('abcdfeg'),
                   'data1':range(7)})
df2 = pd.DataFrame({'date2':range(100,105)},
                  index = list('abcde'))
print(pd.merge(df1, df2, left_on='key', right_index=True))
# df1以‘key’为键，df2以index为键
# left_index：为True时，第一个df以index为键，默认False
# right_index：为True时，第二个df以index为键，默认False

# 所以left_on, right_on, left_index, right_index可以相互组合：
# left_on + right_on, left_on + right_index, left_index + right_on, left_index + right_index

  lkey  data1
0    b      0
1    b      1
2    a      2
3    c      3
4    a      4
5    a      5
6    b      6
  rkey  date2
0    a      0
1    b      1
2    d      2
  lkey  data1 rkey  date2
0    b      0    b      1
1    b      1    b      1
2    b      6    b      1
3    a      2    a      0
4    a      4    a      0
5    a      5    a      0
------
  key  data1  date2
0   a      0    100
1   b      1    101
2   c      2    102
3   d      3    103
5   e      5    104

In [11]:
# 参数 排序sort

df1 = pd.DataFrame({'key':list('bbacaab'),
                   'data1':[1,3,2,4,5,9,7]})
df2 = pd.DataFrame({'key':list('abd'),
                   'date2':[11,2,33]})
print(df1)
print(df2)
print('==============')
x1 = pd.merge(df1,df2, on = 'key', how = 'outer')
x2 = pd.merge(df1,df2, on = 'key', sort=True, how = 'outer')
print(x1)
print(x2)
print('------')
# sort：按照字典顺序通过 连接键 对结果DataFrame进行排序。默认为False，设置为False会大幅提高性能

print(x2.sort_values('data1'))
# 也可直接用Dataframe的排序方法：sort_values，sort_index

  key  data1
0   b      1
1   b      3
2   a      2
3   c      4
4   a      5
5   a      9
6   b      7
  key  date2
0   a     11
1   b      2
2   d     33
==============
  key  data1  date2
0   b    1.0    2.0
1   b    3.0    2.0
2   b    7.0    2.0
3   a    2.0   11.0
4   a    5.0   11.0
5   a    9.0   11.0
6   c    4.0    NaN
7   d    NaN   33.0
  key  data1  date2
0   a    2.0   11.0
1   a    5.0   11.0
2   a    9.0   11.0
3   b    1.0    2.0
4   b    3.0    2.0
5   b    7.0    2.0
6   c    4.0    NaN
7   d    NaN   33.0
------
  key  data1  date2
3   b    1.0    2.0
0   a    2.0   11.0
4   b    3.0    2.0
6   c    4.0    NaN
1   a    5.0   11.0
5   b    7.0    2.0
2   a    9.0   11.0
7   d    NaN   33.0

## pd.join() → 直接通过索引链接,不太重要

In [12]:
# pd.join() → 直接通过索引链接,不太重要

left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                    index=['K0', 'K1', 'K2'])
right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                      'D': ['D0', 'D2', 'D3']},
                     index=['K0', 'K2', 'K3'])
print(left)
print(right)
print(left.join(right))
print(left.join(right, how='outer'))  
print('-----')
# 等价于：pd.merge(left, right, left_index=True, right_index=True, how='outer')

df1 = pd.DataFrame({'key':list('bbacaab'),
                   'data1':[1,3,2,4,5,9,7]})
df2 = pd.DataFrame({'key':list('abd'),
                   'date2':[11,2,33]})
print(df1)
print(df2)
print(pd.merge(df1, df2, left_index=True, right_index=True, suffixes=('_1', '_2')))  
print(df1.join(df2['date2']))
print('-----')
# suffixes=('_x', '_y')默认

left = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3'],
                     'key': ['K0', 'K1', 'K0', 'K1']})
right = pd.DataFrame({'C': ['C0', 'C1'],
                      'D': ['D0', 'D1']},
                     index=['K0', 'K1'])
print(left)
print(right)
print(left.join(right, on = 'key'))
# 等价于pd.merge(left, right, left_on='key', right_index=True, how='left', sort=False);
# left的‘key’和right的index

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2
     C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3
     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2
      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3
-----
  key  data1
0   b      1
1   b      3
2   a      2
3   c      4
4   a      5
5   a      9
6   b      7
  key  date2
0   a     11
1   b      2
2   d     33
  key_1  data1 key_2  date2
0     b      1     a     11
1     b      3     b      2
2     a      2     d     33
  key  data1  date2
0   b      1   11.0
1   b      3    2.0
2   a      2   33.0
3   c      4    NaN
4   a      5    NaN
5   a      9    NaN
6   b      7    NaN
-----
    A   B key
0  A0  B0  K0
1  A1  B1  K1
2  A2  B2  K0
3  A3  B3  K1
     C   D
K0  C0  D0
K1  C1  D1
    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K0  C0  D0
3  A3  B3  K1  C1  D1

In [13]:
# 作业1：按要求创建Dataframe df1、df2，并合并成df3

df1 = pd.DataFrame({'key':['a','b','c'],
                   'values1':np.random.rand(3)})
df2 = pd.DataFrame({'key':['b','c','d'],
                   'values2':np.random.rand(3)})
df3 = pd.merge(df1,df2,on='key',how='outer')#取并集

print('创建df1为：\n',df1,'\n------')
print('创建df2为：\n',df2,'\n------')
print('合并df3为：\n',df3,'\n------')

创建df1为：
   key   values1
0   a  0.857118
1   b  0.796046
2   c  0.745217
------
创建df2为：
   key   values2
0   b  0.713699
1   c  0.256501
2   d  0.460211
------
合并df3为：
   key   values1   values2
0   a  0.857118       NaN
1   b  0.796046  0.713699
2   c  0.745217  0.256501
3   d       NaN  0.460211
------

In [14]:
# 作业2：按要求创建Dataframe df1、df2，并合并成df3

df1 = pd.DataFrame({'lkey':['a','b','c'],
                   'values1':np.random.rand(3)})
df2 = pd.DataFrame({'rkey':['b','c','d'],
                   'values2':np.random.rand(3)})
df3 = pd.merge(df1,df2,left_on='lkey',right_on='rkey',how='left')#按df1进行合并

print('创建df1为：\n',df1,'\n------')
print('创建df2为：\n',df2,'\n------')
print('合并df3为：\n',df3,'\n------')

创建df1为：
   lkey   values1
0    a  0.341784
1    b  0.557079
2    c  0.032408
------
创建df2为：
   rkey   values2
0    b  0.268068
1    c  0.380065
2    d  0.949898
------
合并df3为：
   lkey   values1 rkey   values2
0    a  0.341784  NaN       NaN
1    b  0.557079    b  0.268068
2    c  0.032408    c  0.380065
------

In [15]:
# 作业3：按要求创建Dataframe df1、df2，并合并成df3

df1 = pd.DataFrame({'key':['a','b','c'],
                   'values1':np.random.rand(3)})
df2 = pd.DataFrame({'values2':np.random.rand(3),
                   'values3':[5,6,7]},
                  index = ['b','c','d'])
df3 = pd.merge(df1,df2,left_on='key',right_index=True)#第二个df以index012.。。。。。为键

print('创建df1为：\n',df1,'\n------')
print('创建df2为：\n',df2,'\n------')
print('合并df3为：\n',df3,'\n------')

创建df1为：
   key   values1
0   a  0.393493
1   b  0.287421
2   c  0.746862
------
创建df2为：
     values2  values3
b  0.914100        5
c  0.639237        6
d  0.913708        7
------
合并df3为：
   key   values1   values2  values3
1   b  0.287421  0.914100        5
2   c  0.746862  0.639237        6
------


# 【课程2.17】  连接与修补 concat、combine_first

- 连接 - 沿轴执行连接操作

- pd.concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False,
          keys=None, levels=None, names=None, verify_integrity=False,
          copy=True)
 
'''

## 连接pd.concat()

In [31]:
# 连接pd.concat()
import pandas as pd
import numpy as np

a1=pd.Series([1,2,3])
a2=pd.Series([2,3,4])
a3=pd.Series([1,2,3],index=['a','c','h'])
a4=pd.Series([2,3,4],index=['b','e','d'])
print(a1,type(a1))
print(pd.concat([a1,a2]))
print('=====')
print(pd.concat([a3,a4]).sort_index())#默认升序,默认axis=0，行加行
print('---------')
print(pd.concat([a3,a4],axis=1,sort=False))#axis=1列加列，形成2一个dataframe
# 连接方式：join，join_axes

s5 = pd.Series([1,2,3],index = ['a','b','c'])
s6 = pd.Series([2,3,4],index = ['b','c','d'])
print(pd.concat([s5,s6], axis= 1,sort=False))
print(pd.concat([s5,s6], axis= 1, join='inner',sort=False))#取交集
print('+========')
print(pd.concat([s5,s6], axis= 1, join_axes=[['a','b','d']],sort=False))#取指定的索引
# join：{'inner'，'outer'}，默认为“outer”并集。如何处理其他轴上的索引。outer为联合和inner为交集。
# join_axes：指定联合的index
print(pd.concat([s5,s6],keys=['one','two'],sort=False))#分组
print(pd.concat([s5,s6],keys=['one','two'],axis=1,sort=False))#'one','two'变成columns

0    1
1    2
2    3
dtype: int64 <class 'pandas.core.series.Series'>
0    1
1    2
2    3
0    2
1    3
2    4
dtype: int64
=====
a    1
b    2
c    2
d    4
e    3
h    3
dtype: int64
---------
     0    1
a  1.0  NaN
c  2.0  NaN
h  3.0  NaN
b  NaN  2.0
e  NaN  3.0
d  NaN  4.0
     0    1
a  1.0  NaN
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0
   0  1
b  2  2
c  3  3
+========
     0    1
a  1.0  NaN
b  2.0  2.0
d  NaN  4.0
one  a    1
     b    2
     c    3
two  b    2
     c    3
     d    4
dtype: int64
   one  two
a  1.0  NaN
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

## axis = 1,覆盖列名

In [32]:
# 覆盖列名

sre = pd.concat([s5,s6], keys = ['one','two'])
print(sre,type(sre))
print(sre.index)
print('-----')
# keys：序列，默认值无。使用传递的键作为最外层构建层次索引

sre = pd.concat([s5,s6], axis=1, keys = ['one','two'],sort=False)
print(sre,type(sre))
# axis = 1, 覆盖列名

one  a    1
     b    2
     c    3
two  b    2
     c    3
     d    4
dtype: int64 <class 'pandas.core.series.Series'>
MultiIndex(levels=[['one', 'two'], ['a', 'b', 'c', 'd']],
           codes=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 1, 2, 3]])
-----
   one  two
a  1.0  NaN
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0 <class 'pandas.core.frame.DataFrame'>

## 修补

In [21]:
#修补
df1=pd.DataFrame([[np.nan,3.,5.],[-4.6,np.nan,np.nan],[np.nan,7.,np.nan]])
print(df1)
df2=pd.DataFrame([[-42.6,np.nan,-8.2],[-5,1.6,4]],index=[1,2])
print(df2)
print(df1.combine_first(df2))
print('=======')# 根据index，df1的空值被df2替代,填充空值
# 如果df2的index多于df1，则更新到df1上，比如index=['a',1]
df1.update(df2)
print(df1)
# update，直接df2覆盖df1，相同index位置

     0    1    2
0  NaN  3.0  5.0
1 -4.6  NaN  NaN
2  NaN  7.0  NaN
      0    1    2
1 -42.6  NaN -8.2
2  -5.0  1.6  4.0
     0    1    2
0  NaN  3.0  5.0
1 -4.6  NaN -8.2
2 -5.0  7.0  4.0
=======
      0    1    2
0   NaN  3.0  5.0
1 -42.6  NaN -8.2
2  -5.0  1.6  4.0

In [31]:
# 作业1：按要求创建Dataframe df1、df2，并连接成df3

df1 = pd.DataFrame(np.random.rand(4,2),
                  index = list('abcd'),
                  columns = ['values1','values2'])
df2 = pd.DataFrame(np.random.rand(4,2),
                  index = list('efgh'),
                  columns = ['values1','values2'])
df3 = pd.concat([df1,df2])

print('创建df1为：\n',df1,'\n------')
print('创建df2为：\n',df2,'\n------')
print('连接df3为：\n',df3,'\n------')

创建df1为：
     values1   values2
a  0.222207  0.731727
b  0.816509  0.265177
c  0.906245  0.030104
d  0.664339  0.529626
------
创建df2为：
     values1   values2
e  0.617413  0.474806
f  0.693152  0.465050
g  0.616844  0.807877
h  0.330158  0.645857
------
连接df3为：
     values1   values2
a  0.222207  0.731727
b  0.816509  0.265177
c  0.906245  0.030104
d  0.664339  0.529626
e  0.617413  0.474806
f  0.693152  0.465050
g  0.616844  0.807877
h  0.330158  0.645857
------

In [32]:
# 作业2：按要求创建Dataframe df1、df2，并用df2的值修补df1，生成df3

df1 = pd.DataFrame(np.random.rand(4,2),
                  index = list('abcd'),
                  columns = ['values1','values2'])
df1['values1'].loc[['b','c']] = np.nan
df2 = pd.DataFrame(np.arange(8).reshape(4,2),
                  index = list('abcd'),
                  columns = ['values1','values2'])
df3 = df1.combine_first(df2)

print('创建df1为：\n',df1,'\n------')
print('创建df2为：\n',df2,'\n------')
print('df1修补后为：\n',df3,'\n------')

创建df1为：
     values1   values2
a  0.327013  0.531144
b       NaN  0.344441
c       NaN  0.970589
d  0.941260  0.647566
------
创建df2为：
    values1  values2
a        0        1
b        2        3
c        4        5
d        6        7
------
df1修补后为：
     values1   values2
a  0.327013  0.531144
b  2.000000  0.344441
c  4.000000  0.970589
d  0.941260  0.647566
------


# 【课程2.18】  去重及替换

- .duplicated / .replace
 
'''

##  去重duplicated()

In [34]:
#去重
import pandas as pd
import numpy as np
a=pd.Series([1,1,1,1,2,2,2,2,3,3,4,4,4,5,5])
print(a.duplicated())#判断是否重复，第一次出现不重复，后面则为重复
print(a[a.duplicated()==False])#通过布尔值进行判断
a_re=a.drop_duplicates(inplace=False)#剔除重复值 inplace是否替换原值,默认不替换
print(a_re)
print('======')
df=pd.DataFrame({'key1':['a','a',3,4,5],'key2':['a','a','b','b','c']})
print(df)
print('==================')
print(df.duplicated())#dataframe也可以用
print(df['key2'].duplicated())

0     False
1      True
2      True
3      True
4     False
5      True
6      True
7      True
8     False
9      True
10    False
11     True
12     True
13    False
14     True
dtype: bool
0     1
4     2
8     3
10    4
13    5
dtype: int64
0     1
4     2
8     3
10    4
13    5
dtype: int64
======
  key1 key2
0    a    a
1    a    a
2    3    b
3    4    b
4    5    c
==================
0    False
1     True
2    False
3    False
4    False
dtype: bool
0    False
1     True
2    False
3     True
4    False
Name: key2, dtype: bool

## 替换 .replace

In [54]:
# 替换 .replace

s = pd.Series(list('ascaazsd'))
print(s,'\n==========')
print(s.replace('a', np.nan))#将a换成空值
print(s.replace(['a','s'] ,np.nan))
print(s.replace({'a':'hello world!','s':123}))
# 可一次性替换一个值或多个值
# 可传入列表或字典

0    a
1    s
2    c
3    a
4    a
5    z
6    s
7    d
dtype: object
==========
0    NaN
1      s
2      c
3    NaN
4    NaN
5      z
6      s
7      d
dtype: object
0    NaN
1    NaN
2      c
3    NaN
4    NaN
5      z
6    NaN
7      d
dtype: object
0    hello world!
1             123
2               c
3    hello world!
4    hello world!
5               z
6             123
7               d
dtype: object


# 【课程2.19】  数据分组

- 分组统计 - groupby功能

- ① 根据某些条件将数据拆分成组
- ② 对每个组独立应用函数
- ③ 将结果合并到一个数据结构中

- Dataframe在行（axis=0）或列（axis=1）上进行分组，将一个函数应用到各个分组并产生一个新值，然后函数执行结果被合并到最终的结果对象中。

- df.groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, squeeze=False, **kwargs)
 
'''

## 分组groupby

In [7]:
# 分组
import pandas as pd
import numpy as np

df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar','foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
print(df)
print('------')

print(df.groupby('A'), type(df.groupby('A')))
print(df.groupby('A').sum())
print('------')
# 直接分组得到一个groupby对象，是一个中间数据，没有进行计算

a = df.groupby('A').mean()

b = df.groupby(['A','B']).mean()#同时以AB分组
c = df.groupby(['A'])['D'].mean()  # 以A分组，算D的平均值
print(a,type(a),'\n',a.columns)
print('===========')
print(b,type(b),'\n',b.columns)
print(c,type(c))
# 通过分组后的计算，得到一个新的dataframe
# 默认axis = 0，以行来分组
# 可单个或多个（[]）列分组

     A      B         C         D
0  foo    one -0.594420  1.468505
1  bar    one  0.312342 -0.062752
2  foo    two  0.061984  0.783427
3  bar  three -2.983098  0.990179
4  foo    two  2.287399 -0.509639
5  bar    two -2.029174 -2.145208
6  foo    one -1.117450  1.659615
7  foo  three  0.556324 -0.537275
------
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000021D47790940> <class 'pandas.core.groupby.generic.DataFrameGroupBy'>
            C         D
A
bar -4.699931 -1.217781
foo  1.193839  2.864634
------
            C         D
A
bar -1.566644 -0.405927
foo  0.238768  0.572927 <class 'pandas.core.frame.DataFrame'>
 Index(['C', 'D'], dtype='object')
===========
                  C         D
A   B
bar one    0.312342 -0.062752
    three -2.983098  0.990179
    two   -2.029174 -2.145208
foo one   -0.855935  1.564060
    three  0.556324 -0.537275
    two    1.174692  0.136894 <class 'pandas.core.frame.DataFrame'>
 Index(['C', 'D'], dtype='object')
A
bar   -0.405927
foo    0.572927
Name: D, dtype: float64 <class 'pandas.core.series.Series'>

## 分组 - 可迭代对象

In [9]:
# 分组 - 可迭代对象

df = pd.DataFrame({'X' : ['A', 'B', 'A', 'B'], 'Y' : [1, 4, 3, 2]})
print(df)
print(df.groupby('X'), type(df.groupby('X')))
print('-----')

print(list(df.groupby('X')), '→ 可迭代对象，直接生成list\n')
print(list(df.groupby('X'))[0], '→ 以元祖形式显示\n')
for n,g in df.groupby('X'):
    print(n)
    print(g)
    print('=========')
print('-----')
# n是组名，g是分组后的Dataframe

print(df.groupby(['X']).get_group('A'),'\n')
print(df.groupby(['X']).get_group('B'),'\n')
print('-----')
# .get_group()提取分组后的组

grouped = df.groupby(['X'])
print(grouped.groups)
print(grouped.groups['A'])  # 也可写：df.groupby('X').groups['A']
print('-----')
# .groups：将分组后的groups转为dict
# 可以字典索引方法来查看groups里的元素

sz = grouped.size()
print(sz,type(sz))
print('-----')
# .size()：查看分组后的长度

df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar','foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
grouped = df.groupby(['A','B']).groups
print(df)
print(grouped)
print(grouped[('foo', 'three')])
# 按照两个列进行分组

   X  Y
0  A  1
1  B  4
2  A  3
3  B  2
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000021D4493D2E8> <class 'pandas.core.groupby.generic.DataFrameGroupBy'>
-----
[('A',    X  Y
0  A  1
2  A  3), ('B',    X  Y
1  B  4
3  B  2)] → 可迭代对象，直接生成list

('A',    X  Y
0  A  1
2  A  3) → 以元祖形式显示

A
   X  Y
0  A  1
2  A  3
=========
B
   X  Y
1  B  4
3  B  2
=========
-----
   X  Y
0  A  1
2  A  3

   X  Y
1  B  4
3  B  2

-----
{'A': Int64Index([0, 2], dtype='int64'), 'B': Int64Index([1, 3], dtype='int64')}
Int64Index([0, 2], dtype='int64')
-----
X
A    2
B    2
dtype: int64 <class 'pandas.core.series.Series'>
-----
     A      B         C         D
0  foo    one  0.322230 -0.205208
1  bar    one  0.037935  0.083460
2  foo    two  2.813552  0.653548
3  bar  three  0.453584  0.889485
4  foo    two -0.121093  0.686546
5  bar    two -0.513941  1.022868
6  foo    one  0.619855 -1.072086
7  foo  three -1.206502 -1.196844
{('bar', 'one'): Int64Index([1], dtype='int64'), ('bar', 'three'): Int64Index([3], dtype='int64'), ('bar', 'two'): Int64Index([5], dtype='int64'), ('foo', 'one'): Int64Index([0, 6], dtype='int64'), ('foo', 'three'): Int64Index([7], dtype='int64'), ('foo', 'two'): Int64Index([2, 4], dtype='int64')}
Int64Index([7], dtype='int64')

## 其他轴上的分组，通过字典/Series/函数分组

In [10]:
# 其他轴上的分组

df = pd.DataFrame({'data1':np.random.rand(2),
                  'data2':np.random.rand(2),
                  'key1':['a','b'],
                  'key2':['one','two']})
print(df)
print(df.dtypes)
print('-----')
for n,p in df.groupby(df.dtypes, axis=1):
    print(n)
    print(p)
    print('##')
# 按照值类型分列

      data1     data2 key1 key2
0  0.052856  0.916940    a  one
1  0.488967  0.028353    b  two
data1    float64
data2    float64
key1      object
key2      object
dtype: object
-----
float64
      data1     data2
0  0.052856  0.916940
1  0.488967  0.028353
##
object
  key1 key2
0    a  one
1    b  two
##

In [12]:
# 通过字典或者Series分组

df = pd.DataFrame(np.arange(16).reshape(4,4),
                  columns = ['a','b','c','d'])
print(df)
print('=====')

mapping = {'a':'one','b':'one','c':'two','d':'two','e':'three'}
by_column = df.groupby(mapping, axis = 1)
print(by_column.sum())
print('-----')
# mapping中，a、b列对应的为one，c、d列对应的为two，以字典来分组

s = pd.Series(mapping)
print(s,'\n')
print(s.groupby(s).count())#按列计数
# s中，index中a、b对应的为one，c、d对应的为two，以Series来分组

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
=====
   one  two
0    1    5
1    9   13
2   17   21
3   25   29
-----
a      one
b      one
c      two
d      two
e    three
dtype: object

one      2
three    1
two      2
dtype: int64

In [13]:
# 通过函数分组

df = pd.DataFrame(np.arange(16).reshape(4,4),
                  columns = ['a','b','c','d'],
                 index = ['abc','bcd','aa','b'])
print(df,'\n')
print(df.groupby(len).sum())
# 按照字母长度分组，abc,bcd字母长度一样则求和

      a   b   c   d
abc   0   1   2   3
bcd   4   5   6   7
aa    8   9  10  11
b    12  13  14  15

    a   b   c   d
1  12  13  14  15
2   8   9  10  11
3   4   6   8  10

##  分组计算函数方法

In [17]:
# 分组计算函数方法

s = pd.Series([1, 2, 3, 10, 20, 30], index = [1, 2, 3, 1, 2, 3])
grouped = s.groupby(level=0)  # 唯一索引用.groupby(level=0)，将同一个index的分为一组
print(s,'\n=============')
print(grouped)
print(grouped.first(),'→ first：非NaN的第一个值\n')
print(grouped.last(),'→ last：非NaN的最后一个值\n')
print(grouped.sum(),'→ sum：非NaN的和\n')
print(grouped.mean(),'→ mean：非NaN的平均值\n')
print(grouped.median(),'→ median：非NaN的算术中位数\n')
print(grouped.count(),'→ count：非NaN的个数\n')
print(grouped.min(),'→ min、max：非NaN的最小值、最大值\n')
print(grouped.std(),'→ std，var：非NaN的标准差和方差\n')
print(grouped.prod(),'→ prod：非NaN的积\n')

1     1
2     2
3     3
1    10
2    20
3    30
dtype: int64
=============
<pandas.core.groupby.generic.SeriesGroupBy object at 0x0000021D49111518>
1    1
2    2
3    3
dtype: int64 → first：非NaN的第一个值

1    10
2    20
3    30
dtype: int64 → last：非NaN的最后一个值

1    11
2    22
3    33
dtype: int64 → sum：非NaN的和

1     5.5
2    11.0
3    16.5
dtype: float64 → mean：非NaN的平均值

1     5.5
2    11.0
3    16.5
dtype: float64 → median：非NaN的算术中位数

1    2
2    2
3    2
dtype: int64 → count：非NaN的值

1    1
2    2
3    3
dtype: int64 → min、max：非NaN的最小值、最大值

1     6.363961
2    12.727922
3    19.091883
dtype: float64 → std，var：非NaN的标准差和方差

1    10
2    40
3    90
dtype: int64 → prod：非NaN的积

In [19]:
# 多函数计算：agg()

df = pd.DataFrame({'a':[1,1,2,2],
                  'b':np.random.rand(4),
                  'c':np.random.rand(4),
                  'd':np.random.rand(4),})
print(df)
print(df.groupby('a').agg(['mean',np.sum]))
print('==========')
print(df.groupby('a')['b'].agg({'result1':np.mean, f
                               'result2':np.sum}))
# 函数写法可以用str，或者np.方法
# 可以通过list，dict传入，当用dict时，key名为columns

   a         b         c         d
0  1  0.877996  0.125822  0.177760
1  1  0.428850  0.196315  0.768456
2  2  0.903732  0.731101  0.039221
3  2  0.860738  0.475797  0.419695
          b                   c                   d
       mean       sum      mean       sum      mean       sum
a
1  0.653423  1.306846  0.161069  0.322138  0.473108  0.946216
2  0.882235  1.764471  0.603449  1.206898  0.229458  0.458916
==========
    result1   result2
a
1  0.653423  1.306846
2  0.882235  1.764471

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:11: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  # This is added back by InteractiveShellApp.init_path()

In [26]:
# 作业1：按要求创建Dataframe df，并通过分组得到以下结果
# ① 以A分组，求出C,D的分组平均值
# ② 以A,B分组，求出D,E的分组求和
# ③ 以A分组，得到所有分组，以字典显示
# ④ 按照数值类型分组，求和
# ⑤ 将C,D作为一组分出来，并计算求和
# ⑥ 以B分组，求出每组的均值，求和，最大值，最小值

df = pd.DataFrame({'A' : ['one', 'two', 'three', 'one','two', 'three', 'one', 'two'],
                   'B' : ['h', 'h', 'h', 'h', 'f', 'f', 'f', 'f'],
                   'C' : np.arange(10,26,2),#步长为2
                   'D' : np.random.randn(8),#有负数，服从标准正态分布的8个样本
                   'E':np.random.rand(8)})


print('创建df为：\n',df,'\n------')
print('以A分组，求出C,D的分组平均值为：\n',df.groupby('A')['C','D'].mean(),'\n------')
print('以A,B分组，求出D,E的分组求和为：\n',df.groupby(['A','B'])['D','E'].sum(),'\n------')
print('以A分组，筛选出分组后的第一组数据为：\n',df.groupby('A').groups,'\n------')
print('按照数值类型分组为：\n',df.groupby(df.dtypes,axis=1).sum(),'\n------')
print('将C,D作为一组分出来，并计算求和为：\n',df.groupby({'C':'r','D':'r'},axis=1).sum(),'\n------')
print('以B分组，求出每组的均值，求和，最大值，最小值：\n',df.groupby('B')
      .agg([np.mean,np.sum,np.max,np.min]),'\n------')

创建df为：
        A  B   C         D         E
0    one  h  10  1.015001  0.537231
1    two  h  12 -0.846283  0.460241
2  three  h  14  1.593910  0.740862
3    one  h  16  0.024987  0.425953
4    two  f  18  0.163505  0.193630
5  three  f  20  2.005953  0.096425
6    one  f  22  1.794073  0.662726
7    two  f  24 -0.445871  0.540798
------
以A分组，求出C,D的分组平均值为：
         C         D
A
one    16  0.944687
three  17  1.799931
two    18 -0.376216
------
以A,B分组，求出D,E的分组求和为：
                 D         E
A     B
one   f  1.794073  0.662726
      h  1.039988  0.963184
three f  2.005953  0.096425
      h  1.593910  0.740862
two   f -0.282366  0.734428
      h -0.846283  0.460241
------
以A分组，筛选出分组后的第一组数据为：
 {'one': Int64Index([0, 3, 6], dtype='int64'), 'three': Int64Index([2, 5], dtype='int64'), 'two': Int64Index([1, 4, 7], dtype='int64')}
------
按照数值类型分组为：
    int32   float64  object
0     10  1.552232    oneh
1     12 -0.386042    twoh
2     14  2.334772  threeh
3     16  0.450940    oneh
4     18  0.357135    twof
5     20  2.102377  threef
6     22  2.456798    onef
7     24  0.094926    twof
------
将C,D作为一组分出来，并计算求和为：
            r
0  11.015001
1  11.153717
2  15.593910
3  16.024987
4  18.163505
5  22.005953
6  23.794073
7  23.554129
------
以B分组，求出每组的均值，求和，最大值，最小值：
      C                       D                                       E  \
  mean sum amax amin      mean       sum      amax      amin      mean
B
f   21  84   24   18  0.879415  3.517659  2.005953 -0.445871  0.373394
h   13  52   16   10  0.446904  1.787615  1.593910 -0.846283  0.541072


        sum      amax      amin
B
f  1.493578  0.662726  0.096425
h  2.164287  0.740862  0.425953
------


# 【课程2.20】  分组转换及一般性“拆分-应用-合并”

-transform / apply
 
'''

## 数据分组转换,transform

In [4]:
# 数据分组转换,transform
import pandas as pd
import numpy as np

df = pd.DataFrame({'data1':np.random.rand(5),
                  'data2':np.random.rand(5),
                  'key1':list('aabba'),
                  'key2':['one','two','one','two','one']})
k_mean = df.groupby('key1').mean()#分别求a,b的均值
print(df)
print(k_mean)
print('=================')
print(pd.merge(df,k_mean,left_on='key1',right_index=True).add_prefix('mean_')) 
# .add_prefix('mean_')：添加前缀
print('-----')
# 通过分组、合并，得到一个包含均值的Dataframe

print(df.groupby('key2').mean()) # 按照key2分组求均值
print(df.groupby('key2').transform(np.mean))
# data1、data2每个位置元素取对应分组列的均值
# 字符串不能进行计算

      data1     data2 key1 key2
0  0.711542  0.371616    a  one
1  0.343332  0.327864    a  two
2  0.679526  0.829633    b  one
3  0.514713  0.829035    b  two
4  0.151239  0.618597    a  one
         data1     data2
key1
a     0.402038  0.439359
b     0.597119  0.829334
=================
   mean_data1_x  mean_data2_x mean_key1 mean_key2  mean_data1_y  mean_data2_y
0      0.711542      0.371616         a       one      0.402038      0.439359
1      0.343332      0.327864         a       two      0.402038      0.439359
4      0.151239      0.618597         a       one      0.402038      0.439359
2      0.679526      0.829633         b       one      0.597119      0.829334
3      0.514713      0.829035         b       two      0.597119      0.829334
-----
         data1     data2
key2
one   0.514102  0.606615
two   0.429022  0.578449
      data1     data2
0  0.514102  0.606615
1  0.429022  0.578449
2  0.514102  0.606615
3  0.429022  0.578449
4  0.514102  0.606615

## apply,一般化Groupby方法：apply

In [6]:
# 一般化Groupby方法：apply

df = pd.DataFrame({'data1':np.random.rand(5),
                  'data2':np.random.rand(5),
                  'key1':list('aabba'),
                  'key2':['one','two','one','two','one']})
print(df,'\n==============')
print(df.groupby('key1').apply(lambda x: x.describe()))
# apply直接运行其中的函数
# 这里为匿名函数，直接描述分组后的统计量

def f_df1(d,n):
    return(d.sort_index()[:n])
def f_df2(d,k1):
    return(d[k1])
print(df.groupby('key1').apply(f_df1,2),'\n')#对key1的前两个进行排序
print('=========')
print(df.groupby('key1').apply(f_df2,'data2'))#key1进行切片列为data2
print(type(df.groupby('key1').apply(f_df2,'data2')))
# f_df1函数：返回排序后的前n行数据
# f_df2函数：返回分组后表的k1列，结果为Series，层次化索引
# 直接运行f_df函数
# 参数直接写在后面，也可以为.apply(f_df,n = 2));

      data1     data2 key1 key2
0  0.872028  0.042458    a  one
1  0.226460  0.085252    a  two
2  0.911538  0.620699    b  one
3  0.433179  0.757883    b  two
4  0.104022  0.444031    a  one
==============
               data1     data2
key1
a    count  3.000000  3.000000
     mean   0.400837  0.190580
     std    0.412630  0.220535
     min    0.104022  0.042458
     25%    0.165241  0.063855
     50%    0.226460  0.085252
     75%    0.549244  0.264642
     max    0.872028  0.444031
b    count  2.000000  2.000000
     mean   0.672358  0.689291
     std    0.338251  0.097004
     min    0.433179  0.620699
     25%    0.552769  0.654995
     50%    0.672358  0.689291
     75%    0.791948  0.723587
     max    0.911538  0.757883
           data1     data2 key1 key2
key1
a    0  0.872028  0.042458    a  one
     1  0.226460  0.085252    a  two
b    2  0.911538  0.620699    b  one
     3  0.433179  0.757883    b  two

=========
key1
a     0    0.042458
      1    0.085252
      4    0.444031
b     2    0.620699
      3    0.757883
Name: data2, dtype: float64
<class 'pandas.core.series.Series'>

In [9]:
# 作业1：按要求创建Dataframe df，通过key分组求和，并将求和结果并在原df中

df = pd.DataFrame({'data1':np.random.rand(8),
                  'data2':np.random.rand(8),
                  'key':list('aabbabab')})

print('创建df为：\n',df,'\n------')
df_ = df.groupby('key').transform(np.mean)
print('求和且合并之后结果为：\n',df.join(df_,rsuffix='_mean'),'\n------')

创建df为：
       data1     data2 key
0  0.005628  0.032768   a
1  0.175023  0.966461   a
2  0.049763  0.306294   b
3  0.417188  0.700602   b
4  0.625078  0.537374   a
5  0.870981  0.722497   b
6  0.906313  0.234383   a
7  0.728406  0.598335   b
------
求和且合并之后结果为：
       data1     data2 key  data1_mean  data2_mean
0  0.005628  0.032768   a    0.428010    0.442747
1  0.175023  0.966461   a    0.428010    0.442747
2  0.049763  0.306294   b    0.516585    0.581932
3  0.417188  0.700602   b    0.516585    0.581932
4  0.625078  0.537374   a    0.428010    0.442747
5  0.870981  0.722497   b    0.516585    0.581932
6  0.906313  0.234383   a    0.428010    0.442747
7  0.728406  0.598335   b    0.516585    0.581932
------


# 【课程2.21】  透视表及交叉表

- 类似excel数据透视 - pivot table / crosstab
 
'''

## 透视表：pivot_table
- pd.pivot_table(data, values=None, index=None, columns=None, aggfunc='mean',
fill_value=None, margins=False, dropna=True, margins_name='All')

In [11]:
#透视表
# 透视表：pivot_table
# pd.pivot_table(data, values=None, index=None, columns=None, aggfunc='mean', 
#fill_value=None, margins=False, dropna=True, margins_name='All')

import pandas as pd
import numpy as np
date=['2017-5-1','2017-5-2','2017-5-3']*3
rng=pd.to_datetime(date)
df=pd.DataFrame({'date':rng,'key':list('abcdabcda'),'values':np.random.rand(9)*10})
print(df)
print('========')
# data：DataFrame对象
# values：要聚合的列或列的列表
# index：数据透视表的index，从原数据的列中筛选
# columns：数据透视表的columns，从原数据的列中筛选
# aggfunc：用于聚合的函数，默认为numpy.mean，支持numpy计算方法

print(pd.pivot_table(df,values='values',index='date',columns='key',aggfunc=np.sum))
#也可以用aggfunc=sum
print('------')
print(pd.pivot_table(df,values='values',index=['date','key'],aggfunc=len))
# 这里就分别以date、key共同做数据透视，值为values：统计不同（date，key）情况下values的平均值
# aggfunc=len(或者count)：计数

        date key    values
0 2017-05-01   a  0.128744
1 2017-05-02   b  1.449884
2 2017-05-03   c  6.368986
3 2017-05-01   d  7.860133
4 2017-05-02   a  2.370987
5 2017-05-03   b  2.410806
6 2017-05-01   c  2.385537
7 2017-05-02   d  1.632762
8 2017-05-03   a  1.848788
========
key                a         b         c         d
date
2017-05-01  0.128744       NaN  2.385537  7.860133
2017-05-02  2.370987  1.449884       NaN  1.632762
2017-05-03  1.848788  2.410806  6.368986       NaN
------
                values
date       key
2017-05-01 a       1.0
           c       1.0
           d       1.0
2017-05-02 a       1.0
           b       1.0
           d       1.0
2017-05-03 a       1.0
           b       1.0
           c       1.0

## 交叉表：crosstab

In [13]:
# 交叉表：crosstab
# 默认情况下，crosstab计算因子的频率表，比如用于str的数据透视分析
# pd.crosstab(index, columns, values=None, rownames=None, colnames=None, aggfunc=None, margins=False, dropna=True, normalize=False)

df = pd.DataFrame({'A': [1, 2, 2, 2, 2],
                   'B': [3, 3, 4, 4, 4],
                   'C': [1, 1, np.nan, 1, 1]})
print(df)
print('======')

print(pd.crosstab(df['A'],df['B']))
print('-----')
# 如果crosstab只接收两个Series，它将提供一个频率表。
# 用A的唯一值，统计B唯一值的出现次数

print(pd.crosstab(df['A'],df['B'],normalize=True))
print('-----')
# normalize：默认False，将所有值除以值的总和进行归一化 → 为True时候显示百分比

print(pd.crosstab(df['A'],df['B'],values=df['C'],aggfunc=np.sum))
print('-----')
# values：可选，根据因子聚合的值数组
# aggfunc：可选，如果未传递values数组，则计算频率表，如果传递数组，则按照指定计算
# 这里相当于以A和B界定分组，计算出每组中第三个系列C的值

print(pd.crosstab(df['A'],df['B'],values=df['C'],aggfunc=np.sum, margins=True))
print('-----')
# margins：布尔值，默认值False，添加行/列边距（小计）

   A  B    C
0  1  3  1.0
1  2  3  1.0
2  2  4  NaN
3  2  4  1.0
4  2  4  1.0
======
B  3  4
A
1  1  0
2  1  3
-----
B    3    4
A
1  0.2  0.0
2  0.2  0.6
-----
B    3    4
A
1  1.0  NaN
2  1.0  2.0
-----
B      3    4  All
A
1    1.0  NaN  1.0
2    1.0  2.0  3.0
All  2.0  2.0  4.0
-----

In [26]:
#作业
import pandas as pd
import numpy as np
df=pd.DataFrame({'A':['one','two','three','one','two','three','one','two'],'B':list('hhhhffff'),
                 'C':np.arange(10,26,2),'D':np.random.randn(8),'E':np.random.rand(8)})
print(df)

       A  B   C         D         E
0    one  h  10  1.477644  0.687923
1    two  h  12 -0.928560  0.266358
2  three  h  14 -1.199381  0.333137
3    one  h  16  0.632720  0.605236
4    two  f  18 -0.449944  0.780017
5  three  f  20 -2.468887  0.075703
6    one  f  22 -1.800331  0.786742
7    two  f  24 -0.146835  0.335885

In [31]:
print(pd.pivot_table(df,values=['C','D'],index='A',aggfunc=np.mean))

        C         D
A
one    16  0.277306
three  17  0.176542
two    18  0.122256

In [32]:
print(pd.pivot_table(df,values=['D','E'],index=['A','B'],aggfunc=np.mean))

                D         E
A     B
one   f  1.331856  0.146741
      h -0.249969  0.395011
three f  0.087818  0.248620
      h  0.265265  0.716340
two   f -0.016634  0.535102
      h  0.400035  0.424902

In [30]:
# 作业1：按要求创建Dataframe df，并通过数据透视表得到以下结果
# ① 以A列聚合，求出C,D的平均值
# ② 以A,B列聚合，求出D,E的均值、求和
# ③ 以B聚合，计算A列的元素频率

df = pd.DataFrame({'A' : ['one', 'two', 'three', 'one','two', 'three', 'one', 'two'],
                   'B' : ['h', 'h', 'h', 'h', 'f', 'f', 'f', 'f'],
                   'C' : np.arange(10,26,2),
                   'D' : np.random.randn(8),
                   'E':np.random.rand(8)})


print('创建df为：\n',df,'\n------')
print('以A列聚合，求出C,D的平均值为：\n',pd.pivot_table(df,values=['C','D'],index='A',aggfunc=np.mean),'\n------')
print('以A,B列聚合，求出D,E的均值、求和为：\n',pd.pivot_table(df,values=['D','E'],index=['A','B'],aggfunc=[np.mean,np.sum]),'\n------')
print('以B聚合，计算A列的元素频率为：\n',pd.crosstab(df['B'],df['A']),'\n------')

创建df为：
        A  B   C         D         E
0    one  h  10  1.217118  0.535582
1    two  h  12  0.400035  0.424902
2  three  h  14  0.265265  0.716340
3    one  h  16 -1.717057  0.254439
4    two  f  18  0.183543  0.579288
5  three  f  20  0.087818  0.248620
6    one  f  22  1.331856  0.146741
7    two  f  24 -0.216811  0.490916
------
以A列聚合，求出C,D的平均值为：
         C         D
A
one    16  0.277306
three  17  0.176542
two    18  0.122256
------
以A,B列聚合，求出D,E的均值、求和为：
              mean                 sum
                D         E         D         E
A     B
one   f  1.331856  0.146741  1.331856  0.146741
      h -0.249969  0.395011 -0.499939  0.790021
three f  0.087818  0.248620  0.087818  0.248620
      h  0.265265  0.716340  0.265265  0.716340
two   f -0.016634  0.535102 -0.033268  1.070204
      h  0.400035  0.424902  0.400035  0.424902
------
以B聚合，计算A列的元素频率为：
 A  one  three  two
B
f    1      1    2
h    2      1    1
------


# 【课程2.22】  数据读取

- 核心：read_table, read_csv, read_excel
 
'''

##  读取普通分隔数据：read_table可以读取txt，csv,excel

In [1]:
# 读取普通分隔数据：read_table
# 可以读取txt，csv
import os
import pandas as pd
import numpy as np
os.chdir('D:/数据分析师/数据分析师（Python）/00课后答案+超级福利/【代码+软件+课后答案】课程资料/CLASSDATA_ch03重点工具掌握：数据解析核心技巧/CH02数据分析工具：Pandas/')

data1 = pd.read_csv('data1.txt', delimiter=',',header = 0)
data1.style
# delimiter：用于拆分的字符，也可以用sep：sep = ','
# header：用做列名的序号，默认为0（第一行）
# index_col：指定某列为行索引，否则自动索引0, 1, .....

# read_table主要用于读取简单的数据，txt/csv

In [4]:
# 读取普通分隔数据：read_table
# 可以读取txt，csv

import os
os.chdir('D:/数据分析师\数据分析师（Python）/00课后答案+超级福利/【代码+软件+课后答案】课程资料/CLASSDATA_ch03重点工具掌握：数据解析核心技巧/CH02数据分析工具：Pandas/')

# 读取excel数据：read_excel

data3 = pd.read_excel('地市级党委书记数据库（2000-10）.xlsx',sheet_name=1,header=0)#返回第一个表
print(data3)
# io ：文件路径。
# sheetname：返回多表使用sheetname=[0,1],若sheetname=None是返回全表 →
         #① int/string 返回的是dataframe ②而none和list返回的是dict
# header：指定列名行，默认0，即取第一行
# index_col：指定列为索引列，也可以使用u”strings”

      省级政区代码    省级政区名称  地市级政区代码 地市级政区名称    年份 党委书记姓名  出生年份  出生月份  籍贯省份代码  \
0     130000       河北省   130100    石家庄市  2000    陈来立   NaN   NaN     NaN
1     130000       河北省   130100    石家庄市  2001    吴振华   NaN   NaN     NaN
2     130000       河北省   130100    石家庄市  2002    吴振华   NaN   NaN     NaN
3     130000       河北省   130100    石家庄市  2003    吴振华   NaN   NaN     NaN
4     130000       河北省   130100    石家庄市  2004    吴振华   NaN   NaN     NaN
...      ...       ...      ...     ...   ...    ...   ...   ...     ...
3658  650000  新疆维吾尔自治区   654300   阿勒泰地区  2006    NaN   NaN   NaN     NaN
3659  650000  新疆维吾尔自治区   654300   阿勒泰地区  2007    NaN   NaN   NaN     NaN
3660  650000  新疆维吾尔自治区   654300   阿勒泰地区  2008    NaN   NaN   NaN     NaN
3661  650000  新疆维吾尔自治区   654300   阿勒泰地区  2009    NaN   NaN   NaN     NaN
3662  650000  新疆维吾尔自治区   654300   阿勒泰地区  2010    NaN   NaN   NaN     NaN

     籍贯省份名称  ...   民族   教育 是否是党校教育（是=1，否=0） 专业：人文 专业：社科  专业：理工  专业：农科  专业：医科  \
0       NaN  ...  NaN   硕士              1.0   NaN   NaN    NaN    NaN    NaN
1       NaN  ...  NaN   本科              0.0   0.0   0.0    1.0    0.0    0.0
2       NaN  ...  NaN   本科              0.0   0.0   0.0    1.0    0.0    0.0
3       NaN  ...  NaN   本科              0.0   0.0   0.0    1.0    0.0    0.0
4       NaN  ...  NaN   本科              0.0   0.0   0.0    1.0    0.0    0.0
...     ...  ...  ...  ...              ...   ...   ...    ...    ...    ...
3658    NaN  ...  NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3659    NaN  ...  NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3660    NaN  ...  NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3661    NaN  ...  NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3662    NaN  ...  NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN

      入党年份  工作年份
0      NaN   NaN
1      NaN   NaN
2      NaN   NaN
3      NaN   NaN
4      NaN   NaN
...    ...   ...
3658   NaN   NaN
3659   NaN   NaN
3660   NaN   NaN
3661   NaN   NaN
3662   NaN   NaN

[3663 rows x 23 columns]

In [12]:
print(data3.head())

   省级政区代码 省级政区名称  地市级政区代码 地市级政区名称    年份 党委书记姓名  出生年份  出生月份  籍贯省份代码 籍贯省份名称  \
0  130000    河北省   130100    石家庄市  2000    陈来立   NaN   NaN     NaN    NaN
1  130000    河北省   130100    石家庄市  2001    吴振华   NaN   NaN     NaN    NaN
2  130000    河北省   130100    石家庄市  2002    吴振华   NaN   NaN     NaN    NaN
3  130000    河北省   130100    石家庄市  2003    吴振华   NaN   NaN     NaN    NaN
4  130000    河北省   130100    石家庄市  2004    吴振华   NaN   NaN     NaN    NaN

   ...   民族  教育 是否是党校教育（是=1，否=0） 专业：人文 专业：社科  专业：理工  专业：农科  专业：医科  入党年份  工作年份
0  ...  NaN  硕士              1.0   NaN   NaN    NaN    NaN    NaN   NaN   NaN
1  ...  NaN  本科              0.0   0.0   0.0    1.0    0.0    0.0   NaN   NaN
2  ...  NaN  本科              0.0   0.0   0.0    1.0    0.0    0.0   NaN   NaN
3  ...  NaN  本科              0.0   0.0   0.0    1.0    0.0    0.0   NaN   NaN
4  ...  NaN  本科              0.0   0.0   0.0    1.0    0.0    0.0   NaN   NaN

[5 rows x 23 columns]