In [1]:
import ipystata

IPyStata is loaded in batch mode.

In [2]:
from ipystata.config import config_stata 
config_stata('/Applications/Stata/StataMP.app/Contents/MacOS/StataMP')

# Stata 基本用法

In [ ]:
# stata 示例数据 
1. Auto :     美国 1978 年汽车数据，包括产地、车名、行使里程、重量等变量 
2. Bplong     血压数据 Cancer 药物实验生存数据 
3. Census     1980 年美国分州人口普查数据 
4. Citytemp   美国城市气温数据 
5. Educ99gdp  教育与 GDP 关系数据 
6. Gnp96      美国 1967-2002 年的 GNP 数据 
7. Lifeexp    预期寿命数据 Nlsw88 美国年轻妇女研究数据 
8. Pop2000    美国 2000 年人口普查数据 
9. Sp500      S&P500 历史数据 
10. Uslifeexp 美国预期寿命 1900-1999 
11. Voter     美国 1992 年选举民意调查数据

In [3]:
clear

In [12]:
%%stata
sysuse auto,clear                            //无论当前路径是什么，该命令均能打开系统自带文件
summ

(1978 automobile data)

    Variable |        Obs        Mean    Std. dev.       Min        Max
-------------+---------------------------------------------------------
        make |          0
       price |         74    6165.257    2949.496       3291      15906
         mpg |         74     21.2973    5.785503         12         41
       rep78 |         69    3.405797    .9899323          1          5
    headroom |         74    2.993243    .8459948        1.5          5
-------------+---------------------------------------------------------
       trunk |         74    13.75676    4.277404          5         23
      weight |         74    3019.459    777.1936       1760       4840
      length |         74    187.9324    22.26634        142        233
        turn |         74    39.64865    4.399354         31         51
displacement |         74    197.2973    91.83722         79        425
-------------+---------------------------------------------------------
  gear_ratio |         74    3.014865    .4562871       2.19       3.89
     foreign |         74    .2972973    .4601885          0          1

In [15]:
%%stata 
list price in 1/5

no variables defined
r(111);

end of do-file
r(111);

In [14]:
%%stata 
scatter price gear_ratio

variable price not found
r(111);

end of do-file
r(111);

In [ ]:
sysuse auto.dta,clear
scatter trunk gear_ratio

. cap log close stata_kernel_log

# 用 STATA 导入数据

In [4]:
import delimited auto.csv                 // 导入数据

no; data in memory would be lost

r(4);

In [27]:
outsheet using auto.csv                   // 导出数据并命名

In [ ]:
export delimited tips2.csv                // 导出数据

# 创建数据

Stata数据通过 input 语句赋值并指定列名。

In [4]:
input x y
1 2
3 4
5 6
end

              x           y

In [5]:
dis x,y

1 2

# 查看数据

In [6]:
des

Contains data from /Applications/Stata 15/ado/base/a/auto.dta
  obs:            74                          1978 Automobile Data
 vars:            14                          20 Sep 2019 00:04
 size:         4,366                          (_dta has notes)
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
              storage   display    value
variable name   type    format     label      variable label
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
make            str18   %-18s                 Make and Model
price           int     %8.0gc                Price
mpg             int     %8.0g                 Mileage (mpg)
rep78           int     %8.0g                 Repair Record 1978
headroom        float   %6.1f                 Headroom (in.)
trunk           int     %8.0g                 Trunk space (cu. ft.)
weight          int     %8.0gc                Weight (lbs.)
length          int     %8.0g                 Length (in.)
turn            int     %8.0g                 Turn Circle (ft.)
displacement    int     %8.0g                 Displacement (cu. in.)
gear_ratio      float   %6.2f                 Gear Ratio
foreign         byte    %8.0g      origin     Car type
x               double  %10.0g
y               double  %10.0g
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Sorted by: foreign
     Note: Dataset has changed since last saved.

In [7]:
sum

    Variable |        Obs        Mean    Std. Dev.       Min        Max
-------------+---------------------------------------------------------
        make |          0
       price |         74    6165.257    2949.496       3291      15906
         mpg |         74     21.2973    5.785503         12         41
       rep78 |         69    3.405797    .9899323          1          5
    headroom |         74    2.993243    .8459948        1.5          5
-------------+---------------------------------------------------------
       trunk |         74    13.75676    4.277404          5         23
      weight |         74    3019.459    777.1936       1760       4840
      length |         74    187.9324    22.26634        142        233
        turn |         74    39.64865    4.399354         31         51
displacement |         74    197.2973    91.83722         79        425
-------------+---------------------------------------------------------
  gear_ratio |         74    3.014865    .4562871       2.19       3.89
     foreign |         74    .2972973    .4601885          0          1
           x |          3           3           2          1          5
           y |          3           4           2          2          6

In [8]:
list in 1/5

     +--------------------------------------------------------------------------------------------------------------------------+
     | make            price   mpg   rep78   headroom   trunk   weight   length   turn   displa~t   gear_r~o    foreign   x   y |
     |--------------------------------------------------------------------------------------------------------------------------|
  1. | AMC Concord     4,099    22       3        2.5      11    2,930      186     40        121       3.58   Domestic   1   2 |
  2. | AMC Pacer       4,749    17       3        3.0      11    3,350      173     40        258       2.53   Domestic   3   4 |
  3. | AMC Spirit      3,799    22       .        3.0      12    2,640      168     35        121       3.08   Domestic   5   6 |
  4. | Buick Century   4,816    20       3        4.5      16    3,250      196     40        196       2.93   Domestic   .   . |
  5. | Buick Electra   7,827    15       4        4.0      20    4,080      222     43        350       2.41   Domestic   .   . |
     +--------------------------------------------------------------------------------------------------------------------------+

# 操作

在 Stata 中，可以使用 generate 和 replace 在数据某一列或新产生一列上运算任意数学公式。

In [9]:
use tipe,clear

file tipe.dta not found

r(601);

In [14]:
describe

Contains data from tipe.dta
  obs:             5
 vars:             8                          01 Feb 2020 22:03
 size:           205
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
              storage   display    value
variable name   type    format     label      variable label
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
index           long    %12.0g
total_bill      double  %10.0g
tip             double  %10.0g
sex             str6    %6s
smoker          str2    %2s
day             str3    %3s
time            str6    %6s
size            long    %12.0g
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Sorted by:

In [15]:
list

     +-----------------------------------------------------------------+
     | index   total_~l    tip      sex   smoker   day     time   size |
     |-----------------------------------------------------------------|
  1. |     0      16.99   1.01   Female       NO   Sun   Dinner      2 |
  2. |     1      10.34   1.66   Female       NO   Sun   Dinner      3 |
  3. |     2      21.01    3.5   Female       NO   Sun   Dinner      3 |
  4. |     3      23.68   3.31   Female       NO   Sun   Dinner      2 |
  5. |     4      24.59   3.61   Female       NO   Sun   Dinner      4 |
     +-----------------------------------------------------------------+

## 列操作

In [16]:
replace total_bill = total_bill - 4
l

     +-----------------------------------------------------------------+
     | index   total_~l    tip      sex   smoker   day     time   size |
     |-----------------------------------------------------------------|
  1. |     0      12.99   1.01   Female       NO   Sun   Dinner      2 |
  2. |     1       6.34   1.66   Female       NO   Sun   Dinner      3 |
  3. |     2      17.01    3.5   Female       NO   Sun   Dinner      3 |
  4. |     3      19.68   3.31   Female       NO   Sun   Dinner      2 |
  5. |     4      20.59   3.61   Female       NO   Sun   Dinner      4 |
     +-----------------------------------------------------------------+

In [17]:
generate new_bill = total_bill / 2
l

     +----------------------------------------------------------------------------+
     | index   total_~l    tip      sex   smoker   day     time   size   new_bill |
     |----------------------------------------------------------------------------|
  1. |     0      12.99   1.01   Female       NO   Sun   Dinner      2      6.495 |
  2. |     1       6.34   1.66   Female       NO   Sun   Dinner      3       3.17 |
  3. |     2      17.01    3.5   Female       NO   Sun   Dinner      3      8.505 |
  4. |     3      19.68   3.31   Female       NO   Sun   Dinner      2       9.84 |
  5. |     4      20.59   3.61   Female       NO   Sun   Dinner      4     10.295 |
     +----------------------------------------------------------------------------+

In [18]:
drop new_bill

In [19]:
l

     +-----------------------------------------------------------------+
     | index   total_~l    tip      sex   smoker   day     time   size |
     |-----------------------------------------------------------------|
  1. |     0      12.99   1.01   Female       NO   Sun   Dinner      2 |
  2. |     1       6.34   1.66   Female       NO   Sun   Dinner      3 |
  3. |     2      17.01    3.5   Female       NO   Sun   Dinner      3 |
  4. |     3      19.68   3.31   Female       NO   Sun   Dinner      2 |
  5. |     4      20.59   3.61   Female       NO   Sun   Dinner      4 |
     +-----------------------------------------------------------------+

## 条件过滤

Stata 中使用 if 语句对一个或多个列的数据进行筛选。

In [20]:
l if total_bill>10

     +-----------------------------------------------------------------+
     | index   total_~l    tip      sex   smoker   day     time   size |
     |-----------------------------------------------------------------|
  1. |     0      12.99   1.01   Female       NO   Sun   Dinner      2 |
  3. |     2      17.01    3.5   Female       NO   Sun   Dinner      3 |
  4. |     3      19.68   3.31   Female       NO   Sun   Dinner      2 |
  5. |     4      20.59   3.61   Female       NO   Sun   Dinner      4 |
     +-----------------------------------------------------------------+

> 在 Stata 中，可以使用 if 语句来创建新列。

In [21]:
gene bucket = "low" if total_bill < 10

(4 missing values generated)

In [22]:
replace bucket = "high" if total_bill >= 10

variable bucket was str3 now str4
(4 real changes made)

In [23]:
l

     +--------------------------------------------------------------------------+
     | index   total_~l    tip      sex   smoker   day     time   size   bucket |
     |--------------------------------------------------------------------------|
  1. |     0      12.99   1.01   Female       NO   Sun   Dinner      2     high |
  2. |     1       6.34   1.66   Female       NO   Sun   Dinner      3      low |
  3. |     2      17.01    3.5   Female       NO   Sun   Dinner      3     high |
  4. |     3      19.68   3.31   Female       NO   Sun   Dinner      2     high |
  5. |     4      20.59   3.61   Female       NO   Sun   Dinner      4     high |
     +--------------------------------------------------------------------------+

## 日期函数

Stata提供了一系列函数来处理数据类型为 date/datetime 的列。

In [24]:
generate date1 = mdy(1, 15, 2013)
generate date2 = date("Feb152015", "MDY")

generate date1_year = year(date1)
generate date2_month = month(date2)

* shift date to beginning of next month
generate date1_next = mdy(month(date1) + 1, 1, year(date1)) if month(date1) != 12
replace date1_next = mdy(1, 1, year(date1) + 1) if month(date1) == 12
generate months_between = mofd(date2) - mofd(date1)

list date1 date2 date1_year date2_month date1_next months_between

(0 real changes made)



     +-----------------------------------------------------------+
     | date1   date2   date1_~r   date2_~h   date1_~t   months~n |
     |-----------------------------------------------------------|
  1. | 19373   20134       2013          2      19390         25 |
  2. | 19373   20134       2013          2      19390         25 |
  3. | 19373   20134       2013          2      19390         25 |
  4. | 19373   20134       2013          2      19390         25 |
  5. | 19373   20134       2013          2      19390         25 |
     +-----------------------------------------------------------+

# IPyStata: 在python 中使用stata

## IPyStata可以使用两种不同的技术与Stata通信：

- Stata自动化，适用于 --> Windows
- Stata批处理模式，适用于 --> Windows，Mac OS X 和 Linux
- Stata Batch mode 相比，Stata Automation 模式具有更丰富的特性集。
- 不幸的是，Stata只支持在 Windows 操作系统上运行Stata实例的Stata Automation。

In [1]:
import ipystata

IPyStata is loaded in batch mode.

In [17]:
%%stata 
display "Hello, I am printed in Stata."

Hello, I am printed in Stata.

In [18]:
%%stata -o life_df
sysuse lifeexp.dta
summarize

(Life expectancy, 1998)

    Variable |        Obs        Mean    Std. dev.       Min        Max
-------------+---------------------------------------------------------
      region |         68         1.5    .7431277          1          3
     country |          0
   popgrowth |         68    .9720588    .9311918        -.5          3
        lexp |         68    72.27941    4.715315         54         79
       gnppc |         63    8674.857    10634.68        370      39980
-------------+---------------------------------------------------------
   safewater |         40        76.1    17.89112         28        100

In [27]:
%%stata -gr
sysuse auto.dta
graph twoway scatter trunk price

(1978 automobile data)

## Send a Pandas dataframe to be used in the Stata session (Both methods):
-d --data

In [ ]:
%%stata -d dataframe

## Return the dataset from Stata after code execution and load it into a Pandas dataframe (Both methods):
-o --output

In [ ]:
%%stata -o dataframe

## Input Python lists and load them into Stata as macros (Both methods):
-i --input

In [9]:
example_list = ['var_1', 'var_2']

In [10]:
%%stata -i example_list  
display "`example_list'"

var_1 var_2

Graph will automatically display and multiple graphs are possible (Only for Stata Automation!):
If you want to show multiple graphs, you have to make sure to use the , name(.., replace)argument in your Stata code.
the order is not guaranteed to be the same as the generation order. Recommended to use the title() argument when showing multiple graphs.

It is possible to prevent graphs from showing using the -nogr or --nograph arguments.

##  If you want a Stata graph as an output of a IPyStata cell you can use the following argument (Only for Stata Batch Mode!):
-gr --graph

In [ ]:
%%stata -gr

> Note: Graph export is only partially supported by Stata if the OS has no GUI. To work around this problem the figures are shown in PDF-format if you use Stata Batch Mode. See: Statalist

## Prevents any output from being shown below the cell (Both methods):

-np --noprint

In [ ]:
%%stata -np

## For inspection purposes it is possible to open the Stata window instead of running it quietly (Both methods):

-os --openstata

> Note: this only works on Windows and Mac OS X.

## Define a session to execute the code with (Only for Stata Automation!):

-s --session

In [ ]:
%%stata -s session_name

##   Set your Python working directory to the Stata session (Only for Stata Automation!) :

-cwd --changewd

In [ ]:
 %%stata -cwd

##   Set code in the cell to run in Mata (Only for Stata Automation!) :

-m --mata

In [ ]:
%%stata -m

## Session manager (Stata Automation users only):

IPyStata 0.2 introduces the possibility to use many different Stata sessions that by default run in the background. In order to avoid using unnecessary system resources several tools and automatic cleanup routines are included.

# Tools:

1. Display all active Stata sessions:

In [ ]:
%%stata
sessions

2. Reveal all Stata sessions:

In [ ]:
%%stata
reveal all

3. Hide all Stata sessions:

In [ ]:
%%stata
hide all

In [ ]:
4. Close all Stata sessions initiated by IPyStata:

In [ ]:
%%stata
close

In [ ]:
5. Close all Stata sessions (Warning! This closes all Stata windows):

In [ ]:
%%stata
close all

6. Automatic clean-up routines:

    - At import/load all Stata sessions initiated by a previous IPyStata import are terminated.
    - When IPyStata is unloaded it tries to close all Stata sessions that it created.

## Special mentions

This project is inspired by and based on the excelent work of:

- [Rpy2](https://pypi.python.org/pypi/rpy2)

- [Fortran Magic](https://pypi.python.org/pypi/fortran-magic)

- [Stata-Kernel](https://github.com/jrfiedler/stata-kernel)

## Examples

In [9]:
%%stata -o car_df
sysuse auto.dta

(1978 Automobile Data)

In [10]:
car_df.head()

,make,price,mpg,rep78,headroom,trunk,weight,length,turn,displacement,gear_ratio,foreign
0,AMC Concord,4099,22,3.0,2.5,11,2930,186,40,121,3.58,Domestic
1,AMC Pacer,4749,17,3.0,3.0,11,3350,173,40,258,2.53,Domestic
2,AMC Spirit,3799,22,NaN,3.0,12,2640,168,35,121,3.08,Domestic
3,Buick Century,4816,20,3.0,4.5,16,3250,196,40,196,2.93,Domestic
4,Buick Electra,7827,15,4.0,4.0,20,4080,222,43,350,2.41,Domestic

In [11]:
%%stata -d car_df
tabulate foreign headroom                          # 制表汇总

           |                                        headroom
   foreign |       1.5          2        2.5          3        3.5          4        4.5          5 |     Total
-----------+----------------------------------------------------------------------------------------+----------
  Domestic |         3         10          4          7         13         10          4          1 |        52
   Foreign |         1          3         10          6          2          0          0          0 |        22
-----------+----------------------------------------------------------------------------------------+----------
     Total |         4         13         14         13         15         10          4          1 |        74

In [12]:
pd.crosstab(car_df['foreign'], car_df['headroom'], margins=True)

headroom  1.5  2.0  2.5  3.0  3.5  4.0  4.5  5.0  All
foreign
Domestic    3   10    4    7   13   10    4    1   52
Foreign     1    3   10    6    2    0    0    0   22
All         4   13   14   13   15   10    4    1   74

In [18]:
main_var = ['mpg', 'rep78']
control_var = ['gear_ratio', 'trunk', 'weight', 'displacement']

In [22]:
%%stata -i main_var -i control_var -os

display "'main_var'"
display "'control_var'"

regress price 'main_var' 'control_var', vce(robust)

'main_var'
'control_var'
no variables defined
r(111);

end of do-file

r(111);

In [11]:
%%stata -o car_df -np
generate weight_squared = weight^2
generate log_weight = log(weight)

Unknown magic %%stata.

In [21]:
car_df.head(3)

,make,price,mpg,rep78,headroom,trunk,weight,length,turn,displacement,gear_ratio,foreign
0,AMC Concord,4099,22,3.0,2.5,11,2930,186,40,121,3.58,Domestic
1,AMC Pacer,4749,17,3.0,3.0,11,3350,173,40,258,2.53,Domestic
2,AMC Spirit,3799,22,NaN,3.0,12,2640,168,35,121,3.08,Domestic