##   无风险利率

In [ ]:
r_F=(ohlc.iloc[-1,-1]+0.79)
print('无风险利率为：{:.2%}'.format(r_F/100))

In [ ]:
rf=(1+r_F/100)**(1/365)-1
print('日化化无风险利率为：{:.4%}'.format(rf))

## Beta 计算

In [70]:
# 收益率数据获取
import pandas_datareader.data as yahoo
import datetime
from pandas.util.testing import assert_frame_equal
 
start=datetime.datetime(2017, 12, 31)
end=datetime.datetime(2019, 12, 31)

### 微创医疗

In [2]:
weichuang=yahoo.get_data_yahoo('0853.hk',start,end)

            High   Low  Open  Close     Volume  Adj Close
Date
2018-01-02  7.76  7.61  7.63   7.66  1135000.0   7.600791
2018-01-03  7.77  7.62  7.71   7.68  1172000.0   7.620637
2018-01-04  7.72  7.57  7.68   7.59  1137000.0   7.531332
2018-01-05  8.00  7.68  7.68   7.88  3149000.0   7.819091
2018-01-08  7.91  7.74  7.91   7.77  1128000.0   7.709941
...          ...   ...   ...    ...        ...        ...
2019-12-23  8.27  8.00  8.07   8.19  1540041.0   8.190000
2019-12-24  8.29  8.17  8.17   8.25   590000.0   8.250000
2019-12-27  8.76  8.18  8.18   8.67  6774414.0   8.670000
2019-12-30  9.24  8.53  8.65   9.20  5622946.0   9.200000
2019-12-31  9.31  9.11  9.18   9.23  1830821.0   9.230000

[492 rows x 6 columns]

In [35]:
Weich_df=pd.DataFrame(weichuang['Adj Close']).rename(columns={'Adj Close':'Weich'})
Weich_df

               Weich
Date
2018-01-02  7.600791
2018-01-03  7.620637
2018-01-04  7.531332
2018-01-05  7.819091
2018-01-08  7.709941
...              ...
2019-12-23  8.190000
2019-12-24  8.250000
2019-12-27  8.670000
2019-12-30  9.200000
2019-12-31  9.230000

[492 rows x 1 columns]

### 恒生指数：2018-2019

In [71]:
HSI=yahoo.get_data_yahoo('^HSI',start,end)
HSI

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2018-01-02,30515.310547,30028.289062,30028.289062,30515.310547,2442333400,30515.310547
2018-01-03,30724.320312,30456.759766,30658.730469,30560.949219,2309467700,30560.949219
2018-01-04,30796.929688,30560.429688,30691.710938,30736.480469,2995571100,30736.480469
2018-01-05,30911.009766,30638.529297,30893.859375,30814.640625,2263930100,30814.640625
2018-01-08,30929.150391,30732.539062,30895.089844,30899.529297,2004162500,30899.529297
...,...,...,...,...,...,...
2019-12-23,28024.619141,27830.080078,28024.619141,27906.410156,1216834000,27906.410156
2019-12-24,27921.289062,27792.660156,27901.509766,27864.210938,483984100,27864.210938
2019-12-27,28226.109375,28000.619141,28033.660156,28225.419922,1375016100,28225.419922
2019-12-30,28418.650391,28165.130859,28250.480469,28319.390625,1420447400,28319.390625
2019-12-31,28298.460938,28123.859375,28241.429688,28189.750000,873713900,28189.750000

In [34]:
HSI_df=pd.DataFrame(HSI['Adj Close']).rename(columns={'Adj Close':'HSI'})
HSI_df

                     HSI
Date
2018-01-02  30515.310547
2018-01-03  30560.949219
2018-01-04  30736.480469
2018-01-05  30814.640625
2018-01-08  30899.529297
...                  ...
2019-12-23  27906.410156
2019-12-24  27864.210938
2019-12-27  28225.419922
2019-12-30  28319.390625
2019-12-31  28189.750000

[492 rows x 1 columns]

In [72]:
HSI_df.to_excel('./data/HSI_close.xlsx')

### 行业数据

In [37]:
Codes=pd.read_clipboard()
Codes.代號

0     1099.HK
1     0460.HK
2     0570.HK
3     0719.HK
4     0775.HK
5     0867.HK
6     0874.HK
7     0911.HK
8     1066.HK
9     1093.HK
10    1302.HK
11    1666.HK
12    2186.HK
13    2607.HK
14    2877.HK
15    3933.HK
16    3886.HK
17    2666.HK
18    1530.HK
19    1515.HK
Name: 代號, dtype: object

In [49]:
dict={}
for code in Codes.代號:
    name=str(code)
    dict[name]=yahoo.get_data_yahoo(code,start,end)

In [50]:
dict

{'1099.HK':                  High        Low       Open      Close     Volume  Adj Close
 Date
 2018-01-02  34.400002  33.599998  33.599998  34.200001  5407460.0  32.624912
 2018-01-03  34.400002  33.900002  34.000000  34.200001  4674409.0  32.624912
 2018-01-04  34.549999  34.200001  34.250000  34.299999  5881808.0  32.720306
 2018-01-05  34.599998  33.750000  34.599998  34.150002  3541837.0  32.577217
 2018-01-08  34.400002  33.500000  33.500000  34.200001  4186090.0  32.624912
 ...               ...        ...        ...        ...        ...        ...
 2019-12-23  28.400000  27.549999  28.000000  28.049999  4273622.0  28.049999
 2019-12-24  28.350000  27.900000  27.900000  28.100000  1147219.0  28.100000
 2019-12-27  28.500000  27.950001  28.299999  28.350000  2821436.0  28.350000
 2019-12-30  28.500000  28.200001  28.500000  28.400000  2178327.0  28.400000
 2019-12-31  28.600000  28.200001  28.600000  28.450001   860894.0  28.450001

 [492 rows x 6 columns],
 '0460.HK':             High   Low  Open  Close      Volume  Adj Close
 Date
 2018-01-02  2.84  2.80  2.82   2.81   8548239.0   2.744915
 2018-01-03  2.97  2.81  2.83   2.92  31101584.0   2.852367
 2018-01-04  3.07  2.92  2.94   3.06  39456145.0   2.989125
 2018-01-05  3.12  3.00  3.09   3.06  22777078.0   2.989125
 2018-01-08  3.07  2.96  3.04   3.05  15156047.0   2.979356
 ...          ...   ...   ...    ...         ...        ...
 2019-12-23  1.02  1.00  1.02   1.00  14170298.0   1.000000
 2019-12-24  1.00  0.95  1.00   0.95  16034000.0   0.950000
 2019-12-27  0.98  0.95  0.95   0.96  19903740.0   0.960000
 2019-12-30  0.96  0.93  0.96   0.94  11682753.0   0.940000
 2019-12-31  0.94  0.93  0.94   0.93   6033000.0   0.930000

 [492 rows x 6 columns],
 '0570.HK':             High   Low  Open  Close      Volume  Adj Close
 Date
 2018-01-02  4.19  4.07  4.16   4.17  11164000.0   3.949244
 2018-01-03  4.56  4.18  4.23   4.56  31177096.0   4.318597
 2018-01-04  4.55  4.47  4.50   4.53  16836834.0   4.290185
 2018-01-05  4.56  4.46  4.53   4.50  14530000.0   4.261774
 2018-01-08  4.53  4.47  4.52   4.50  16872000.0   4.261774
 ...          ...   ...   ...    ...         ...        ...
 2019-12-23  3.75  3.68  3.75   3.71  11259280.0   3.710000
 2019-12-24  3.74  3.66  3.70   3.67   2254000.0   3.670000
 2019-12-27  3.77  3.64  3.71   3.69  10556000.0   3.690000
 2019-12-30  3.73  3.66  3.70   3.71   6606000.0   3.710000
 2019-12-31  3.77  3.69  3.72   3.76   4814000.0   3.760000

 [492 rows x 6 columns],
 '0719.HK':                High      Low     Open    Close     Volume  Adj Close
 Date
 2018-01-02  6.41538  6.28462  6.38461  6.30000   395200.0   6.046093
 2018-01-03  6.40000  6.30769  6.35385  6.35385   387400.0   6.097773
 2018-01-04  6.40769  6.23077  6.38461  6.23077   956800.0   5.979653
 2018-01-05  6.37692  6.16154  6.27692  6.19231   452400.0   5.942743
 2018-01-08  6.36923  6.18462  6.22308  6.33077   907400.0   6.075623
 ...             ...      ...      ...      ...        ...        ...
 2019-12-23  3.82000  3.74000  3.80000  3.78000   113200.0   3.780000
 2019-12-24  3.79000  3.73000  3.73000  3.79000    46000.0   3.790000
 2019-12-27  3.79000  3.70000  3.73000  3.75000  1416000.0   3.750000
 2019-12-30  3.77000  3.74000  3.76000  3.77000   404000.0   3.770000
 2019-12-31  3.83000  3.73000  3.75000  3.82000   359800.0   3.820000

 [492 rows x 6 columns],
 '0775.HK':             High   Low  Open  Close      Volume  Adj Close
 Date
 2018-01-02  0.61  0.59  0.61   0.60   1148000.0   0.569684
 2018-01-03  0.61  0.59  0.60   0.60   1250542.0   0.569684
 2018-01-04  0.61  0.59  0.60   0.59   1119000.0   0.560189
 2018-01-05  0.61  0.59  0.59   0.61   2305709.0   0.579179
 2018-01-08  0.61  0.60  0.61   0.60    916000.0   0.569684
 ...          ...   ...   ...    ...         ...        ...
 2019-12-23  0.89  0.85  0.88   0.88  18822000.0   0.871200
 2019-12-24  0.89  0.87  0.88   0.88   3573000.0   0.871200
 2019-12-27  0.91  0.87  0.88   0.89  14408000.0   0.881100
 2019-12-30  0.90  0.87  0.90   0.87  13404000.0   0.861300
 2019-12-31  0.88  0.87  0.88   0.87   4280000.0   0.861300

 [492 rows x 6 columns],
 '0867.HK':                  High        Low       Open      Close     Volume  Adj Close
 Date
 2018-01-02  18.500000  18.139999  18.219999  18.219999  3217688.0  17.018267
 2018-01-03  19.440001  18.260000  18.340000  18.480000  6566948.0  17.261120
 2018-01-04  19.379999  18.639999  18.840000  18.980000  8047000.0  17.728142
 2018-01-05  19.379999  18.600000  19.379999  19.000000  6780551.0  17.746820
 2018-01-08  19.059999  18.500000  19.000000  19.040001  4827600.0  17.784184
 ...               ...        ...        ...        ...        ...        ...
 2019-12-23  11.120000  10.660000  11.080000  11.080000  3600600.0  11.080000
 2019-12-24  11.180000  11.040000  11.080000  11.060000  1178000.0  11.060000
 2019-12-27  11.280000  10.940000  11.080000  11.160000  3181388.0  11.160000
 2019-12-30  11.220000  10.900000  11.120000  11.000000  4058400.0  11.000000
 2019-12-31  11.260000  10.960000  10.960000  11.220000  1279000.0  11.220000

 [492 rows x 6 columns],
 '0874.HK':                  High        Low       Open      Close     Volume  Adj Close
 Date
 2018-01-02  23.650000  22.850000  23.400000  23.250000  3114000.0  22.623724
 2018-01-03  24.049999  23.350000  23.350000  23.799999  2120200.0  23.158909
 2018-01-04  24.100000  23.650000  24.100000  23.950001  2036000.0  23.304871
 2018-01-05  24.049999  23.500000  23.850000  23.650000  1118000.0  23.012949
 2018-01-08  24.100000  23.150000  24.049999  23.450001  2596792.0  22.818336
 ...               ...        ...        ...        ...        ...        ...
 2019-12-23  25.000000  24.450001  24.900000  24.650000  1219000.0  24.650000
 2019-12-24  24.850000  24.549999  24.850000  24.750000   338000.0  24.750000
 2019-12-27  25.799999  24.700001  24.850000  25.799999  3124706.0  25.799999
 2019-12-30  25.650000  25.100000  25.650000  25.200001  1662000.0  25.200001
 2019-12-31  26.650000  25.299999  25.400000  26.600000  3228100.0  26.600000

 [492 rows x 6 columns],
 '0911.HK':              High    Low   Open  Close      Volume  Adj Close
 Date
 2018-01-02  0.900  0.860  0.870  0.880    659000.0   0.868718
 2018-01-03  0.950  0.880  0.880  0.920   2227000.0   0.908205
 2018-01-04  0.940  0.920  0.940  0.940    710000.0   0.927949
 2018-01-05  1.240  1.000  1.000  1.060  19639000.0   1.046410
 2018-01-08  1.100  1.020  1.070  1.040   2246750.0   1.026667
 ...           ...    ...    ...    ...         ...        ...
 2019-12-23  0.200  0.190  0.200  0.203     94500.0   0.203000
 2019-12-24  0.203  0.203  0.203  0.203         0.0   0.203000
 2019-12-27  0.204  0.190  0.204  0.191     25000.0   0.191000
 2019-12-30  0.193  0.193  0.193  0.193         0.0   0.193000
 2019-12-31  0.191  0.191  0.191  0.193      8750.0   0.193000

 [492 rows x 6 columns],
 '1066.HK':             High   Low  Open  Close     Volume  Adj Close
 Date
 2018-01-02  5.69  5.53  5.68   5.57  1517447.0   5.355603
 2018-01-03  5.63  5.54  5.60   5.58  2306973.0   5.365218
 2018-01-04  5.70  5.59  5.59   5.62  2144483.0   5.403678
 2018-01-05  5.71  5.57  5.62   5.65  2553954.0   5.432524
 2018-01-08  5.70  5.57  5.64   5.64   752000.0   5.422909
 ...          ...   ...   ...    ...        ...        ...
 2019-12-23  8.89  8.73  8.76   8.84  3430237.0   8.840000
 2019-12-24  9.13  8.84  8.84   9.10  1688000.0   9.100000
 2019-12-27  9.12  8.73  9.12   8.94  4445705.0   8.940000
 2019-12-30  8.97  8.85  8.88   8.95  3968848.0   8.950000
 2019-12-31  9.37  8.98  9.04   9.34  4898800.0   9.340000

 [492 rows x 6 columns],
 '1093.HK':                  High        Low       Open      Close      Volume  Adj Close
 Date
 2018-01-02  16.559999  15.860000  15.880000  16.400000  37612974.0  16.078663
 2018-01-03  17.420000  16.500000  16.559999  17.200001  32346682.0  16.862988
 2018-01-04  17.879999  17.280001  17.459999  17.600000  33028214.0  17.255148
 2018-01-05  18.000000  17.240000  17.600000  17.459999  25542286.0  17.117891
 2018-01-08  17.760000  17.200001  17.620001  17.760000  13955738.0  17.412014
 ...               ...        ...        ...        ...         ...        ...
 2019-12-23  18.680000  18.299999  18.299999  18.620001  24292070.0  18.620001
 2019-12-24  18.639999  18.440001  18.600000  18.500000   6668265.0  18.500000
 2019-12-27  18.879999  18.400000  18.680000  18.820000  18874872.0  18.820000
 2019-12-30  18.900000  18.639999  18.820000  18.820000  22626256.0  18.820000
 2019-12-31  18.860001  18.459999  18.840000  18.580000  15730186.0  18.580000

 [492 rows x 6 columns],
 '1302.HK':             High   Low  Open  Close    Volume  Adj Close
 Date
 2018-01-02  1.89  1.80  1.88   1.84  12672000       1.84
 2018-01-03  1.87  1.83  1.84   1.86  10106000       1.86
 2018-01-04  1.94  1.86  1.86   1.94  17588000       1.94
 2018-01-05  2.04  1.94  1.94   2.04  25834000       2.04
 2018-01-08  2.11  1.95  2.04   1.99  28464000       1.99
 ...          ...   ...   ...    ...       ...        ...
 2019-12-23  1.46  1.41  1.41   1.44   4326000       1.44
 2019-12-24  1.52  1.44  1.44   1.52   5880000       1.52
 2019-12-27  1.52  1.45  1.52   1.47   6124404       1.47
 2019-12-30  1.52  1.47  1.48   1.52   7088000       1.52
 2019-12-31  1.51  1.48  1.51   1.49   1594000       1.49

 [492 rows x 6 columns],
 '1666.HK':              High    Low   Open  Close     Volume  Adj Close
 Date
 2018-01-02  11.38  11.04  11.36  11.22  1089276.0  10.821300
 2018-01-03  11.36  11.06  11.12  11.36  1306296.0  10.956325
 2018-01-04  11.40  11.32  11.40  11.40   917414.0  10.994903
 2018-01-05  11.40  11.10  11.32  11.20   857000.0  10.802010
 2018-01-08  11.34  11.10  11.20  11.32  1320000.0  10.917746
 ...           ...    ...    ...    ...        ...        ...
 2019-12-23   7.45   7.18   7.20   7.41  2558000.0   7.410000
 2019-12-24   7.41   7.23   7.23   7.32  1508000.0   7.320000
 2019-12-27   7.81   7.32   7.59   7.40  4907180.0   7.400000
 2019-12-30   7.63   7.31   7.41   7.56  1787000.0   7.560000
 2019-12-31   7.75   7.57   7.57   7.66   917000.0   7.660000

 [492 rows x 6 columns],
 '2186.HK':             High   Low  Open  Close      Volume  Adj Close
 Date
 2018-01-02  6.28  6.05  6.17   6.10  15046000.0   5.846387
 2018-01-03  6.55  6.10  6.13   6.34  49088028.0   6.076408
 2018-01-04  6.47  6.22  6.30   6.45  25317500.0   6.181836
 2018-01-05  6.54  6.30  6.45   6.35  17955500.0   6.085992
 2018-01-08  6.85  6.35  6.46   6.85  32158000.0   6.565205
 ...          ...   ...   ...    ...         ...        ...
 2019-12-23  5.82  5.74  5.82   5.79   5321790.0   5.790000
 2019-12-24  5.82  5.73  5.82   5.76   2903500.0   5.760000
 2019-12-27  5.99  5.83  5.96   5.90  16880470.0   5.900000
 2019-12-30  5.90  5.78  5.87   5.82  11073690.0   5.820000
 2019-12-31  5.89  5.80  5.81   5.84   8029500.0   5.840000

 [492 rows x 6 columns],
 '2607.HK':                  High    Low       Open      Close     Volume  Adj Close
 Date
 2018-01-02  21.299999  20.75  21.299999  21.100000  4839009.0  20.018524
 2018-01-03  21.500000  21.00  21.000000  21.150000  3298555.0  20.065962
 2018-01-04  21.700001  21.25  21.350000  21.500000  4257985.0  20.398022
 2018-01-05  21.700001  21.00  21.500000  21.150000  2967833.0  20.065962
 2018-01-08  21.350000  20.85  21.150000  20.950001  2795274.0  19.876215
 ...               ...    ...        ...        ...        ...        ...
 2019-12-23  15.160000  14.86  14.960000  15.140000  1772641.0  15.140000
 2019-12-24  15.180000  15.08  15.180000  15.100000   488817.0  15.100000
 2019-12-27  15.280000  14.92  15.280000  15.060000  2024412.0  15.060000
 2019-12-30  15.180000  14.90  15.100000  15.060000  2594500.0  15.060000
 2019-12-31  15.180000  14.92  15.180000  15.160000  2052000.0  15.160000

 [492 rows x 6 columns],
 '2877.HK':             High   Low  Open  Close     Volume  Adj Close
 Date
 2018-01-02  7.36  7.29  7.30   7.34   396000.0   6.781504
 2018-01-03  7.52  7.34  7.36   7.52  1015000.0   6.947807
 2018-01-04  7.60  7.47  7.59   7.53   546000.0   6.957047
 2018-01-05  7.59  7.46  7.50   7.59   496000.0   7.012482
 2018-01-08  7.60  7.43  7.47   7.59   555000.0   7.012482
 ...          ...   ...   ...    ...        ...        ...
 2019-12-23  7.88  7.81  7.81   7.87   123000.0   7.724034
 2019-12-24  7.81  7.61  7.80   7.75   564000.0   7.606259
 2019-12-27  7.87  7.57  7.75   7.72  1632412.0   7.576816
 2019-12-30  7.80  7.18  7.66   7.20  4449000.0   7.066460
 2019-12-31  7.38  7.19  7.22   7.38   317001.0   7.243122

 [492 rows x 6 columns],
 '3933.HK':             High   Low  Open  Close     Volume  Adj Close
 Date
 2018-01-02  6.40  6.26  6.36   6.38  2156000.0   6.227154
 2018-01-03  6.58  6.30  6.40   6.42  5405000.0   6.266196
 2018-01-04  6.51  6.35  6.43   6.51  4218009.0   6.354040
 2018-01-05  6.62  6.31  6.61   6.38  4833004.0   6.227154
 2018-01-08  6.36  6.15  6.34   6.27  3664093.0   6.119789
 ...          ...   ...   ...    ...        ...        ...
 2019-12-23  5.76  5.59  5.65   5.66  3862316.0   5.660000
 2019-12-24  5.74  5.58  5.70   5.73  1256000.0   5.730000
 2019-12-27  5.88  5.62  5.77   5.69  6204754.0   5.690000
 2019-12-30  5.75  5.39  5.73   5.53  5540500.0   5.530000
 2019-12-31  5.71  5.50  5.55   5.68  2534000.0   5.680000

 [492 rows x 6 columns],
 '3886.HK':              High    Low   Open  Close  Volume  Adj Close
 Date
 2018-01-02  0.690  0.690  0.690  0.690     0.0     0.6875
 2018-01-03  0.690  0.690  0.690  0.690     0.0     0.6875
 2018-01-04  0.690  0.690  0.690  0.690     0.0     0.6875
 2018-01-05  0.690  0.690  0.690  0.690     0.0     0.6875
 2018-01-08  0.690  0.690  0.690  0.690     0.0     0.6875
 ...           ...    ...    ...    ...     ...        ...
 2019-12-24  0.688  0.688  0.688  0.688     0.0     0.6880
 2019-12-26  0.688  0.688  0.688  0.688     0.0     0.6880
 2019-12-27  0.688  0.688  0.688  0.688     0.0     0.6880
 2019-12-30  0.688  0.688  0.688  0.688     0.0     0.6880
 2019-12-31  0.688  0.688  0.688  0.688     0.0     0.6880

 [503 rows x 6 columns],
 '2666.HK':             High   Low  Open  Close       Volume  Adj Close
 Date
 2018-01-02  7.73  7.44  7.51   7.71    7273255.0   7.122514
 2018-01-03  7.90  7.66  7.73   7.76    6901672.0   7.168704
 2018-01-04  8.04  7.70  7.76   7.78    9221845.0   7.187180
 2018-01-05  8.06  7.80  7.80   7.95   10009969.0   7.344226
 2018-01-08  7.66  7.46  7.53   7.58  154770695.0   7.002419
 ...          ...   ...   ...    ...          ...        ...
 2019-12-23  5.64  5.56  5.61   5.62    1259500.0   5.620000
 2019-12-24  5.65  5.55  5.60   5.61     579500.0   5.610000
 2019-12-27  5.74  5.62  5.63   5.74    2822430.0   5.740000
 2019-12-30  5.86  5.67  5.74   5.86    4556000.0   5.860000
 2019-12-31  5.90  5.83  5.86   5.90    1838084.0   5.900000

 [492 rows x 6 columns],
 '1530.HK':                  High    Low       Open      Close      Volume  Adj Close
 Date
 2018-01-02  16.400000  15.50  15.500000  16.219999   8140203.0  16.154718
 2018-01-03  16.559999  16.08  16.480000  16.120001   5391737.0  16.055122
 2018-01-04  16.959999  16.10  16.200001  16.940001  22779855.0  16.871822
 2018-01-05  17.299999  16.24  17.299999  16.700001   8220601.0  16.632788
 2018-01-08  16.920000  16.34  16.879999  16.700001   4570417.0  16.632788
 ...               ...    ...        ...        ...         ...        ...
 2019-12-23  10.640000  10.24  10.640000  10.340000   6348106.0  10.340000
 2019-12-24  10.400000   9.76  10.380000   9.820000  10131000.0   9.820000
 2019-12-27   9.940000   9.45   9.890000   9.580000  22833268.0   9.580000
 2019-12-30  10.160000   9.91   9.910000   9.980000  13906389.0   9.980000
 2019-12-31  10.200000   9.88  10.020000  10.100000   4290527.0  10.100000

 [492 rows x 6 columns],
 '1515.HK':              High    Low   Open  Close      Volume  Adj Close
 Date
 2018-01-02   9.86   9.68   9.86   9.75   1915040.0   9.176297
 2018-01-03  10.38   9.75   9.75   9.96  11785317.0   9.373941
 2018-01-04  10.40  10.08  10.10  10.36  15028160.0   9.750403
 2018-01-05  10.58  10.08  10.46  10.28  11171000.0   9.675111
 2018-01-08  10.56  10.28  10.28  10.46   6067000.0   9.844520
 ...           ...    ...    ...    ...         ...        ...
 2019-12-23   4.47   4.38   4.40   4.43   1617500.0   4.303429
 2019-12-24   4.56   4.44   4.44   4.55   1693500.0   4.420000
 2019-12-27   4.55   4.42   4.55   4.49   3457082.0   4.361714
 2019-12-30   4.48   4.42   4.46   4.44   3080000.0   4.313143
 2019-12-31   4.54   4.45   4.45   4.52   1128500.0   4.390857

 [492 rows x 6 columns]}

In [53]:
dict.keys()

dict_keys(['1099.HK', '0460.HK', '0570.HK', '0719.HK', '0775.HK', '0867.HK', '0874.HK', '0911.HK', '1066.HK', '1093.HK', '1302.HK', '1666.HK', '2186.HK', '2607.HK', '2877.HK', '3933.HK', '3886.HK', '2666.HK', '1530.HK', '1515.HK'])

In [56]:
for i,j in dict.items():
    name='df'+i[:-3]
    pd.DataFrame()